.news-archive {
    margin-top: 31px;

    @media(max-width: 1024px) {
        margin-top: 20px;
    }

    &__title {
        &:hover {
            color: $purple-3;
        }
    }

    &__name {
        transition: .2s ease-out;
    }

    &__unit {
        &:hover .news-archive__name {
            color: #34558B;
        }

        &:hover .news-archive__photo::after {
            opacity: 1;
        }
    }

    &__pag {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 47px;

        @media(max-width: 600px) {
            margin-top: 28px;
        }
    }

    &__authors {
        margin-top: 21px;

        @media(max-width: 1024px) {
            margin-top: 17px;
        }
    }

    &__slider {
        overflow: hidden;

        .swiper-pagination-bullet-active {
            background-color: $purple-3;
        }
    }

    &__wrapper {
        display: flex;

        @media(max-width: 640px) {
            flex-direction: column;
        }
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-top: 8px;

        @media(max-width: 1235px) {
            margin-left: -25px;
        }

        @media(max-width: 768px) {
            margin-left: -15px;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        width: calc(50% - 10px);
        margin-left: 10px;
        margin-top: 32px;

        @media(max-width: 1235px) {
            width: calc(50% - 25px);
            margin-left: 25px;
        }

        @media(max-width: 1024px) {
            flex-direction: column;
            align-items: flex-start;
        }

        @media(max-width: 768px) {
            width: calc(50% - 15px);
            margin-left: 15px;
        }

        @media(max-width: 640px) {
            // min-height: 214px;
            // height: 1px;
        }
    }

    &__right {

        @media(max-width: 640px) {
            margin-top: 30px;
            padding-bottom: 0px;
            border-bottom: none;
        }

        @media(max-width: 600px) {
            margin-top: 24px;
        }

        .news-actual__title {
            padding-left: 6px;
        }
    }

    &__left {
        max-width: 793px;
        padding-right: 50px;
        margin-right: 50px;
        box-sizing: content-box;
        border-right: 1px solid $gray-3;

        @media(max-width: 1300px) {
            padding-right: 40px;
            margin-right: 40px;
        }

        @media(max-width: 1235px) {
            max-width: 715px;
            width: 100%;
        }

        @media(max-width: 1120px) {
            max-width: 610px;
        }

        @media(max-width: 1024px) {
            max-width: 550px;
            margin-right: 30px;
            padding-right: 30px;
        }

        @media(max-width: 992px) {
            max-width: 508px;
        }

        @media(max-width: 920px) {
            max-width: 470px;
        }

        @media(max-width: 860px) {
            max-width: 337px;
        }

        @media(max-width: 768px) {
            padding-right: 20px;
            margin-right: 20px;
            max-width: 283px;
        }

        @media(max-width: 640px) {
            padding-right: 0;
            margin-right: 0;
            max-width: 100%;
            border-right: none;
            border-bottom: 1px solid $gray-3;
            padding-bottom: 16px;
        }
    }

    &__rght {
        @media(max-width: 640px) {
            margin-top: 16px;
        }
    }

    &__lft {
        display: flex;
        align-items: flex-end;
        max-width: 161px;
        width: 100%;
        height: 108px;
        margin-right: 16px;
        padding: 0 48px 20px 8px;
        cursor: pointer;
        background-size: cover;
        background-repeat: no-repeat;

        @media(max-width: 600px) {
            margin-right: 10px;
            padding: 0;
            justify-content: center;
            align-items: center;
        }

        @media(max-width: 320px) {
            background-repeat: no-repeat;
            background-size: cover;
            height: 148px;
            width: 100%;
            max-width: 100%;
            margin-right: 0;
        }


    }

    &__blocks {
        margin-top: 21px;

        @media(max-width: 1024px) {
            margin-top: 16px;
        }
    }

    &__block {
        display: flex;
        align-items: center;

        @media(max-width: 320px) {
            flex-direction: column;
        }

        &:not(:first-child) {
            margin-top: 27px;

            @media(max-width: 1024px) {
                margin-top: 19px;
            }

            @media(max-width: 640px) {
                margin-top: 16px;
            }

            @media(max-width: 600px) {
                margin-top: 20px;
            }
        }

        &:not(:last-child) {
            padding-bottom: 27px;
            border-bottom: 1px solid $gray-3;

            @media(max-width: 1024px) {
                padding-bottom: 20px;
            }

            @media(max-width: 640px) {
                padding-bottom: 16px;
            }
        }

        &:hover .news-archive__btn:before {
            width: 105px;
        }

        &:hover .news-archive__time {
            color: $purple-3;
        }

        &:hover .news-archive__text {
            color: $purple-3;
        }
    }

    &__btn {
        position: absolute;
        height: 40px;
        width: 40px;
        background-color: white;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;

        &:after {
            position: absolute;
            content: "";
            background-image: url("../img/icon/play.png");
            background-repeat: no-repeat;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 15px;
            height: 15px;
        }

        &:before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            background-color: white;
            transition: .3s;
        }
    }

    &__time {
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 18px;
        color: white;
        z-index: 1;

        @media(max-width: 1024px) {
            font-size: 14px;
            line-height: 20px;
        }
    }

    &__content {
        margin-top: 11px;

        @media(max-width: 1024px) {
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        @media(max-width: 640px) {
            height: auto;
        }
    }

    &__cover {
        position: relative;
        display: flex;
        max-width: 105px;
        width: 100%;
        height: 40px;
        border: 1px solid white;
        box-sizing: border-box;
        padding-left: 40px;
    }

    &__text {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        color: $black;
        display: block;
        letter-spacing: 0.5px;
        max-width: 200px;
        transition: .2s ease-out;

        @media(max-width: 640px) {
            max-width: 100%;
        }

        @media(max-width: 320px) {
            font-weight: bold;
            font-size: 16px;
            line-height: 130%;
        }
    }

    &__photo {
        height: 160px;
        width: 160px;
        // margin-right: 18px;
        position: relative;
        // min-width: 206px;
        // max-width: 206px;

        @media(max-width: 1235px) {
            // min-width: 154px;
            // max-width: 154px;
            // width: 154px;
        }

        @media(max-width: 1024px) {
            height: 153px;
            width: 153px;
            // min-width: 100%;
            margin-right: 0;
            //margin-bottom: 16px;
        }

        @media(max-width: 768px) {
            width: 100%;
            height: 125px;
            width: 125px;
        }

        @media(max-width: 640px) {
            height: 150px;
            width: 150px;
        }

        @media(max-width: 600px) {
            height: 136px;
            width: 136px;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__job {
        margin-top: 5px;
        color: $purple-3;
        font-size: 14px;
        line-height: 24px;

        @media(max-width: 1024px) {
            font-size: 14px;
            line-height: 24px;
            margin-top: auto;
        }

        @media(max-width: 768px) {
            font-size: 12px;
            line-height: 16px;
        }

        @media(max-width: 600px) {
            margin-top: 5px;
        }
    }

    &__name {
        display: block;
        line-height: 25px;
        font-family: "MinionPro", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 26px;
        transition: .2s ease-out;


        @media(max-width: 1024px) {
            margin-bottom: 0px;
        }

        @media(max-width: 768px) {
            font-size: 16px;
            line-height: 130%;
            max-width: 90px;
        }
    }

    &__item {
        &:hover .title-3 {
            color: $purple-3;
        }
    }

}