.news-temp {
    display: block;
    // height: 123px;
    margin-top: 60px;
    background-size: cover;

    @media(max-width: 1024px) {
        margin-top: 24px;
        // height: 170px;
    }

    // @media(max-width: 1024px) {
    //     background-image: url('../img/banner/banner-tablet2.jpg') !important;
    // }

    // @media(max-width: 600px) {
    //     height: 135px;
    //     // margin-top: 29px;
    // }

    // @media(max-width: 320px) {
    //     background-image: url('../img/banner/banner-mobile2.jpg') !important;
    //     height: 206px;
    // }

    // img {
    //     height: 100%;
    //     width: 100%;
    //     object-fit: cover;
    // }

    &--discount {
        margin-top: 30px;
    }
}