.news-slider {
    margin-top: 32px;
    padding-bottom: 24px;
    border-bottom: 1px solid $black;

    @media(max-width: 1024px) {
        margin-top: 24px;
    }

    &__grid {
        position: relative;
        height: 515px;

        @media(max-width: 1024px) {
            height: 450px;
        }

        @media(max-width: 920px) {
            height: 370px;
        }


        @media(max-width: 768px) {
            height: 300px;
        }

        @media(max-width: 768px) {
            height: 235px;
        }

        .swiper-slide,
        .swiper-wrapper {
            position: initial;
        }

    }

    &__gallery {
        max-width: 966px;
        height: 100%;
        overflow: hidden;

        &:hover .swiper-slide:after {
            opacity: 1;
        }

        .swiper-slide {
            position: relative;

            &:after {
                position: absolute;
                content: "";
                background-image: url("../img/icon/hover-block.svg");
                background-color: white;
                border-radius: 17px;
                height: 34px;
                width: 34px;
                background-repeat: no-repeat;
                background-size: contain;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                opacity: 0;
                transition: .3s ease-in-out;
            }
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__box {
        position: absolute;
        display: flex;
        flex-direction: column;
        max-width: 541px;
        height: 369px;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background-color: $gray-1;
        padding: 53px 37px 52px 51px;
        z-index: 1;

        @media(max-width: 1024px) {
            max-width: 530px;
            height: 300px;
            padding: 30px 30px 40px 51px;
        }

        @media(max-width: 920px) {
            display: flex;
            justify-content: flex-end;
            max-width: 100%;
            padding: 30px 16px 30px 16px;
            height: 100%;
            top: auto;
            background: transparent;
            width: 100%;
        }


    }

    &__thumbs {
        overflow: hidden;
        height: 100%;

        @media(max-width: 920px) {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 30px 16px;

        }

        .swiper-slide {
            display: flex;
            flex-direction: column;

            @media(max-width: 920px) {
                max-width: 100%;
                width: 100% !important;
                transform: none !important;
            }
        }

        .swiper-wrapper {
            min-height: 210px;

            @media(max-width: 920px) {
                min-height: auto;

            }
        }
    }

    &__title {
        @media(max-width: 920px) {
            color: white
        }
    }

    &__article {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: $purple-3;

        @media(max-width: 920px) {
            display: none;
        }
    }

    &__cover {
        display: block;
        margin-top: 37px;

        @media(max-width: 920px) {
            margin-top: auto;
            position: absolute;
            bottom: -30px;
            padding: 16px 25px;
            left: 0;
            right: 0;
            width: calc(100% + 32px);
            margin-left: -16px;
            background-color: rgba(0, 0, 0, .4);
        }

        &:hover .title-3 {
            color: $purple-1;

            @media(max-width: 920px) {
                color: white !important;
            }
        }
    }

    &__txt {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 160%;
        margin-top: 8px;

        @media(max-width: 920px) {
            display: none;
        }
    }

    &__func {
        display: flex;
        align-items: center;
        margin-top: auto;

        @media(max-width: 920px) {
            position: absolute;
            max-width: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            justify-content: space-between;
            padding: 0;
        }
    }

    &__pagination {
        display: flex;
        max-width: 41px;
        width: 100%;
        height: 10px;
        margin-right: 20px;

        @media(max-width: 920px) {
            position: absolute;
            max-width: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            justify-content: space-between;
        }
    }

    &__arrow {
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover .news-slider__gallery .swiper-slide:after {
            opacity: 1;
        }

        &:hover .b-svg {
            stroke: $purple-3;
        }

        &:not(:last-child) {
            margin-right: 22px;
        }

        &:first-child {
            transform: scale(-1, 1);
        }


        .b-svg {
            height: 12px;
            width: 12px;
            fill: none;
            stroke: $basic;
            stroke-width: 2;


            @media(max-width: 920px) {
                height: 20px;
                width: 20px;
                stroke: white;
            }
        }
    }

    .publish {
        margin-top: 0;

        @media(max-width: 920px) {
            display: none;
        }
    }
}