.news-detail {
    max-width: 926px;
    width: 100%;

    @media(max-width: 1024px) {
        max-width: 100%;
    }

    &__content {
        margin-top: 42px;
        margin-bottom: 58px;

        @media(max-width: 640px) {
            margin-top: 20px;
            margin-bottom: initial;
        }
    }

    &__header {
        display: none;
        color: $purple-3;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 160%;
        margin-top: 22px;

        @media(max-width: 600px) {
            display: block;
        }
    }

    &__cover {
        display: flex;
        flex-direction: column;

        @media(max-width: 600px) {
            order: 1;
        }
    }

    &__info {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;

        @media(max-width: 600px) {
            order: 1;
            margin-top: 12px;
        }
    }

    &__caption {
        margin-right: 22px;
        color: $purple-3;

        @media(max-width: 600px) {
            display: none;
        }
    }

    &__author {
        position: relative;
        padding-left: 22px;

        @media(max-width: 600px) {
            padding-left: 0;
        }

        &:before {
            position: absolute;
            content: "";
            background-repeat: no-repeat;
            left: 0;
            bottom: 0;
            top: 0;
            margin: auto;
            background-image: url(../img/icon/user2.png);
            width: 14px;
            height: 14px;

            @media(max-width: 600px) {
                content: none;
            }
        }
    }

    &__date {
        margin-right: 28px;

        @media(max-width: 600px) {
            margin-right: 16px;
        }
    }

    &__title {
        margin-top: 24px;

        @media(max-width: 600px) {
            margin-top: 7px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;

        @media(max-width: 600px) {
            padding-bottom: 16px;
            border-bottom: 1px solid $gray-3;
        }
    }

    &__txt {
        max-width: 736px;
        width: 100%;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 29px;
        margin-top: 40px;

        @media(max-width: 1024px) {
            max-width: 100%;
            font-size: 16px;
            line-height: 26px;
            margin-top: 30px;
        }

        @media(max-width: 600px) {
            font-size: 14px;
            line-height: 22px;
            margin-top: 7px;
        }
    }

    &__caption {
        margin-right: 33px;
    }

    &__block {
        max-width: 737px;
        margin: 0 auto;
        margin-top: 58px;

        @media(max-width: 1024px) {
            max-width: 100%;
            margin-top: 30px;
        }

        @media(max-width: 600px) {
            margin-top: 24px;
        }

        p {
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 29px;
            max-width: 700px;

            @media(max-width: 1024px) {
                max-width: 100%;
                font-size: 16px;
                line-height: 26px;
            }

            @media(max-width: 600px) {
                font-size: 14px;
                line-height: 22px;
            }

            &:not(:first-child) {
                margin-top: 28px;

                @media(max-width: 1024px) {
                    margin-top: 20px;
                }
            }
        }

        .title-2 {
            text-align: center;
            padding: 0;
            margin-bottom: 24px;

            @media(max-width: 1024px) {
                text-align: left;
            }
        }
    }

    &__quote {
        position: relative;
        text-align: center;
        padding-top: 70px;
        max-width: 737px;
        margin: 0 auto;
        margin-top: 30px;


        @media(max-width: 1024px) {
            max-width: 520px;
            margin: 0 auto 0;
            margin-top: 30px;
            font-size: 16px;
            line-height: 26px;
            padding-top: 40px;
        }

        &:after {
            position: absolute;
            content: "";
            background-image: url("../img/icon/quote.png");
            width: 41px;
            height: 55px;
            background-repeat: no-repeat;
            top: 0;
            left: 0;
            right: 0;
            margin: auto;

            @media(max-width: 1024px) {
                background-size: contain;
                width: 30px;
                height: 40px;
            }
        }
    }

    &__note {
        font-style: italic;
        font-weight: normal;
        font-size: 18px;
        line-height: 29px;
        margin-top: 0 !important;

        @media(max-width: 1024px) {
            font-size: 16px;
            line-height: 26px;
        }

        @media(max-width: 600px) {
            font-size: 14px;
            line-height: 22px;
        }
    }

    &__creator {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: $purple-3;
        margin-top: 16px;

        @media(max-width: 1024px) {
            margin-top: 10px;
        }
    }

    &__ic {
        margin-right: 10px;
    }

    &__back {
        position: relative;
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 12px;
        line-height: 19px;
        margin-top: -14px;
        transition: .3s;


        @media(max-width: 640px) {
            margin-top: 0px;
        }

        .b-svg {
            width: 30px;
            height: 10px;
            transition: .3s;
        }

        &:hover {
            color: $purple-3;
        }

        &:hover .b-svg {
            transform: translateX(-5px);
            fill: $purple-3;
        }
    }

    .edition-network {
        max-width: 963px;
        margin-top: 70px;

        @media(max-width: 1024px) {
            margin-top: 30px;
        }

        &__left {
            margin-right: 56px;

            @media(max-width: 600px) {
                max-width: 100%;
                margin-right: 0;
            }
        }
    }
}