.news-temp {
    display: block;
    // height: 123px;
    margin-top: 60px;
    background-size: cover;

    @media(max-width: 1024px) {
        margin-top: 24px;
        width: calc(100% + 30px);
        margin-left: -15px;
    }

    // @media(max-width: 1024px) {
    //     background-image: url('../img/banner/banner-tablet2.jpg') !important;
    // }

    // @media(max-width: 600px) {
    //     height: 135px;
    //     // margin-top: 29px;
    // }

    // @media(max-width: 320px) {
    //     background-image: url('../img/banner/banner-mobile2.jpg') !important;
    //     height: 206px;
    // }

    // img {
    //     height: 100%;
    //     width: 100%;
    //     object-fit: cover;
    // }

    &--discount {
        margin-top: 30px;
    }

    .banner {
        padding-top: 9.27%;

        @media(max-width: 1024px) {
            padding-top: 12.013%;
        }

        @media(max-width: 768px) {
            padding-top: 16.1%;
        }

        @media(max-width: 375px) {
            padding-top: 36%;
        }

        @media(max-width: 320px) {
            padding-top: 42.19%;
        }

        .ad-banner-image-tablet {
            @media(max-width: 1024px) {
                display: block;
            }

            @media(max-width: 768px) {
                display: none;
            }
        }

        .ad-banner-image-tablet-768 {
            @media(max-width: 768px) {
                display: block;
            }

            @media(max-width: 375px) {
                display: none;
            }
        }
    }
}