.news-detail {

    &__info {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px
    }

    &__caption {
        margin-right: 22px;
        margin-right: 22px;
        color: $purple-3;
    }

    &__author {
        position: relative;
        padding-left: 22px;

        &:before {
            position: absolute;
            content: "";
            background-repeat: no-repeat;
            left: 0;
            bottom: 0;
            top: 0;
            margin: auto;
            background-image: url(../img/icon/user2.png);
            width: 14px;
            height: 14px;
        }
    }

    &__date {
        margin-right: 28px;
    }

    &__content {
        margin-top: 24px;
    }


    &__txt {
        max-width: 736px;
        width: 100%;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 29px;
        margin-top: 40px;
    }

    &__caption {
        margin-right: 33px;
    }
}