.news-temp {
    height: 212px;
    margin-top: 60px;

    @media(max-width: 1024px) {
        margin-top: 24px;
        height: 170px;
    }

    @media(max-width: 600px) {
        height: 135px;
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}