.news-today {
    margin-top: 30px;

    @media(max-width: 1024px) {
        padding-top: 24px;
        padding-bottom: 16px;
        border-bottom: 1px solid $black;
        border-top: 1px solid $black;
    }

    &__block {
        display: block;
        max-width: 318px;
        height: 212px;

        @media(max-width: 1024px) {
            display: none;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        &--other {
            height: 228px;
            margin-top: 32px;
        }
    }

    &__item {
        margin-top: 32px;
    }

    &__title {
        padding: 0;
        text-align: center;

        &:hover {
            color: initial;
        }
    }

    &--include {
        display: none;

        @media(max-width: 1024px) {
            display: block;
            margin-top: 30px;
        }

        @media(max-width: 640px) {
            margin-top: 22px;
        }

        .news-today__title {
            @media(max-width: 600px) {
                font-size: 22px;
                line-height: 26px;
            }
        }

        .btn {
            max-width: 560px;
            margin: 0 auto;
            margin-top: 20px;

            @media(max-width: 600px) {
                max-width: 100%;
            }
        }

        .news-today__item {
            @media(max-width: 1024px) {
                margin-top: 0px;
            }
        }
    }
}