.release-year {
    margin-top: 14px;
    max-width: 757px;
    width: 100%;

    @media(max-width: 1235px) {
        max-width: 743px;
    }

    @media(max-width: 1024px) {
        margin-top: 0;
    }

    @media(max-width: 768px) {
        max-width: 695px;
    }

    @media(max-width: 700px) {
        max-width: 590px;
    }

    @media(max-width: 600px) {
        max-width: 470px;
    }

    @media(max-width: 500px) {
        max-width: 350px;
    }

    @media(max-width: 350px) {
        max-width: 290px;
    }

    &__item {
        position: relative;
        // display: inline-block;
        cursor: pointer;
        transition: font-weight .2s linear;
        font-family: "Open Sans", sans-serif;
        margin-top: 9px;
        min-width: 43px;
        padding-left: 4px;
        margin-left: 4px;

        @media(max-width: 1024px) {
            font-size: 14px;
            line-height: 22px;
        }

        &:hover {
            text-shadow: 0 0 .65px #333, 0 0 .65px #333;
            color: $purple-3;
        }


        &::before {
            position: absolute;
            content: "";
            height: 100%;
            width: 1px;
            background-color: $gray-3;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            pointer-events: none;
        }

        // &:not(:first-child) {
        //     padding-left: 6px;
        //     margin-left: 2px;

        //     &::before {
        //         position: absolute;
        //         content: "";
        //         height: 100%;
        //         width: 1px;
        //         background-color: $gray-3;
        //         left: 0;
        //         top: 0;
        //         bottom: 0;
        //         margin: auto;
        //         pointer-events: none;
        //     }
        // }

        &:nth-child(16n + 1) {
            padding-left: 0px;
            margin-left: 0px;

            &::before {
                content: none;
            }

            @media(max-width: 1235px) {
                padding-left: 4px;
                margin-left: 4px;

                &::before {
                    content: "";
                }
            }
        }

        @media(max-width: 1235px) {
            &:nth-child(15n + 1) {
                padding-left: 0px;
                margin-left: 0px;

                &::before {
                    content: none;
                }
            }
        }

        @media(max-width: 768px) {
            &:nth-child(15n + 1) {
                padding-left: 4px;
                margin-left: 4px;

                &::before {
                    content: "";
                }
            }

            &:nth-child(14n + 1) {
                padding-left: 0px;
                margin-left: 0px;

                &::before {
                    content: none;
                }
            }
        }

        @media(max-width: 700px) {
            &:nth-child(14n + 1) {
                padding-left: 4px;
                margin-left: 4px;

                &::before {
                    content: "";
                }
            }

            &:nth-child(12n + 1) {
                padding-left: 0px;
                margin-left: 0px;

                &::before {
                    content: none;
                }
            }
        }

        @media(max-width: 600px) {
            &:nth-child(12n + 1) {
                padding-left: 4px;
                margin-left: 4px;

                &::before {
                    content: "";
                }
            }

            &:nth-child(10n + 1) {
                padding-left: 0px;
                margin-left: 0px;

                &::before {
                    content: none;
                }
            }
        }

        @media(max-width: 500px) {
            &:nth-child(10n + 1) {
                padding-left: 4px;
                margin-left: 4px;

                &::before {
                    content: "";
                }
            }

            &:nth-child(7n + 1) {
                padding-left: 0px;
                margin-left: 0px;

                &::before {
                    content: none;
                }
            }
        }

        @media(max-width: 355px) {
            &:nth-child(7n + 1) {
                padding-left: 4px;
                margin-left: 4px;

                &::before {
                    content: "";
                }
            }

            &:nth-child(6n + 1) {
                padding-left: 0px;
                margin-left: 0px;

                &::before {
                    content: none;
                }
            }
        }

        &:first-child {
            padding-left: 0px;
            margin-left: 0px;

            &::before {
                content: none;
            }
        }

        &--active {
            text-shadow: 0 0 .65px #333, 0 0 .65px #333;
            color: $purple-3;
        }
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        min-width: 43px;
        margin-top: 8px;
        // margin-left: -10px;
    }
}