.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    margin-top: 20px;
    background-color: $gray-1;
    border: 1px solid $black;
    cursor: pointer;
    transition: .2s ease-out;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    text-align: center;

    &:hover {
        background-color: $purple-3;
        color: white
    }

    @media(max-width: 600px) {
        height: 53px;
    }

    &--video {
        background-color: $purple-3;
        color: white;
        height: 53px;
        margin-top: 30px;
        border-color: $purple-3;

        @media(max-width: 600px) {
            margin-top: 16px;
        }

        &:hover {
            background-color: white;
            color: $black-2;
            border-color: $black-2;

            .b-svg {
                fill: $black-2;
            }
        }

        .b-svg {
            fill: white;
            transition: .2s ease-out;
        }

        .btn__txt {
            margin-right: 10px;
        }

        .btn__ic {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 12px;
            height: 12px;

            .b-svg {
                height: 100%;
                width: 100%;
            }
        }
    }


    &--blue {
        background-color: $purple-3;
        color: white;
        border-color: $purple-3;
        max-width: 150px;
        width: 100%;

        &:hover {
            background-color: $gray-1;
            color: $black;
        }
    }

    &--close {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        left: auto;
        margin: auto;
        height: 30px;
        width: 30px;
        box-sizing: content-box;
        background-color: transparent;
        padding: 0;
        border: none;
        opacity: 0;
        visibility: hidden;
        transition: .3s;

        &:after,
        &:before {
            position: absolute;
            content: "";
            width: 2px;
            height: 20px;
            background-color: black;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            transform-origin: center;

            @media(max-width: 600px) {
                height: 15px;
            }
        }

        &:after {
            transform: rotate(45deg)
        }

        &:before {
            transform: rotate(-45deg)
        }

        @media(max-width: 600px) {
            height: 15px;
            width: 21px;
        }

        &:hover {
            background-color: transparent;
        }
    }
}