$basic: #49474A;
$black: #27202C;
$black-2: #26202C;
$header: #ffffff !default;

//============== Orange ============//

$orange-1: #FF9800;

//============== Blue ==============//

$blue-1: #3B5999;

//=============== Purple ============================//
$purple-1: #0E4F95;
$purple-2: #44678D;
$purple-3: #34558B;


//============ Gray ===============//
$gray-1: #F6F6F6;
$gray-2: #DBD4E0;
$gray-3: #d7d7d7;
$gray-4: #FAFAFA;
$gray-5: #c4c4c4;
$gray-7: #f7f7f7;
$gray-8: #848484;




//=========== Red =============//
$red: #C74444;