.mf-search {
    &--active {
        opacity: 1 !important;
        visibility: visible !important;
    }
}

.mf-cover {
    width: 100%;
    height: 100%;
    background: linear-gradient(49.12deg, #FFDD55 6.62%, #FF543E 50.06%, #C837AB 93.5%);
    border-radius: 10px;
    transition: .2s ease-out;

    @media(max-width: 1024px) {
        border-radius: 7px;
    }
}

.mf-fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    box-shadow: 0 2px 12px rgba(51, 51, 51, .55);
    transition: .2s ease-out;
    min-height: auto !important;

    .container {
        padding: 14px 20px 9px !important;

        @media (max-width: 640px) {
            padding: 5px 15px 5px !important;
        }
    }

    .header__top {
        & .container {
            @media(max-width: 1024px) {
                padding: 10px 40px 8px !important;
            }

            @media(max-width: 768px) {
                padding: 10px 15px 8px !important;
            }
        }
    }

    .header__bottom {
        & .container {
            padding: 6px 20px 5px !important;

            @media(max-width: 1024px) {
                padding: 9px 40px 10px !important;
            }

            @media(max-width: 768px) {
                padding: 10px 15px 8px !important;
            }
        }

        .header__link {
            &:not(:last-child) {
                // margin-right: 34px;

                // @media(max-width: 1235px) {
                //     margin-right: 15px;
                // }

                // @media(max-width: 1024px) {
                //     margin-right: 24px;
                // }
            }
        }
    }

    .header__logo {
        height: 45px;
        width: 161px;
        margin-right: 31px;
        margin-left: -8px;

        @media (max-width: 1024px) {
            margin-right: 0;
            margin-left: 0;
            height: 34px;
            width: 111px;
        }

        @media (max-width: 640px) {
            height: 28px;
            width: 33.333%;
            // max-width: 165px;
        }
    }



    .checkbox__text:before {
        top: -3px !important;
    }

    .checkbox__text:after {
        top: 0 !important;
    }

    // .checkbox input:checked+.checkbox__text:after {
    //     left: 20px !important;
    // }

    // .checkbox {
    //     width: 40px !important;
    // }

    .header__form button {
        width: 40px;
    }

    .header__article,
    .header__link {
        font-size: 16px !important;
        line-height: 16px !important;

        @media(max-width: 1235px) {
            font-size: 14px !important;
            line-height: 22px !important;
        }
    }

    // .header__bottom .header__link:not(:last-child) {
    //     margin-right: 37px;
    // }

    .header__func--active {
        color: $purple-3;

        .burger {
            span {
                background-color: $purple-3;

                &:nth-child(1) {
                    transform: rotate(45deg) !important;
                    top: 8px;
                    transition: .4s;

                    @media (max-width:1235px) {
                        top: 7px;
                    }
                }

                &:nth-child(3) {
                    transform: rotate(-45deg) !important;
                    top: -8px;
                    transition: .4s;

                    @media (max-width:1235px) {
                        top: -7px;
                    }
                }

                &:nth-child(2) {
                    width: 0;
                }
            }
        }
    }

    .burger {
        width: 25px;

        @media(max-width: 640px) {
            width: 18px;
        }

        span {
            height: 3px;

            @media(max-width: 640px) {
                height: 2px;
            }
        }

        &.burger--active {
            span {
                &:nth-child(1) {
                    @media(max-width: 1024px) {
                        top: 7px;
                    }

                    @media(max-width: 640px) {
                        top: 6px;
                    }
                }

                &:nth-child(3) {
                    @media(max-width: 1024px) {
                        top: -7px;
                    }

                    @media(max-width: 640px) {
                        top: -6px;
                    }
                }
            }

        }
    }
}

.mf-empty {
    padding: 0 !important;
}

.fill {
    transition: fill .4s ease;
}