.mf-search {
    &--active {
        opacity: 1 !important;
        visibility: visible !important;
    }
}

.mf-cover {
    width: 100%;
    height: 100%;
    background: linear-gradient(49.12deg, #FFDD55 6.62%, #FF543E 50.06%, #C837AB 93.5%);
    border-radius: 10px;
    transition: .2s ease-out;

    @media(max-width: 1024px) {
        border-radius: 7px;
    }
}

.mf-fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    box-shadow: 0 2px 12px rgba(51, 51, 51, .55);
    transition: .2s ease-out;
    min-height: auto !important;

    .container {
        padding: 15px 20px 15px !important;

        @media (max-width: 1024px) {
            padding: 15px 15px 15px !important;
        }
    }

    .header__logo {
        height: 55px;
        width: 185px;
    }
}