.publish {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    margin-top: 32px;

    @media(max-width: 1235px) {
        margin-top: 16px;
    }

    @media(max-width: 1024px) {
        margin-top: 7px;
        font-size: 12px;
        line-height: 19px;
    }

    @media(max-width: 640px) {
        margin-top: 12px;
    }

    &__wrapper {
        display: flex;
    }

    &__date {
        margin-right: 23px;
    }

    &__person {
        position: relative;
        padding-left: 22px;
        letter-spacing: 0.5px;

        @media(max-width: 600px) {
            padding-left: 0;
        }


        &:before {
            position: absolute;
            content: "";
            background-image: url('../img/icon/user.png');
            background-repeat: no-repeat;
            width: 14px;
            height: 14px;
            left: 0;
            bottom: 0;
            top: 0;
            margin: auto;

            @media(max-width: 600px) {
                content: none;
            }
        }
    }
}