footer.footer
    .footer__top
        .footer__container.container
            .footer__box
                a(href="javascript:void(0);").footer__logo
                        +svg('logo')
                .footer__cover
                    .footer__items
                        .footer__bloc
                            a(href="javascript:void(0);").footer__item.footer__item--active Главная
                            a(href="javascript:void(0);").footer__item Архив
                        .footer__bloc
                            a(href="javascript:void(0);").footer__item Рубрики
                            a(href="javascript:void(0);").footer__item Фоторепортажи
                        .footer__bloc
                            a(href="javascript:void(0);").footer__item Редакция
                            a(href="javascript:void(0);").footer__item Реклама
                        .footer__bloc
                            a(href="javascript:void(0);").footer__item История города
                            a(href="javascript:void(0);").footer__item Поиск
                        .footer__bloc
                            a(href="javascript:void(0);").footer__item Бригада
                            a(href="javascript:void(0);").footer__item Нашли ошибку?
                    
                    .footer__wrapper
                        a(href="javascript:void(0);").footer__partner
                            img(src="./img/p1.png" alt="")
                        a(href="javascript:void(0);").footer__partner
                            img(src="./img/p2.png" alt="")
                        a(href="javascript:void(0);").footer__partner
                            img(src="./img/p3.png" alt="")
            .footer__box.footer__box--counter
                .footer__note © АНО «Редакция газеты «Магнитогорский металл». (2005-2019).
                .footer__counters
                    .footer__count 
                        img(src="./img/count.png" alt="")
                    .footer__count 
                        img(src="./img/count.png" alt="")
                    .footer__count 
                        img(src="./img/count.png" alt="")
                    .footer__count 
                        img(src="./img/count.png" alt="")
                    
    .footer__bottom
        .footer__container.container
             .footer__box.footer__box--quote
                a(href="javascript:void(0);").footer__person  Пользовательское соглашение
                .footer__quote Digital агентство <a href="javascript:void(0);">Uralmedias</a>
