footer.footer
    <a id="btnUp">
        <svg width="20" height="20" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M19 11L9.99996 1.99996L0.999921 11" stroke="#F6F6F6" stroke-width="2"/>
        </svg>
    </a>
    .footer__top
        .footer__container.container
            //- a(href="javascript:void(0);").footer__logo
            //-         +svg('logo')
            .footer__box
                a(href="javascript:void(0);").footer__logo
                        +svg('logo')

                //меню в три колонки
                .footer__items.footer__items--cols3
                    .footer__bloc
                        a(href="javascript:void(0);").footer__item.footer__item--active Главная
                        a(href="javascript:void(0);").footer__item Архив
                        a(href="javascript:void(0);").footer__item Рубрики
                    .footer__bloc
                        a(href="javascript:void(0);").footer__item Фоторепортажи
                        a(href="javascript:void(0);").footer__item Редакция
                        a(href="javascript:void(0);").footer__item Реклама и объявления
                    .footer__bloc
                        a(href="javascript:void(0);").footer__item История города
                        a(href="javascript:void(0);").footer__item Бригада
                        a(href="javascript:void(0);").footer__item Видеоархив

                //меню в две колонки для мобильных
                .footer__items.footer__items--cols2
                    .footer__bloc
                        a(href="javascript:void(0);").footer__item.footer__item--active Главная
                        a(href="javascript:void(0);").footer__item Архив
                        a(href="javascript:void(0);").footer__item Рубрики
                        a(href="javascript:void(0);").footer__item Фоторепортажи
                        a(href="javascript:void(0);").footer__item Редакция
                    .footer__bloc
                        a(href="javascript:void(0);").footer__item Реклама и объявления
                        a(href="javascript:void(0);").footer__item Бригада
                        a(href="javascript:void(0);").footer__item История города
                        a(href="javascript:void(0);").footer__item Видеоархив

                .footer__wrapper
                    .footer__soc
                        .header__box
                            a(href="javascript:void(0);").header__soc.header__soc--vk
                                +svg('vk')
                            a(href="javascript:void(0);").header__soc.header__soc--inst
                                img(src="./img/icon/inst.png" alt="")
                            a(href="javascript:void(0);").header__soc.header__soc--face
                                +svg('face')
                            a(href="javascript:void(0);").header__soc.header__soc--ok
                                +svg('ok')
                    .header__box
                        a(href="javascript:void(0);").footer__partner
                            img(src="./img/p1.png" alt="")

    .footer__bottom
        .footer__container.container
             .footer__box.footer__box--quote
                a(href="javascript:void(0);").footer__person  Пользовательское соглашение
                .footer__note © АНО «Редакция газеты «Магнитогорский металл». (2005-2019).
                .footer__quote Digital агентство <a href="javascript:void(0);">Uralmedias</a>

    include ./modals
    .overlay