footer.footer
    .footer__top
        .footer__container.container
            .footer__box
                a(href="javascript:void(0);").footer__logo
                        +svg('logo')
                .footer__cover
                    .footer__items
                        //- a(href="javascript:void(0);").footer__item.footer__item--active Главная
                        //- a(href="javascript:void(0);").footer__item Архив
                        //- a(href="javascript:void(0);").footer__item Рубрики
                        //- a(href="javascript:void(0);").footer__item Фоторепортажи
                        //- a(href="javascript:void(0);").footer__item Редакция
                        //- a(href="javascript:void(0);").footer__item Реклама
                        //- a(href="javascript:void(0);").footer__item История города
                        //- a(href="javascript:void(0);").footer__item Поиск
                        //- a(href="javascript:void(0);").footer__item Бригада
                        .footer__bloc
                            a(href="javascript:void(0);").footer__item.footer__item--active Главная
                            a(href="javascript:void(0);").footer__item Архив
                            a(href="javascript:void(0);").footer__item Рубрики
                        .footer__bloc
                            a(href="javascript:void(0);").footer__item Фоторепортажи
                            a(href="javascript:void(0);").footer__item Редакция
                            a(href="javascript:void(0);").footer__item Реклама
                        .footer__bloc
                            a(href="javascript:void(0);").footer__item История города
                            a(href="javascript:void(0);").footer__item Поиск
                            a(href="javascript:void(0);").footer__item Бригада
                            a(href="javascript:void(0);").footer__item.footer__item--hidden Нашли ошибку?
                    .footer__wrapper
                        a(href="javascript:void(0);").footer__ref Нашли ошибку?
                        a(href="javascript:void(0);").footer__partner
                            img(src="./img/p1.png" alt="")
                        .footer__soc.footer__soc--hidden
                            .header__box
                                a(href="javascript:void(0);").header__soc.header__soc--vk
                                    +svg('vk')
                                a(href="javascript:void(0);").header__soc.header__soc--inst
                                    img(src="./img/icon/inst.png" alt="")
                                a(href="javascript:void(0);").header__soc.header__soc--face
                                    +svg('face')
                                a(href="javascript:void(0);").header__soc.header__soc--ok
                                    +svg('ok')
                .footer__soc
                    .header__box
                        a(href="javascript:void(0);").header__soc.header__soc--vk
                            +svg('vk')
                        a(href="javascript:void(0);").header__soc.header__soc--inst
                            img(src="./img/icon/inst.png" alt="")
                        a(href="javascript:void(0);").header__soc.header__soc--face
                            +svg('face')
                        a(href="javascript:void(0);").header__soc.header__soc--ok
                            +svg('ok')
                        //- .footer__bloc
                        //-     a(href="javascript:void(0);").footer__item.footer__item--active Главная
                        //-     a(href="javascript:void(0);").footer__item Архив
                                a(href="javascript:void(0);").footer__item Рубрики
                        //- .footer__bloc
                        //-     a(href="javascript:void(0);").footer__item Рубрики
                        //-     a(href="javascript:void(0);").footer__item Фоторепортажи
                        //- .footer__bloc
                        //-     a(href="javascript:void(0);").footer__item Редакция
                        //-     a(href="javascript:void(0);").footer__item Реклама
                        //- .footer__bloc
                        //-     a(href="javascript:void(0);").footer__item История города
                        //-     a(href="javascript:void(0);").footer__item Поиск
                        //- .footer__bloc
                        //-     a(href="javascript:void(0);").footer__item Бригада
                        //-     a(href="javascript:void(0);").footer__item Нашли ошибку?
                    
                                 
                    
    .footer__bottom
        .footer__container.container
             .footer__box.footer__box--quote
                a(href="javascript:void(0);").footer__person  Пользовательское соглашение
                .footer__note © АНО «Редакция газеты «Магнитогорский металл». (2005-2019).
                .footer__quote Digital агентство <a href="javascript:void(0);">Uralmedias</a>
