include ../mixins
.ad
    .container
        .content.content--ad
            a(href="javascript:void(0);")
                img(src="./img/banner.png" alt="")
            //- h1 Заголовок 1
            //- h2 Заголовок 2
            //- h3 Заголовок 3
            //- h4 Заголовок 4
            //- ol 
            //-     li Test 1
            //-     li Test 2
            //-     li Test 3
            //- p <a href="#">Lorem ipsum dolor</a> sit amet consectetur adipisicing elit. Quam est ipsa minima accusamus, aliquid saepe iure eaque blanditiis modi cumque tempore dignissimos voluptatem corrupti recusandae itaque voluptatum non vel assumenda?
            //- img(src="./img/banner.png" alt="")
header.header
    .header__inner
        .header__top
            .container
                .header__wrapper
                    .header__block
                        .burger.burger--laptop
                            span
                            span
                            span
                    a(href="javascript:void(0);").header__logo
                        +svg('logo')
                    .header__func
                        .burger
                            span
                            span
                            span
                        .header__article Все рубрики
                    .header__wrp
                        .header__nav
                            a(href="javascript:void(0);").header__link Фоторепортажи
                            a(href="javascript:void(0);").header__link История города
                            a(href="javascript:void(0);").header__link Подать объявление
                            a(href="javascript:void(0);").header__link Архив
                            a(href="javascript:void(0);").header__link Редакция
                        form.header__switch
                            <label class="checkbox header__theme">
                                <input type="checkbox" class="theme-button" checked/>
                                <div class="checkbox__text"></div>
                            </label>
                    .header__block
                    form(class="header__search header__search--laptop" action="" method="get" )
                        .header__in
                            input(type="text" name='search' placeholder="Ваш запрос" required)
                            button.btn.btn--close
                        button.header__btn
                            +svg('search')
        .header__bottom
            .container
                .header__wrapper
                    .header__nav
                            a(href="javascript:void(0);").header__link.header__link--active Экономика
                            a(href="javascript:void(0);").header__link Политика
                            a(href="javascript:void(0);").header__link Спорт
                            a(href="javascript:void(0);").header__link Город
                            a(href="javascript:void(0);").header__link Область
                            a(href="javascript:void(0);").header__link Мир
                            a(href="javascript:void(0);").header__link Россия
                            a(href="javascript:void(0);").header__link События
                            a(href="javascript:void(0);").header__link ММК
                    form(class="header__form" action="" method="get")
                        .header__field
                            input(name="s" placeholder="Поиск" type="search" id="input-search")
                            +svg('search')
                        button(type="submit" class="mf-search")
        .header__section
            .container
                .header__items
                    .header__item
                        a(href="javascript:void(0);").header__ref.header__ref--active Официально
                        a(href="javascript:void(0);").header__ref События и комментарии
                        a(href="javascript:void(0);").header__ref Политика. Власть. Общество
                        a(href="javascript:void(0);").header__ref Экономика и финансы
                        a(href="javascript:void(0);").header__ref Городской проспект
                        a(href="javascript:void(0);").header__ref Авто миг
                        a(href="javascript:void(0);").header__ref О ком говорят
                        a(href="javascript:void(0);").header__ref О чем говорят
                        a(href="javascript:void(0);").header__ref Экстрим
                        a(href="javascript:void(0);").header__ref Здоровье
                        a(href="javascript:void(0);").header__ref Авто миг
                        a(href="javascript:void(0);").header__ref О ком говорят
                        a(href="javascript:void(0);").header__ref О чем говорят
                        a(href="javascript:void(0);").header__ref Экстрим
                        a(href="javascript:void(0);").header__ref Здоровье
                        a(href="javascript:void(0);").header__ref Авто миг
                        a(href="javascript:void(0);").header__ref О ком говорят
                    .header__item
                        a(href="javascript:void(0);").header__ref Действующие лица
                        a(href="javascript:void(0);").header__ref Спорт
                        a(href="javascript:void(0);").header__ref Рабочий квартал
                        a(href="javascript:void(0);").header__ref Таланты Магнитки
                        a(href="javascript:void(0);").header__ref Кумиры
                        a(href="javascript:void(0);").header__ref Действующие лица
                        a(href="javascript:void(0);").header__ref Спорт
                        a(href="javascript:void(0);").header__ref Рабочий квартал
                        a(href="javascript:void(0);").header__ref Действующие лица
                        a(href="javascript:void(0);").header__ref Спорт
                        a(href="javascript:void(0);").header__ref Рабочий квартал
                        a(href="javascript:void(0);").header__ref Таланты Магнитки
                        a(href="javascript:void(0);").header__ref Кумиры
                        a(href="javascript:void(0);").header__ref Действующие лица
                        a(href="javascript:void(0);").header__ref Спорт
                        a(href="javascript:void(0);").header__ref Рабочий квартал
                        a(href="javascript:void(0);").header__ref Спорт
                        a(href="javascript:void(0);").header__ref Рабочий квартал
                    .header__item
                        a(href="javascript:void(0);").header__ref Официально
                        a(href="javascript:void(0);").header__ref События и комментарии
                        a(href="javascript:void(0);").header__ref Политика. Власть. Общество
                        a(href="javascript:void(0);").header__ref Экономика и финансы
                        a(href="javascript:void(0);").header__ref Городской проспект
                        a(href="javascript:void(0);").header__ref Народная экономика: и жизнь
                        a(href="javascript:void(0);").header__ref Кино на ТВЦ/ТВ-ИН
                        a(href="javascript:void(0);").header__ref Письмо в редакцию
                        a(href="javascript:void(0);").header__ref Педсовет
                        a(href="javascript:void(0);").header__ref Социум
        .header__menu
            .container
                .header__cover
                    .header__bloc
                        a(href="javascript:void(0);").header__refer.header__refer--active Фоторепортажи
                        a(href="javascript:void(0);").header__refer История города
                        a(href="javascript:void(0);").header__refer Подать объявление
                        a(href="javascript:void(0);").header__refer Реклама
                        a(href="javascript:void(0);").header__refer Архив
                        a(href="javascript:void(0);").header__refer Редакция
                        a(href="javascript:void(0);").header__refer Все рубрики
                
                .header__partners
                    a(href="javascript:void(0);").header__partner
                        img(src="./img/p1.png" alt="")
            .header__unique
                .header__container
                    .header__specific
                        .header__box
                            a(href="javascript:void(0);").header__soc.header__soc--vk
                                +svg('vk')
                            a(href="javascript:void(0);").header__soc.header__soc--inst
                                img(src="./img/icon/inst.png" alt="")
                            a(href="javascript:void(0);").header__soc.header__soc--face
                                +svg('face')
                            a(href="javascript:void(0);").header__soc.header__soc--ok
                                +svg('ok')
                        form.header__switch.header__switch--laptop
                            <label class="checkbox header__theme">
                                <input type="checkbox" class="theme-button" checked/>
                                <div class="checkbox__text"></div>
                            </label>
                
