.news-banner.js-banner-slider
	.news-banner__cover
		a(href="javascript:void(0);").news-banner__block
			.ad-banner-image-desktop.bgi.banner(style="background-image: url(./img/special/banner5.jpg);")
			.ad-banner-image-tablet.bgi.banner(style="background-image: url('./img/special/banner5-tablet.jpg');")
			.ad-banner-image-mobile-375.bgi.banner(style="background-image: url('./img/special/banner-mobile5-375.jpg');")
		a(href="javascript:void(0);").news-banner__block.news-banner__block--other
			.ad-banner-image-desktop.bgi.banner(style="background-image: url(./img/special/banner5.jpg);")
			.ad-banner-image-tablet.bgi.banner(style="background-image: url('./img/special/banner5-tablet.jpg');")
			.ad-banner-image-mobile-375.bgi.banner(style="background-image: url('./img/special/banner-mobile5-375.jpg');")
		a(href="javascript:void(0);").news-banner__block.news-banner__block--other
			.ad-banner-image-desktop.bgi.banner(style="background-image: url(./img/special/banner5.jpg);")
			.ad-banner-image-tablet.bgi.banner(style="background-image: url('./img/special/banner5-tablet.jpg');")
			.ad-banner-image-mobile-375.bgi.banner(style="background-image: url('./img/special/banner-mobile5-375.jpg');")
		a(href="javascript:void(0);").news-banner__block.news-banner__block--other
			.ad-banner-image-desktop.bgi.banner(style="background-image: url(./img/special/banner5.jpg);")
			.ad-banner-image-tablet.bgi.banner(style="background-image: url('./img/special/banner5-tablet.jpg');")
			.ad-banner-image-mobile-375.bgi.banner(style="background-image: url('./img/special/banner-mobile5-375.jpg');")