a(href="javascript:void(0);").news-temp
	.ad-banner-image-desktop.bgi.banner(style="background-image: url(./img/special/banner2.jpg);")
	.ad-banner-image-tablet.bgi.banner(style="background-image: url('./img/special/banner-tablet2.jpg');")
	.ad-banner-image-tablet-768.bgi.banner(style="background-image: url('./img/special/banner-tablet2-768.jpg');")
	.ad-banner-image-mobile-375.bgi.banner(style="background-image: url('./img/special/banner-mobile2-375.jpg');")