.news-banner
	a(href="javascript:void(0);").news-banner__block
		.ad-banner-image-desktop.bgi.banner(style="background-image: url(./img/special/banner4.jpg);")
		.ad-banner-image-tablet.bgi.banner(style="background-image: url('./img/special/banner4.jpg');")
		.ad-banner-image-tablet-768.bgi.banner(style="background-image: url('./img/special/banner4.jpg');")
		.ad-banner-image-mobile-375.bgi.banner(style="background-image: url('./img/special/banner-mobile4-375.jpg');")
		.ad-banner-image-mobile-320.bgi.banner(style="background-image: url('./img/special/banner-mobile4-320.jpg');")
	a(href="javascript:void(0);").news-banner__block.news-banner__block--other
		.ad-banner-image-desktop.bgi.banner(style="background-image: url(./img/special/banner5.jpg);")
		.ad-banner-image-tablet.bgi.banner(style="background-image: url('./img/special/banner5.jpg');")
		.ad-banner-image-tablet-768.bgi.banner(style="background-image: url('./img/special/banner5.jpg');")
		.ad-banner-image-mobile-375.bgi.banner(style="background-image: url('./img/special/banner-mobile5-375.jpg');")
		.ad-banner-image-mobile-320.bgi.banner(style="background-image: url('./img/special/banner-mobile5-320.jpg');")
	a(href="javascript:void(0);").news-banner__block.news-banner__block--other
		.ad-banner-image-desktop.bgi.banner(style="background-image: url(./img/special/banner5.jpg);")
		.ad-banner-image-tablet.bgi.banner(style="background-image: url('./img/special/banner5.jpg');")
		.ad-banner-image-tablet-768.bgi.banner(style="background-image: url('./img/special/banner5.jpg');")
		.ad-banner-image-mobile-375.bgi.banner(style="background-image: url('./img/special/banner-mobile5-375.jpg');")
		.ad-banner-image-mobile-320.bgi.banner(style="background-image: url('./img/special/banner-mobile5-320.jpg');")
	a(href="javascript:void(0);").news-banner__block.news-banner__block--other
		.ad-banner-image-desktop.bgi.banner(style="background-image: url(./img/special/banner5.jpg);")
		.ad-banner-image-tablet.bgi.banner(style="background-image: url('./img/special/banner5.jpg');")
		.ad-banner-image-tablet-768.bgi.banner(style="background-image: url('./img/special/banner5.jpg');")
		.ad-banner-image-mobile-375.bgi.banner(style="background-image: url('./img/special/banner-mobile5-375.jpg');")
		.ad-banner-image-mobile-320.bgi.banner(style="background-image: url('./img/special/banner-mobile5-320.jpg');")