.entry {
    display: flex;
    flex-direction: column;
    margin-top: 27px;

    &__item {
        border: 1px solid $gray-3;
        padding: 25px;

        margin-top: 25px;
    }

    &__canvas {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        transition: .4s;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    &__items {
        margin-top: -25px;
    }

    &__date {
        font-size: 12px;
        line-height: 12px;
        display: inline-block;
        padding: 0.5em .583em;
        background-color: $purple-3;
        color: white;
    }

    &__title {
        margin-top: 10px;
    }

    &__text {
        margin-top: 3px;
    }

    &__footer {
        display: flex;
        align-items: center;
        margin-top: 15px;
    }

    &__bloc {
        position: relative;
        flex: 1;
        height: 100%;
        cursor: pointer;

        &:not(:last-child) {
            margin-right: 14px;
        }

        img {
            position: relative;
            height: 100%;
            width: 100%;
            object-fit: contain;
            z-index: 1;
        }

        &--special {
            &:before {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                background-color: $purple-3;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                opacity: 0.66;
                z-index: 2;
            }

            span {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 16px;
                color: white;
                z-index: 2;
            }
        }
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        height: 400px;
        margin-top: 13px;

        &--direction {
            flex-direction: column;

            .entry {
                &__bloc {
                    margin-top: 14px;
                    height: 193px;
                    flex: initial;
                    margin-top: 0;
                    margin-right: 0;
                    cursor: pointer;

                    &:nth-child(1) {
                        height: 100%;
                        margin-right: 12px;
                        width: calc(100% - 300px - 14px);
                    }

                    &:nth-child(2),
                    &:nth-child(3) {
                        max-width: 300px;
                        width: 100%;
                        margin-left: auto;
                    }

                    &:nth-child(2) {
                        margin-bottom: 14px;
                    }

                }
            }
        }
    }

    &__tag {
        font-size: 12px;
        padding: .5em .583em;
        background-color: $gray-9;
        padding: 0.0416em 0.7em;

        &:not(:last-child) {
            margin-right: 10px;
        }
    }


    .js-slider {
        position: relative;
        padding-bottom: 30px;

        @media(max-width: 882px) {
            padding-bottom: 0;
        }

        img {
            position: relative;
            height: 100%;
            width: 100%;
            -o-object-fit: contain;
            object-fit: contain;
            z-index: 1;
        }

        canvas {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 0;
            transition: .4s;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }

        .pagination {
            position: absolute;
            font-size: 12px;
            line-height: 12px;
            bottom: 0;
            color: $gray-8;
            font-weight: 600;

            @media(max-width:882px) {
                display: none;
            }

            span {
                color: $black;
                margin-right: 6px;
                font-weight: 400;
            }
        }

        .arrow {
            position: absolute;
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: calc(100% - 31px);
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 1;

            &__link {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 95px;
                cursor: pointer;
                transition: .3s;

                &:hover {
                    svg {
                        opacity: 1;
                    }
                }

                svg {
                    transition: .3s;
                    opacity: .5;
                }

                &--prev {
                    transform: scale(-1, -1);
                }

                &.swiper-button-disabled,
                &.swiper-button-disabled {
                    opacity: 0;
                }
            }

        }
    }

}