.footer {
    margin-top: 60px;
    background-color: $gray-1;

    @media(max-width: 640px) {
        margin-top: 30px;
    }

    &__ref {
        @media(max-width: 992px) {
            display: none;
        }
    }

    &__soc {
        display: flex;
        align-items: center;
        margin-top: 4px;

        @media(max-width: 992px) {
            margin-top: 17px;
        }

        @media(max-width: 640px) {
            margin-top: 0;
            margin-right: 25px;
        }

        @media(max-width: 500px) {
            margin-right: 47px;
        }

        .header__soc {
            &:not(:last-child) {
                margin-right: 18px;

                @media(max-width: 1235px) {
                    margin-right: 15px;
                }

                @media(max-width: 500px) {
                    margin-right: 20px;
                }
            }
        }

        &--hidden {
            display: none;

            @media(max-width: 992px) {
                display: flex;
                margin-top: 32px;
            }

            @media(max-width: 500px) {
                margin-top: 0;
                align-self: normal;
                margin-right: 47px;
            }
        }
    }

    &__cover {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__top {
        .footer__container {
            padding-top: 50px;
            padding-bottom: 35px;

            @media(max-width: 1024px) {
                padding-top: 35px;
                padding-bottom: 30px;
            }

            @media(max-width: 640px) {
                padding-top: 30px;
                padding-bottom: 0;
            }
        }
    }

    &__bottom {
        border-top: 1px solid $gray-3;

        @media(max-width: 640px) {
            margin-top: 20px;
        }

        .footer__container {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }

    &__person,
    &__quote,
    &__note {
        transition: .3s;
        font-weight: normal;
        font-size: 12px;
        line-height: 19px;

        @media(max-width: 900px) {
            font-size: 10px;
            line-height: 16px;
        }

        @media(max-width: 640px) {
            margin-top: 10px;
        }

        @media(max-width: 500px) {
            font-size: 9px;
            line-height: 14px;
        }
    }

    &__person {

        &--active {
            color: $purple-3
        }

        &:hover {
            color: $purple-3;
        }
    }

    &__quote {

        a {
            transition: .3s;

            &:hover {
                color: $purple-3;
            }
        }
    }

    &__note {

        @media(max-width: 500px) {
            order: -1;
        }
    }

    &__count {
        height: 35px;
        max-width: 91px;
        width: 100%;

        &:not(:last-child) {
            margin-right: 12px;

            @media(max-width: 1024px) {
                margin-right: 9px;
            }
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__counters {
        display: flex;
        align-items: center;

        @media(max-width: 600px) {
            margin-top: 15px;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        margin-left: 0;

        @media(max-width: 992px) {
            flex-direction: column-reverse;
            justify-content: flex-end;
        }

        @media(max-width: 640px) {
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            margin-top: 30px;
        }
    }

    &__box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media(max-width: 500px) {
            flex-direction: column;
        }

        &--counter {
            margin-top: 35px;
            justify-content: space-between;

            @media(max-width: 768px) {
                margin-top: 43px;
            }

            @media(max-width: 600px) {
                flex-direction: column;
                margin-top: 30px;
            }
        }

        &--quote {
            justify-content: space-between;
            flex-direction: row !important;

            @media(max-width: 767px) {
                flex-direction: column !important;
            }
        }
    }

    &__partner {
        display: inline-block;
        margin-top: 20px;
        margin-left: auto;
        height: 28px;
        width: 28px;

        @media(max-width: 992px) {
            margin-top: 0;
            margin-left: 0;
            width: 37px;
            height: 37px;
        }

        @media(max-width: 640px) {
            width: 32px;
            height: 32px;
        }

        &--hide {
            display: none;

            @media(max-width: 992px) {
                display: block;
            }
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        margin-right: 0;

        @media(max-width: 767px) {
            flex-wrap: nowrap;
            justify-content: space-between;
            width: 50%;
        }

        @media(max-width: 640px) {
            width: 75%;
        }

        @media(max-width: 500px) {
            width: 100%;
            margin-top: 30px;
        }

        &--cols3 {
            @media(max-width: 500px) {
                display: none;
            }
        }

        &--cols2 {
            display: none;

            @media(max-width: 500px) {
                display: flex;
                justify-content: normal;
            }

            .footer__bloc {

                &:not(:last-of-type) {
                    margin-right: 38px;
                }
            }
        }
    }

    &__bloc {
        @media(max-width: 767px) {
            margin-left: 0;
        }

        &:not(:first-child) {
            margin-left: 60px;

            @media(max-width: 1235px) {
                margin-left: 45px;
            }

            @media(max-width: 992px) {
                margin-left: 30px;
            }

            @media(max-width: 640px) {
                margin-left: 0;
            }
        }

        &--hidden {
            @media(max-width: 992px) {
                display: none;
            }
        }
    }

    &__item {
        display: block;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.6;
        color: $black;
        letter-spacing: .5px;
        transition: .3s;

        @media(max-width: 992px) {
            font-size: 12px;;
        }

        @media(max-width: 640px) {
            font-size: 12px;
        }

        &:not(:first-of-type) {
            margin-top: 13px;
        }

        &--active {
            color: $purple-3;
            font-weight: 600;
        }

        &:hover {
            color: $purple-3;
        }

        &--hide {
            display: none;

            @media(max-width: 992px) {
                display: block;
            }
        }
    }

    &__logo {
        display: block;
        height: 67px;
        width: 172px;
        min-width: 172px;
        margin-right: 0;
        margin-top: -18px;

        @media(max-width: 992px) {
            height: 42px;
            width: 137px;
            min-width: 137px;
            margin-top: 0;
        }

        @media(max-width: 640px) {
            height: 35px;
            width: 118px;
            min-width: 118px;
        }

        @media(max-width: 600px) {
            height: 31px;
            width: 100px;
            min-width: 100px;
        }

        @media(max-width: 500px) {
            height: 47px;
            width: 154px;
            min-width: 154px;
        }

        .b-svg {
            height: 100%;
            width: 100%;
            fill: $purple-1;
        }
    }
}