.footer {
    margin-top: 60px;
    background-color: $gray-1;

    @media(max-width: 640px) {
        margin-top: 30px;
    }

    &__ref {
        @media(max-width: 992px) {
            display: none;
        }
    }

    &__soc {
        display: flex;
        align-items: center;
        margin-left: auto;
        align-self: flex-start;

        @media(max-width: 992px) {
            display: none;
        }

        @media(max-width: 600px) {
            margin-left: 0;
            margin-right: auto;
        }

        .header__soc {
            &:not(:last-child) {
                margin-right: 16px;

                @media(max-width: 1235px) {
                    margin-right: 15px;
                }

                @media(max-width: 500px) {
                    margin-right: 20px;
                }
            }
        }

        &--hidden {
            display: none;

            @media(max-width: 992px) {
                display: flex;
                margin-top: 32px;
            }

            @media(max-width: 500px) {
                margin-top: 0;
                align-self: normal;
                margin-right: 47px;
            }
        }
    }

    &__cover {
        display: flex;
        margin-left: 0;
        width: 100%;
        max-width: 577px;
        margin: 0 30px 0 162px;

        @media(max-width: 1300px) {
            margin: 0 30px 0 auto;
        }

        @media(max-width: 992px) {
            margin: 0;
            max-width: initial;
            width: 100%;
        }

        @media(max-width: 768px) {
            margin-top: 25px;
        }

        @media(max-width: 500px) {
            flex-direction: column;
        }



        // @media(max-width: 1235px) {
        //     flex-grow: 1;
        //     justify-content: space-between;
        // }

        // @media(max-width: 1024px) {
        //     margin-top: 26px;
        //     width: 100%;
        // }
    }

    &__top {
        .footer__container {
            padding-top: 40px;
            padding-bottom: 50px;

            @media(max-width: 1024px) {
                padding-top: 30px;
                padding-bottom: 20px;
            }

            @media(max-width: 500px) {
                padding-bottom: 0;
            }
        }
    }

    &__bottom {
        border-top: 1px solid $gray-3;

        @media(max-width: 500px) {
            margin-top: 15px;
        }

        .footer__container {
            padding-top: 13px;
            padding-bottom: 16px;
        }
    }

    &__person,
    &__quote {
        letter-spacing: .3px;
        transition: .3s;
        font-weight: normal;
        font-size: 12px;
        line-height: 19px;
    }

    &__person {

        @media(max-width: 768px) {
            font-size: 10px;
            line-height: 16px;
        }

        &--active {
            color: $purple-3
        }

        &:hover {
            color: $purple-3;
        }
    }

    &__quote {
        font-size: 12px;
        line-height: 19px;

        @media(max-width: 768px) {
            font-size: 10px;
            line-height: 16px;
        }

        @media(max-width: 500px) {
            margin-top: 15px;
        }

        a {
            transition: .3s;

            &:hover {
                color: $purple-3;
            }
        }
    }

    &__note {
        font-weight: normal;
        font-size: 12px;
        line-height: 19px;
        margin-top: 0;
        letter-spacing: 0.3px;

        @media(max-width: 768px) {
            font-size: 10px;
            line-height: 16px;
        }
    }

    &__count {
        height: 35px;
        max-width: 91px;
        width: 100%;

        &:not(:last-child) {
            margin-right: 12px;

            @media(max-width: 1024px) {
                margin-right: 9px;
            }
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__counters {
        display: flex;
        align-items: center;

        @media(max-width: 600px) {
            margin-top: 15px;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        margin-left: auto;

        @media(max-width: 1235px) {
            margin-left: 30px;
        }

        @media(max-width: 992px) {
            margin-left: auto;
        }

        @media(max-width: 500px) {
            flex-direction: row;
            align-items: center;
            margin-left: 0;
            margin-top: 25px;
            flex-direction: row-reverse;
            justify-content: flex-end;
        }

        // @media(max-width: 345px) {
        //     display: none;
        // }
    }

    &__box {
        display: flex;

        @media(max-width: 1400px) {
            justify-content: space-between;
        }

        @media(max-width: 992px) {
            justify-content: normal;
        }

        @media(max-width: 768px) {
            flex-direction: column;
        }




        &--counter {
            margin-top: 35px;
            justify-content: space-between;

            @media(max-width: 768px) {
                margin-top: 43px;
            }

            @media(max-width: 600px) {
                flex-direction: column;
                margin-top: 30px;
            }
        }

        &--quote {
            justify-content: space-between;
            flex-direction: row !important;

            @media(max-width: 768px) {
                flex-direction: column !important;

                div {
                    margin-top: 10px;
                }
            }
        }

        // &:first-child {
        //     @media(max-width: 1024px) {
        //         flex-direction: column;
        //     }
        // }
    }

    &__partner {
        display: inline-block;
        margin-top: 21px;
        height: 37px;
        width: 37px;

        @media(max-width: 992px) {
            margin-top: 0;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        margin-right: 10px;
        //  margin-left: -30px;
        // max-width: 525px;
        // width: 100%;
        margin-top: -5px;

        @media(max-width: 500px) {
            margin-right: 0;
        }

        // @media(max-width: 1400px) {
        //     margin-right: 55px;
        // }

        // @media(max-width: 1300px) {
        //     margin-right: 50px;
        // }

        // @media(max-width: 1235px) {
        //     margin: 0 auto;
        // }

        // @media(max-width: 1024px) {
        //     margin: initial;
        //     margin-top: -9px;
        //     margin-left: -20px;
        // }

        // @media(max-width: 565px) {
        //     max-width: 295px;
        // }
    }

    &__bloc {
        // @media(max-width: 1024px) {
        //     display: flex;
        // }

        // @media(max-width: 565px) {
        //     width: 100%;
        // }

        &:not(:last-child) {
            margin-right: 66px;

            // @media(max-width: 1300px) {
            //     margin-right: 50px;
            // }

            // @media(max-width: 1235px) {
            //     margin-right: 25px;
            // }

            @media(max-width: 992px) {
                margin-right: 50px;
            }

            @media(max-width: 600px) {
                margin-right: 30px;
            }

            @media(max-width: 540px) {
                margin-right: 15px;
            }
        }

        &--hidden {
            display: none;


        }
    }

    &__item {
        display: block;
        // width: calc(20% - 55px);
        // margin-left: 55px;
        font-weight: normal;
        font-size: 14px;
        line-height: 32px;
        color: $black;
        letter-spacing: .5px;
        transition: .3s;
        // width: calc(33.333% - 30px);
        // margin-left: 30px;

        // @media(max-width: 1024px) {
        //     margin-top: 11px;
        //     margin-left: 20px;
        // }

        // @media(max-width: 565px) {
        //     width: calc(50% - 20px);
        // }

        @media(max-width: 340px) {
            font-size: 12px;
            line-height: 30px;
        }

        &--active {
            color: $purple-3;
        }

        &:hover {
            color: $purple-3;
        }

        // &:last-child {
        //     margin-top: 9px;
        // }

        &--hidden {
            display: none;

            @media(max-width: 992px) {
                display: block;
            }
        }
    }

    &__logo {
        display: block;
        height: 67px;
        width: 172px;
        min-width: 172px;
        margin-right: 40px;

        @media(max-width: 992px) {
            height: 42px;
            width: 137px;
            min-width: 137px;
            margin-right: 50px;
        }

        @media(max-width: 500px) {
            height: 47px;
            width: 154px;
            min-width: 154px;
        }


        // @media(max-width: 1235px) {
        //     width: 190px;
        //     min-width: 190px;
        //     margin-right: 20px;
        // }

        // @media(max-width: 1024px) {
        //     margin-right: 0;
        //     height: 50px;
        //     width: 165px;
        //     min-width: 165px;
        //     display: block;
        // }

        .b-svg {
            height: 100%;
            width: 100%;
            fill: $purple-1;
        }
    }
}