.video-gallery {
    &__inner {
        position: relative;
        height: 275pz;

        @media(max-width: 1024px) {
            height: 220px;
        }

        // @media(max-width: 768px) {
        //     height: 200px;
        // }

        // @media(max-width: 600px) {
        //     height: 148px;
        // }

        &:hover .news-archive__btn:before {
            width: 140px;

            @media(max-width: 1024px) {
                width: 105px;
            }
        }

        &:hover .news-archive__time {
            color: $purple-3;
        }
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-left: -60px;

        @media(max-width: 600px) {
            margin-left: -30px;
        }

        @media(max-width: 500px) {
            margin-left: 0;
        }
    }

    &__caption {
        font-weight: bold;
        font-size: 25px;
        line-height: 30px;
        letter-spacing: 0.25px;
        font-family: 'MinionPro', sans-serif;
        color: $black;
        margin-top: 16px;
        cursor: normal;

        @media(max-width: 1024px) {
            font-size: 18px;
            line-height: 23px;
        }

        @media(max-width: 600px) {
            font-size: 16px;
            line-height: 21px;
        }
    }

    &__bloc {
        padding-bottom: 26px;
        border-bottom: 1px solid $gray-3;

        @media(max-width: 1024px) {
            padding-bottom: 24px;
        }

        @media(max-width: 600px) {
            padding-bottom: 16px;
        }

        @media(max-width: 500px) {
            padding-bottom: 0;
            border-bottom: none;
        }

        &:not(:first-child) {
            margin-top: 30px;

            @media(max-width: 1024px) {
                margin-top: 24px;
            }
        }
    }

    .news-archive__cover {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}