.edition-network {
    display: flex;
    align-items: center;
    margin-top: 32px;
    box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.08);
    padding: 42px 56px 40px 40px;
    max-width: 944px;

    @media(max-width: 1400px) {
        padding: 42px 35px 40px 35px;
        max-width: 890px;
    }

    @media(max-width: 1300px) {
        padding: 42px 35px 40px 35px;
        max-width: 800px;
    }

    @media(max-width: 1235px) {
        padding: 30px;
        justify-content: space-between;
    }

    @media(max-width: 1024px) {
        max-width: 900px;
        padding: 30px 40px;

        margin-top: 24px;
    }

    @media(max-width: 768px) {
        padding: 28px 20px 20px 20px;
    }

    @media(max-width: 600px) {
        flex-direction: column;
        margin-top: 26px;
    }

    &__txt {
        @media(max-width: 600px) {
            max-width: 345px;
        }
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        margin-left: -29px;

        @media(max-width: 1235px) {
            flex-wrap: nowrap;
        }

        @media(max-width: 1235px) {
            margin-left: -16px;
        }
    }

    &__item {
        width: calc(25% - 29px);
        margin-left: 29px;
        padding: 11.44px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1);
        height: 58px;
        transition: .2s ease-out;

        @media(max-width: 1235px) {
            width: 58px;
        }

        @media(max-width: 1024px) {
            width: 46px;
            height: 46px;
            margin-left: 16px;
        }

        &--vk {
            .b-svg {
                fill: $purple-2;
            }

            &:hover {
                background-color: $blue-1;

                .b-svg {
                    fill: white;
                }
            }
        }

        &--inst {
            position: relative;

            &:after {
                position: absolute;
                content: '';
                height: 100%;
                width: 100%;
                background: linear-gradient(49.12deg, #FFDD55 6.62%, #FF543E 50.06%, #C837AB 93.5%), #FFFFFF;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: -1;
                opacity: 0;
                transition: .2s ease-out;
            }

            .b-svg {
                fill: white;
            }

            &:hover:after {
                opacity: 1;
            }

            &:hover div.mf-cover {
                background: white;
            }

            &:hover {
                .b-svg {
                    fill: red;
                }
            }
        }

        &--face {

            &:hover {
                background-color: $blue-1;

                .b-svg {
                    fill: white;
                }
            }

            .b-svg {
                fill: $blue-1;
            }
        }

        &--ok {
            &:hover {
                background-color: $orange-1;

                .b-svg {
                    fill: white;
                }
            }

            .b-svg {
                fill: $orange-1;
            }
        }

        .b-svg {
            height: 35px;
            width: 35px;
            transition: .2s ease-out;

            @media(max-width: 1024px) {
                width: 100%;
                height: 100%;
            }
        }
    }

    &__right {
        @media(max-width: 600px) {
            margin: 0 auto;
            margin-top: 24px;
        }

        @media(max-width: 500px) {
            margin-right: auto;
            margin-left: 0;
        }
    }

    &__left {
        position: relative;
        max-width: 369px;
        padding-right: 117px;
        box-sizing: content-box;
        margin-right: 44px;


        @media(max-width: 1400px) {
            padding-right: 93px;
        }

        @media(max-width: 1300px) {
            padding-right: 0;
        }

        @media(max-width: 1235px) {
            margin-right: 20px;
        }

        @media(max-width: 1024px) {
            max-width: 100%;
        }

        @media(max-width: 600px) {
            margin-right: 0;
            align-self: flex-start;
            padding-bottom: 26px;
            width: 100%;
        }

        &:after {
            position: absolute;
            content: "";
            width: 89px;
            height: 1px;
            background-color: $gray-3;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto;


            @media(max-width: 1400px) {
                width: 60px;
            }

            @media(max-width: 1300px) {
                content: none;
            }

            @media(max-width: 600px) {
                content: "";
                top: auto;
                left: 0;
                right: 0;
                width: 89px;
            }

            @media(max-width: 500px) {
                right: auto;
            }
        }
    }

    &--absence {
        margin-top: 0;

        .edition-network__left {
            position: relative;
            max-width: 369px;
            padding-right: 115px;
            box-sizing: content-box;
            margin-right: 44px;

            @media(max-width: 1235px) {
                padding-right: 135px;
            }

            @media(max-width: 992px) {
                padding-right: 0;
            }

            @media(max-width: 600px) {
                padding-right: 0;
                margin-right: 0;
                padding-bottom: 24px;
            }

            &:after {
                position: absolute;
                content: "";
                width: 89px;
                height: 1px;
                background-color: $gray-3;
                top: 0;
                bottom: 0;
                right: 0;
                margin: auto;

                @media(max-width: 992px) {
                    content: none;
                }

                @media(max-width: 600px) {
                    content: "";
                    top: auto;
                    left: 0;
                    right: auto;
                    width: 89px;
                }
            }
        }

        .edition-network__right {
            @media(max-width: 600px) {
                margin-right: auto;
            }
        }

        .edition-network__item {
            min-width: 58px;

            @media(max-width: 1235px) {
                height: 58px;
            }

            @media(max-width: 768px) {
                width: 46px;
                height: 46px;
                min-width: 46px;
            }
        }

        @media(max-width: 1400px) {
            max-width: 100%;
        }
    }

    .title-2 {
        padding-right: 0;
    }

    &--detaile {
        max-width: 100%;
        margin-top: 66px;
    }

}