extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';

block content
	.container
		.wrapper
			.wrapper__left
				.advertising
					.advertising__title.title-1 Рекламные объявления    
					.advertising__bloc
						.advertising__info Как было показано выше, литургическая драма возможна. Социальная психология искусства, по определению, монотонно дает художественный идеал. Художественное восприятие выстраивает комплекс агрессивности. Богатство мировой литературы от Платона до Ортеги-и-Гассета свидетельствует о том, что художественная ментальность вызывает драматизм. 
						.advertising__info Синтаксис искусства готично начинает первоначальный канон биографии. Возрождение многопланово вызывает суггестивный миракль. Трагедия использует первоначальный сангвиник. Добавлю, что интенция многопланово имеет синхронический подход. Ролевое поведение готично трансформирует фактографический архетип. 
					.advertising__block
						.advertising__header.title-2 Печатная версия газеты
						.advertising__text Цены действительны с 01 января 2019 г.
					.advertising__cover
						.advertising__unit
							.advertising__items
								.advertising__item
									.advertising__header.title-3 Формат, объем (число полос), периодичность выхода
									.advertising__txt Вторник, четверг – 16 полос А3. Суббота – 16 полос А3.
								.advertising__item
									.advertising__header.title-3 Тираж
									.advertising__txt Не менее 65 000 и не более 80 000 экземпляров.
								.advertising__item
									.advertising__header.title-3 Регион распространения
									.advertising__txt Челябинская область.
						.advertising__unit
							.advertising__items
								.advertising__item
									.advertising__header.title-3 Читательская аудитория
									.advertising__txt Основная: от 6 до 82 лет. Преимущественная: мужчины и женщины от 25 до 65 лет, которые имеют деньги и интерес к жизни.
								.advertising__item
									.advertising__header.title-3 Доставка газеты подписчикам
									.advertising__txt Распространение по подписке (адресная доставка).
								.advertising__item
									.advertising__header.title-3 Реализация газеты
									.advertising__txt Подписка.
					.advertising__box
						.advertising__header.title-3 Достоинства и отличия
						.advertising__wrp
							.advertising__left
								.advertising__par «Магнитогорский металл» – самая популярная и самая тиражная из подписных газет в Магнитогорске. «Магнитогорский металл» – организатор и основной участник Всероссийского литературного конкурса им. Нефедьева, организатор международного фестиваля поэзии в Магнитке, шахматного турнира «Кубок «Металла», участник ежегодных областных фестивалей прессы. «Магнитогорский металл» – лауреат всероссийских и региональных творческих конкурсов. Еженедельно на страницах газеты осуществляется целый ряд проектов различной направленности.
							.advertising__right 
								.advertising__par В «Магнитогорском металле» работает творческий коллектив, способный нестандартно подать материалы и рассказать широкой аудитории о деятельности вашей компании.
								.advertising__par Газета имеет собственных корреспондентов в Москве, Челябинске и на юге Челябинской области.
					.advertising__box
						.advertising__header.title-3 Расценки на размещение рекламы за 1 см2
						.advertising__wrp
							.advertising__left
								.advertising__clause Вторник, четверг и суббота на первой полосе – 110,00 руб. (цв.) 
								.advertising__clause Вторник или четверг на 2, 12 полосах – 100,00 руб. (цв.).
								.advertising__clause Вторник или четверг на 3, 4, 9, 10 полосах – 45,00 руб. (ч/б).
								.advertising__clause Вторник или четверг на 5, 6, 7, 8, 11 полосах – 76,00 руб. (цв.)
								.advertising__clause Вторник и четверг шпигель – 178,00 руб. (цв.)
								.advertising__clause Суббота на 2, 16 полосах – 100,00 руб. (цв.).
								.advertising__clause Суббота на 5, 6, 11, 12 полосах – 68,00 руб. (ч/б).
								.advertising__clause Суббота на 3, 4, 13, 14 полосах – 52,00 руб. (ч/б).
								.advertising__clause Суббота на 7, 8, 9, 10, 15 полосах – 76,00 руб. (цв.)
								.advertising__clause Суббота шпигель – 204,00 руб. (цв.).
					.advertising__box
						.advertising__grid
							.adversting__unity
								.advertising__header.title-3 Изготовление макета, согласование с заказчиком (ч/б)
								.advertising__clause до 100 см2 – 330,00 руб.
								.advertising__clause до 200 см2 – 670,00 руб.
								.advertising__clause более 200 см2 – 1200,00 руб.
							.adversting__unity
								.advertising__header.title-3 Изготовление макета, согласование с заказчиком (цв.)
								.advertising__clause до 100 см2 – 450,00 руб.
								.advertising__clause до 200 см2 – 950,00 руб.
								.advertising__clause более 200 см2 – 1600,00 руб.
								.advertising__clause Подготовка информационного материала – 1,50 руб./знак (с пробелами). Размещение текстовой рекламы зрелищных мероприятий в рубрике «Что? Где? Когда?» – 2,55 руб./знак (с пробелами).
					.advertising__box
						.advertising__wrapper
							.advertising__slab
								.advertising__header.title-3 Резервирование места расположения рекламы, объявлений на полосе
								.advertising__group
									.advertising__column
										.advertising__clause Черно-белые полосы
										.advertising__clause до 100 см2 – 360,00 руб.
										.advertising__clause до 200 см2 – 850,00 руб.
										.advertising__clause более 200 см2 – 1250,00 руб.
									.advertising__column
										.advertising__clause Цветные полосы
										.advertising__clause до 100 см2 – 550,00 руб.
										.advertising__clause до 200 см2 – 1100,00 руб.
										.advertising__clause более 200 см2 – 1600,00 руб.
							.advertising__slab
								.advertising__header.title-3 Частные объявления
								.advertising__clause Меняю, куплю, продам, сдам, сниму, услуги, требуются, прошу вернуть, разное: 39,00 руб. за слово. С применением полужирного начертания к тексту: 78,00 руб. за слово.Не допускается применение полужирного начертания в отношении отдельных слов или частей текста.
							.advertising__slab
								.advertising__header.title-3 Частные объявления, поданные через сайт MAGMETALL.RU
								.advertising__clause Меняю, куплю, продам, сдам, сниму, услуги, требуются, прошу вернуть, разное, в добрые руки: 39,00 руб. за слово. С применением полужирного начертания к текста: 78,00 руб. за слово. Не допускается применение полужирного начертания в отношении отдельных слов или частей текста.
					.advertising__box
						.advertising__header.title-3 Соболезнования, «Память жива»
						.advertising__word Модуль 4,2х2 – 630,00 руб.
						.advertising__note Цены указаны с учетом НДС, 18%
					.advertising__box.advertising__box--discount
						.advertising__header.title-3 Скидки
						.advertising__wrp
							.adversting__unity
								.advertising__clause При публикации материалов от 100 см2 – 10%.
								.advertising__clause При публикации пяти объявлений – 20%.
								.advertising__clause При публикации материалов от 200 см2 – 20%.
								.advertising__clause Скидки при подаче частных объявлений через сайт MAGMETALL.RU не предусмотрены.
								.advertising__note Предоставляемые льготы не суммируются.
							.adversting__unity
								.advertising__clause Услуги по фотосъемке: 1100,00 руб. за один час съемки.
								.advertising__clause Услуги по художественной обработке фотоизображений:
								.advertising__clause 200,00 руб. за обработку одного изображения.
								.advertising__note Цены указаны с учетом НДС, 20%
					.advertising__box.advertising__box--ad
						.advertising__header.title-3 Реклама на сайте MAGMETALL.RU
						.advertising__wrp
							.adversting__unity
								.advertising__module
									.advertising__clause Баннер № 1
									.advertising__clause Размер: 235х290 px – 6300,00 руб.
									.advertising__clause Расположение: в левой колонке перед опросом.
									.advertising__clause Отображение: на всех страницах сайта, кроме раздела Folding@home.
								.advertising__module
									.advertising__clause Баннер № 2
									.advertising__clause Размер: 235х160 px – 4500,00 руб.
									.advertising__clause Расположение: в правой колонке после прогноза погоды. Отображение: на всех страницах сайта.
								.advertising__module
									.advertising__clause Баннер № 3
									.advertising__clause Размер: 265х(до 330) px – 2500,00 руб.
									.advertising__clause Расположение: в правой колонке, в области «Реклама», в произвольном порядке.
									.advertising__clause Отображение: на всех страницах сайта.
							.adversting__unity
								.advertising__module
									.advertising__clause Баннер № 4
									.advertising__clause Размер: 235х290 px – 3700,00 руб.
									.advertising__clause Расположение: в левой колонке после опроса.
									.advertising__clause Отображение: на всех страницах сайта, кроме раздела Folding@home.
								.advertising__module
									.advertising__clause Баннер № 5
									.advertising__clause Размер: 235х290 px – 2000,00 руб.
									.advertising__clause Расположение: в левой колонке после всех новостей.
									.advertising__clause Отображение: только на главной странице сайта.
								.advertising__module
									.advertising__clause Баннер № 6
									.advertising__clause Размер: 546х200 px – 2900,00 руб.
									.advertising__clause Расположение: внизу центральной колонки сайта, после анонсов статей.
									.advertising__clause Отображение: только на главной странице сайта.
								.advertising__note Цены указаны с учетом НДС, 20%
					.advertising__box.advertising__box--article
						.advertising__wrp
							.adversting__unity
								.advertising__header.title-3 Размещение текстовой статьи рекламного содержания на сайте
								.advertising__clause 1 знак – 1,20 руб.
								.advertising__note Цена указана с учетом НДС, 20%
							.adversting__unity
								.advertising__header.title-3 Изготовление
								.advertising__clause Срок изготовления баннера – 3 рабочих дня.
								.advertising__list 
									.advertising__li - статичный (формат jpg, gif) – 800,00 руб.
									.advertising__li - анимированный (формат gif) – 1600,00 руб.
									.advertising__li - анимированный (формат flash) – от 2100,00 руб.
								.advertising__note Цена указана с учетом НДС, 20%
			.wrapper__right.wrapper__right--special
				.news-survey
					a(href="javascript:void(0);").news-survey__title.title-3 Что вы думаете <br> об обязательном тестировании на коронавирусную инфекцию?
					form.news-survey__form(method="get")
						label(for="qu1" class="news-survey__radio") 
							input(type="radio" id="qu1" name="rdbtn")
							div.news-survey__text Нужно сделать всем, вдруг кто-то болеет без симптомов
						label(for="qu2" class="news-survey__radio") 
							input(type="radio" id="qu2" name="rdbtn")
							div.news-survey__text Нужно сделать всем, вдруг кто-то болеет без симптомов
						button(type="submit" class="btn") Голосовать
				.news-hidden
					a(href="javascript:void(0);").news-today__block.news-today__block--other
							img(src="./img/index/p36.jpg" alt="")
				.news-city
					a(href="javascript:void(0);").news-city__title.title-2 История города
						+svg("ar-title")
					.news-city__items
						a(href="javascript:void(0);").news-city__item
							.news-city__pic(style="background-image: url(./img/history/city/hc1.jpg);")
							.news-city__title.title-3 Газета в рабочей спецовке
						a(href="javascript:void(0);").news-city__item
							.news-city__pic(style="background-image: url(./img/index/p32.jpg);")
							.news-city__title.title-3 Больницы для солдат
						a(href="javascript:void(0);").news-city__item
							.news-city__pic(style="background-image: url(./img/index/p34.jpg);")
							.news-city__title.title-3 Маленькая женщина с большим сердцем
						a(href="javascript:void(0);").news-city__item
							.news-city__pic(style="background-image: url(./img/index/p33.jpg);")
							.news-city__title.title-3 Первые секретари
				.news-today
					a(href="javascript:void(0);").news-today__block
						img(src="./img/index/p35.jpg" alt="")
					.news-today__item
						.news-today__title.title-2 Сегодняшняя газета
						a(href="javascript:void(0);").btn Посмотреть электронное издание
		.news-temp.news-temp--discount
			img(src="./img/banner2.jpg" alt="")
			
		
						
block script