extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';

block content
	.container
		.wrapper
			.wrapper__left
				.agreement
					.agreement__title.title-1 Соглашение на обработку персональных данных
					.agreement__bloc
						.agreement__info Термины, применяемые в настоящем Соглашении:
						.agreement__list
							.agreement__li Сайт – это совокупность текстов, графических элементов, дизайна, изображений, программного кода, фото- и видео материалов и иных результатов интеллектуальной деятельности, содержащихся в сети Интернет.
							.agreement__li Администрация Сайта – это лицо, обладающее правами администрирования Сайта.
							.agreement__li Пользователь – это любое лицо, осуществившее вход на Сайт и принявшее условия настоящего Соглашения, независимо от факта прохождения процедур регистрации и авторизации.
					
					.agreement__bloc
						.agreement__info Использование персональных данных
						.agreement__info Присоединяясь к настоящему Соглашению и оставляя свои данные на Сайте «https://000000.ru», (далее – Сайт), путем заполнения полей формы обратной связи Пользователь:
						.agreement__list.agreement__list--personal
							.agreement__li подтверждает, что все указанные им данные принадлежат лично ему;
							.agreement__li подтверждает и признает, что им внимательно в полном объеме прочитано Соглашение и условия обработки его персональных данных, указываемых им в полях формы обратной связи, текст соглашения и условия обработки персональных данных ему понятны;
							.agreement__li дает согласие на обработку Сайтом предоставляемых в составе информации персональных данных в целях заключения между ним и Сайтом настоящего Соглашения, а также его последующего исполнения;
							.agreement__li дает согласие на обработку Сайтом предоставляемых персональных данных в целях получения обратной связи;
							.agreement__li выражает согласие с условиями обработки персональных данных без каких-либо оговорок и ограничений.
				
					.agreement__bloc.agreement__bloc--holder
						.agreement__info Владельцем всей информации на сайте является
						.agreement__list
							.agreement__li ООО «Зеленые дали»
							.agreement__li ИНН 0000000000
							.agreement__li Юр. адрес: 000000, Россия, Челябинская обл., г. Магнитогорск, Кирпичный проезд, д.8 Пользователь дает свое согласие на обработку его персональных данных, а именно совершение действий, предусмотренных п. 3 ч. 1 ст. 3 Федерального закона от 27.07.2006 N 152-ФЗ "О персональных данных", и подтверждает, что, давая такое согласие, он действует свободно, своей волей и в своем интересе.
			
					.agreement__bloc
						.agreement__info Согласие Пользователя на обработку персональных данных является конкретным, информированным и сознательным.
						.agreement__info Обработке подлежат следующие персональные данные:
						.agreement__list.agreement__list--data
							.agreement__li Фамилия, имя, отчество Пользователя;
							.agreement__li Электронный адрес Пользователя;
							.agreement__li Номер телефона Пользователя.
							.agreement__li Адрес

					.agreement__bloc
						.agreement__info Под обработкой персональных данных подразумевается следующий перечень действий с персональными данными: сбор, запись, систематизация, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передача (распространение, предоставление доступа), обезличивание, блокирование, удаление, уничтожение персональных данных.
						.agreement__info Данное согласие на обработку персональных данных действует бессрочно, но может быть отозвано субъектом персональных данных на основании распоряжения в форме подачи заявки на нашем Сайте.	
						.agreement__info Администрация Сайта обязуется использовать персональные данные Пользователя, полученные в результате использования Сайта, в соответствии с требованиями законодательства о защите персональных данных, в том числе федерального закона №152-ФЗ от 27.07.2006 «О персональных данных» в редакции, действующей на момент обработки таких персональных данных.

					.agreement__bloc.agreement__bloc--term
						.agreement__info Дополнительные условия
						.agreement__info Пользователь проинформирован:
			.wrapper__right.wrapper__right--special
				.news-today
					.news-today__item
						.news-today__title.title-2 Сегодняшняя газета
						a(href="javascript:void(0);").btn Посмотреть электронное издание
				.news-survey
					a(href="javascript:void(0);").news-survey__title.title-3 Что вы думаете <br> об обязательном тестировании на коронавирусную инфекцию?
					form.news-survey__form(method="get")
						label(for="qu1" class="news-survey__radio") 
							input(type="radio" id="qu1" name="rdbtn")
							div.news-survey__text Нужно сделать всем, вдруг кто-то болеет без симптомов
						label(for="qu2" class="news-survey__radio") 
							input(type="radio" id="qu2" name="rdbtn")
							div.news-survey__text Нужно сделать всем, вдруг кто-то болеет без симптомов
						button(type="submit" class="btn") Голосовать
				.news-hidden
					a(href="javascript:void(0);").news-today__block.news-today__block--other
							img(src="./img/index/p36.jpg" alt="")
				.news-city
					a(href="javascript:void(0);").news-city__title.title-2 История города
						+svg("ar-title")
					.news-city__items
						a(href="javascript:void(0);").news-city__item
							.news-city__pic(style="background-image: url(./img/history/city/hc1.jpg);")
							.news-city__title.title-3 Газета в рабочей спецовке
						a(href="javascript:void(0);").news-city__item
							.news-city__pic(style="background-image: url(./img/index/p32.jpg);")
							.news-city__title.title-3 Больницы для солдат
						a(href="javascript:void(0);").news-city__item
							.news-city__pic(style="background-image: url(./img/index/p34.jpg);")
							.news-city__title.title-3 Маленькая женщина с большим сердцем
						a(href="javascript:void(0);").news-city__item
							.news-city__pic(style="background-image: url(./img/index/p33.jpg);")
							.news-city__title.title-3 Первые секретари
				.news-today.news-today--aside
					a(href="javascript:void(0);").news-today__block
						img(src="./img/index/p35.jpg" alt="")
					a(href="javascript:void(0);").news-today__block.news-today__block--other
						img(src="./img/index/p36.jpg" alt="")
		.news-temp
			img(src="./img/banner2.jpg" alt="")

block script