extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';

block content
	.container
		.wrapper
			.wrapper__left
				.archive
					.archive__title.title-1 Архив Магнитогорского Металла
					.archive__bloc
						.archive__info Как было показано выше, литургическая драма возможна. Социальная психология искусства, по определению, монотонно дает художественный идеал. Художественное восприятие выстраивает комплекс агрессивности. Богатство мировой литературы от Платона до Ортеги-и-Гассета свидетельствует о том, что художественная ментальность вызывает драматизм. 
						.archive__info Синтаксис искусства готично начинает первоначальный канон биографии. Возрождение многопланово вызывает суггестивный миракль. Трагедия использует первоначальный сангвиник. Добавлю, что интенция многопланово имеет синхронический подход. Ролевое поведение готично трансформирует фактографический архетип. 
						
						.release
							.release-year
								.release-year__title.title-2 Год выпуска газеты:
								.release-year__items(data-filter='{"dateStart":"1935", "dateEnd":"2020"}')
								input(type="hidden" value="" name="release-year" class="res-year")
							.release-month
								.release-month__title.title-2 Месяц выпуска газеты:
								.release-month__items(data-filter='{"month":["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"]}')
						
						.release-datepicker
							.release-datepicker__title.title-2 День выпуска газеты - <span>20 Апреля 1944г.</span>
							.release-datepicker__position
						
						.archive-filter__wrp
							.archive-filter__panel
								.archive-filter__text Все полосы одним файлом PDF: 
								.archive-filter__cover
									<a href="./document/2020-06-25_01.pdf">1935-12-31.pdf</a> <span>(5,50 Mb)</span>
									.archive-filter__ic
										<svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M1 5L5.24264 9.24264L9.48528 5" stroke="#27202C" stroke-width="2"/>
										</svg>

							.archive-filter__select
								.archive-filter__content
									.archive-filter__unit Полоса: 01 | <a href="./document/2020-06-25_01.pdf">2020-03-03_01.pdf</a> (0,29 Mb)
									.archive-filter__unit Полоса: 01 | <a href="./document/2020-06-25_01.pdf">2020-03-03_01.pdf</a> (0,29 Mb)
									.archive-filter__unit Полоса: 01 | <a href="./document/2020-06-25_01.pdf">2020-03-03_01.pdf</a> (0,29 Mb)
									.archive-filter__unit Полоса: 01 | <a href="./document/2020-06-25_01.pdf">2020-03-03_01.pdf</a> (0,29 Mb)
				.archive-news
					.archive-news__title.title-2 Новости за 6 марта 2020
					.news-popular__wrapper
						.news-popular__bloc
							.news-popular__items
								.news-popular__item
									.news-popular__box
										.news-popular__top
											a(href="javascript:void(0);").news-popular__name Действующие лица
										a(href="javascript:void(0);").news-popular__cover
											.news-popular__header.title-2 Конституционный день
											.news-popular__text Депутат Государственной Думы Виталий БаДепутат Государственной Думы Виталий БаДепутат Государственной Думы Виталий Бахметьев в последние дни февраля встретился с жителями сельских поселений и трудовыми коллективами Магнитогорска.
										.publish
											.publish__wrapper
												a(href="javascript:void(0);").publish__date 19 марта
												a(href="javascript:void(0);" title="Фантасмогорьев Фантасмогорь").publish__person
													.publish__pic
														+svg('user')
													.publish__txt Фантасмогорьев Фантасмогорь
								.news-popular__item
									.news-popular__box
										.news-popular__top
											a(href="javascript:void(0);").news-popular__name Действующие лица
										a(href="javascript:void(0);").news-popular__cover
											.news-popular__header.title-2 Конституционный день
											.news-popular__text Депутат Государственной Думы Виталий Бахметьев в последние дни февраля встретился с жителями сельских поселений и трудовыми коллективами Магнитогорска.
										.publish
											.publish__wrapper
												a(href="javascript:void(0);").publish__date 19 марта
												a(href="javascript:void(0);" title="Фантасмогорьев Фантасмогорь").publish__person
													.publish__pic
														+svg('user')
													.publish__txt Фантасмогорьев Фантасмогорь
						.news-popular__bloc
							.news-popular__items
								.news-popular__item
									a(href="javascript:void(0);").news-popular__pic
										img(src="./img/index/p2.jpg" alt="")
									.news-popular__box
										.news-popular__top
											a(href="javascript:void(0);").news-popular__name Действующие лица
										a(href="javascript:void(0);").news-popular__cover
											.news-popular__header.title-2 Конституционный день
											.news-popular__text Депутат Государственной Думы Виталий БаДепутат Государственной Думы Виталий БаДепутат Государственной Думы Виталий Бахметьев в последние дни февраля встретился с жителями сельских поселений и трудовыми коллективами Магнитогорска.
										.publish
											.publish__wrapper
												a(href="javascript:void(0);").publish__date 19 марта
												a(href="javascript:void(0);" title="Фантасмогорьев Фантасмогорь").publish__person
													.publish__pic
														+svg('user')
													.publish__txt Фантасмогорьев Фантасмогорь
								.news-popular__item
									.news-popular__box
										.news-popular__top
											a(href="javascript:void(0);").news-popular__name Действующие лица
										a(href="javascript:void(0);").news-popular__cover
											.news-popular__header.title-2 Конституционный день
											.news-popular__text Депутат Государственной Думы Виталий Бахметьев в последние дни февраля встретился с жителями сельских поселений и трудовыми коллективами Магнитогорска.
										.publish
											.publish__wrapper
												a(href="javascript:void(0);").publish__date 19 марта
												a(href="javascript:void(0);" title="Фантасмогорьев Фантасмогорь").publish__person
													.publish__pic
														+svg('user')
													.publish__txt Фантасмогорьев Фантасмогорь
						.news-popular__bloc
							.news-popular__items
								.news-popular__item
									.news-popular__box
										.news-popular__top
											a(href="javascript:void(0);").news-popular__name Действующие лица
										a(href="javascript:void(0);").news-popular__cover
											.news-popular__header.title-2 Конституционный день
											.news-popular__text Депутат Государственной Думы Виталий БаДепутат Государственной Думы Виталий БаДепутат Государственной Думы Виталий Бахметьев в последние дни февраля встретился с жителями сельских поселений и трудовыми коллективами Магнитогорска.
										.publish
											.publish__wrapper
												a(href="javascript:void(0);").publish__date 19 марта
												a(href="javascript:void(0);" title="Фантасмогорьев Фантасмогорь").publish__person
													.publish__pic
														+svg('user')
													.publish__txt Фантасмогорьев Фантасмогорь
								.news-popular__item
									a(href="javascript:void(0);").news-popular__pic
											img(src="./img/index/p2.jpg" alt="")
									.news-popular__box
										.news-popular__top
											a(href="javascript:void(0);").news-popular__name Действующие лица
										a(href="javascript:void(0);").news-popular__cover
											.news-popular__header.title-2 Конституционный день
											.news-popular__text Депутат Государственной Думы Виталий Бахметьев в последние дни февраля встретился с жителями сельских поселений и трудовыми коллективами Магнитогорска.
										.publish
											.publish__wrapper
												a(href="javascript:void(0);").publish__date 19 марта
												a(href="javascript:void(0);" title="Фантасмогорьев Фантасмогорь").publish__person
													.publish__pic
														+svg('user')
													.publish__txt Фантасмогорьев Фантасмогорь
						.news-popular__bloc
							.news-popular__items
								.news-popular__item
									a(href="javascript:void(0);").news-popular__pic
											img(src="./img/index/p2.jpg" alt="")
									.news-popular__box
										.news-popular__top
											a(href="javascript:void(0);").news-popular__name Действующие лица
										a(href="javascript:void(0);").news-popular__cover
											.news-popular__header.title-2 Конституционный день
											.news-popular__text Депутат Государственной Думы Виталий БаДепутат Государственной Думы Виталий БаДепутат Государственной Думы Виталий Бахметьев в последние дни февраля встретился с жителями сельских поселений и трудовыми коллективами Магнитогорска.
										.publish
											.publish__wrapper
												a(href="javascript:void(0);").publish__date 19 марта
												a(href="javascript:void(0);" title="Фантасмогорьев Фантасмогорь").publish__person
													.publish__pic
														+svg('user')
													.publish__txt Фантасмогорьев Фантасмогорь
								.news-popular__item
									a(href="javascript:void(0);").news-popular__pic
											img(src="./img/index/p2.jpg" alt="")
									.news-popular__box
										.news-popular__top
											a(href="javascript:void(0);").news-popular__name Действующие лица
										a(href="javascript:void(0);").news-popular__cover
											.news-popular__header.title-2 Конституционный день
											.news-popular__text Депутат Государственной Думы Виталий Бахметьев в последние дни февраля встретился с жителями сельских поселений и трудовыми коллективами Магнитогорска.
										.publish
											.publish__wrapper
												a(href="javascript:void(0);").publish__date 19 марта
												a(href="javascript:void(0);" title="Фантасмогорьев Фантасмогорь").publish__person
													.publish__pic
														+svg('user')
													.publish__txt Фантасмогорьев Фантасмогорь
						.news-set__wrapper.news-set__wrapper--basic.news-set__wrapper--archive
							.news-set__item
										a(href="javascript:void(0);").news-set__pic
											img(src="./img/index/p4.jpg" alt="")
										.news-set__content
											a(href="javascript:void(0);").news-set__article Действующие лица
											a(href="javascript:void(0);").news-set__cover 
												.news-set__title С чувством уважения к истории
												.news-set__text В детской библиотеке № 2 прошла тематическая встреча учащихся Магнитогорского государственного многопрофильного лицея при МГТУ имени Г. И. Носова с представителями военно-патриотического клуба "Гранит" и хуторского казачьего общества "Хутор Могутовский".
											.publish
												.publish__wrapper
													a(href="javascript:void(0);").publish__date 19 марта
													a(href="javascript:void(0);" title="Фантасмогорьев Фантасмогорь").publish__person
														.publish__pic
															+svg('user')
														.publish__txt Фантасмогорьев Фантасмогорь
				.news-today.news-today--include
					.news-today__item
						.news-today__title.title-2 Сегодняшняя газета
						a(href="javascript:void(0);").btn Посмотреть электронное издание
				.news-temp
					img(src="./img/banner2.jpg" alt="")
			.wrapper__right.wrapper__right--special
				.news-survey
					a(href="javascript:void(0);").news-survey__title.title-3 Что вы думаете <br> об обязательном тестировании на коронавирусную инфекцию?
					form.news-survey__form(method="get")
						label(for="qu1" class="news-survey__radio") 
							input(type="radio" id="qu1" name="rdbtn" checked)
							div.news-survey__text Нужно сделать всем, вдруг кто-то болеет без симптомов
						label(for="qu2" class="news-survey__radio") 
							input(type="radio" id="qu2" name="rdbtn")
							div.news-survey__text Нужно сделать всем, вдруг кто-то болеет без симптомов
						button(type="submit" class="btn") Голосовать
				.news-hidden
					a(href="javascript:void(0);").news-today__block.news-today__block--other
							img(src="./img/index/p36.jpg" alt="")
				.news-city
					a(href="javascript:void(0);").news-city__title.title-2 История города
						+svg("ar-title")
					.news-city__items
						a(href="javascript:void(0);").news-city__item
							.news-city__pic(style="background-image: url(./img/history/city/hc1.jpg);")
							.news-city__title.title-3 Газета в рабочей спецовке
						a(href="javascript:void(0);").news-city__item
							.news-city__pic(style="background-image: url(./img/index/p32.jpg);")
							.news-city__title.title-3 Больницы для солдат
						a(href="javascript:void(0);").news-city__item
							.news-city__pic(style="background-image: url(./img/index/p34.jpg);")
							.news-city__title.title-3 Маленькая женщина с большим сердцем
						a(href="javascript:void(0);").news-city__item
							.news-city__pic(style="background-image: url(./img/index/p33.jpg);")
							.news-city__title.title-3 Первые секретари
				.news-today
					a(href="javascript:void(0);").news-today__block
						img(src="./img/index/p35.jpg" alt="")
					.news-today__item
						.news-today__title.title-2 Сегодняшняя газета
						a(href="javascript:void(0);").btn Посмотреть электронное издание
		
							

					

		
							


block script