extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';

block content
	.container
		.wrapper
			.wrapper__left
				.info
					.info__header
						.info__title.title-1 История города Магнитогорска с 1930 года
						.info__text Как было показано выше, литургическая драма возможна. Социальная психология искусства, по определению, монотонно&nbsp;дает художественный идеал. Художественное восприятие выстраивает комплекс агрессивности. Богатство мировой литературы от Платона до Ортеги-и-Гассета свидетельствует о том, что художественная ментальность вызывает&nbsp;драматизм.
					.js-in-cloud
					.entry
						.entry__items 
							.entry__item(data-slide='{"slides": ["./img/article/pic1.jpg"]}') 
								.entry__header 
									.entry__date 7 мар в 8:34
									.entry__title.title-3 Строительство домны № 9.
									.entry__text Магнитогорский металлургический комбинат. (дата съёмки не указана)
								.entry__wrapper.js-wrapper
								.entry__footer 
									.entry__tag #История
									.entry__tag #Магнитогорск
								.popup-wrapper.js-overlay
									.popup.popup--entry.js-entry-popup
										.popup__close.js-close-form
										.js-in-date 
										.popup__inner
											.popup__left
												.js-slider 
													.swiper-wrapper 
													.arrow
														.arrow__link.arrow__link--prev
															<svg width="35" height="56" viewBox="0 0 35 56" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M3.74878 3L28.4975 27.7487L3.74878 52.4975" stroke="white" stroke-width="8"/>
															</svg>
														.arrow__link.arrow__link--next
															<svg width="35" height="56" viewBox="0 0 35 56" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M3.74878 3L28.4975 27.7487L3.74878 52.4975" stroke="white" stroke-width="8"/>
															</svg>
													.pagination
											.popup__right
												.popup__header
													.popup__date.js-out-date 7 мар в 8:34
													.popup__title Строительство домны № 9.
												.popup__info.js-scroll Магнитогорский металлургический комбинат. (дата съёмки не указана)
												.popup__bottom
													.tags
														.tags__tag #История
														.tags__tag #Магнитогорск
														.tags__tag #ММК
														.tags__tag #История
														.tags__tag #Магнитогорск
														.tags__tag #ММК
														.tags__tag #История
														.tags__tag #Магнитогорск
														.tags__tag #ММК
							
							
							
							
			.wrapper__right.wrapper__right--special
				.cloud.js-out-cloud
					a(href="javascript:void(0);").btn.btn--video.btn--light 
							.btn__txt Видеоархив
							.btn__ic 
								<svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M14.96 11.5L8.36002 15.6916L8.36002 7.30847L14.96 11.5Z" fill="#27202C"/>
									<circle cx="11" cy="11.5" r="10.5" stroke="#27202C"/>
								</svg>
					.cloud__wrp 
						.cloud__btn.js-cloud-btn
							.cloud__title.title-2 Фильтр по тегам
							i
								<svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 5L5.24264 9.24264L9.48528 5" stroke="#27202C" stroke-width="2"/>
								</svg>
						.cloud__panel.js-cloud-panel
							.tags
								a(href="javascript:void(0);").tags__tag.active #История
								a(href="javascript:void(0);").tags__tag.active #Магнитогорск
								a(href="javascript:void(0);").tags__tag.active #ММК
								a(href="javascript:void(0);").tags__tag.active #История
								a(href="javascript:void(0);").tags__tag #Магнитогорск
								a(href="javascript:void(0);").tags__tag #ММК
								a(href="javascript:void(0);").tags__tag #История
								a(href="javascript:void(0);").tags__tag #Магнитогорск
								a(href="javascript:void(0);").tags__tag #ММК		
					

					

		
							


block script