extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';

block content
	.container
		.wrapper
			.wrapper__left
				.info
					.info__header
						.info__title.title-1 История города Магнитогорска с 1930 года
						.info__text Как было показано выше, литургическая драма возможна. Социальная психология искусства, по определению, монотонно&nbsp;дает художественный идеал. Художественное восприятие выстраивает комплекс агрессивности. Богатство мировой литературы от Платона до Ортеги-и-Гассета свидетельствует о том, что художественная ментальность вызывает&nbsp;драматизм.
					.entry
						.entry__items 
							.entry__item(data-slide='{"slides": ["pic1.jpg", "pic1.jpg", "pic1.jpg"]}') 
								.entry__header 
									.entry__date 7 мар в 8:34
									.entry__title.title-3 Строительство домны № 9.
									.entry__text Магнитогорский металлургический комбинат. (дата съёмки не указана)
								.entry__wrapper.js-wrapper
								.entry__footer 
									.entry__tag #История
									.entry__tag #Магнитогорск
								.entry-popup
							.entry__item(data-slide='{"slides": ["pic1.jpg", "pic1.jpg"]}')
								.entry__header 
									.entry__date 7 мар в 8:34
									.entry__title.title-3 Строительство домны № 9.
									.entry__text Магнитогорский металлургический комбинат. (дата съёмки не указана)
								.entry__wrapper 
								.entry__footer 
									.entry__tag #История
									.entry__tag #Магнитогорск
								.entry-popup

			.wrapper__right.wrapper__right--special
							

					

		
							


block script