extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';

block content
	.container
		.wrapper
			.wrapper__left
				.article
					.article__title.title-1 История Магнитогорска
					.article__info Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					<form class="filter" action="" method="get" >
						.filter__item
							.filter__bloc
								.filter__txt ММК
								.filter__ic
									<svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M1 5L5.24264 9.24264L9.48528 5" stroke="#27202C" stroke-width="2"/>
									</svg>
							.filter__box
								.filter__list
									<div class="filter__block">
										<input id="m1" type="radio" name="article" value="" checked>
										<label for="m1">ММК</label>
									</div>
									<div class="filter__block">
										<input id="m2" type="radio" name="article" value="">
										<label for="m2">Первая улица</label>
									</div>
					</form>

					<form class="article__form article__wrapper" action="" method="get" >
						.article__inner
							<div class="article__link article__link--active">
								<input id="a1" type="radio" name="article" value="">
								<label for="a1">ММК</label>
							</div>
							<div class="article__link">
								<input id="a2" type="radio" name="article" value="">
								<label for="a2">Памятники</label>
							</div>
							<div class="article__link">
								<input id="a3" type="radio" name="article" value="">
								<label for="a3">Первая улица</label>
							</div>
							<div class="article__link">
								<input id="a4" type="radio" name="article" value="">
								<label for="a4">Ленинский</label>
							</div>
							<div class="article__link">
								<input id="a5" type="radio" name="article" value="">
								<label for="a5">Орджоникидзевский</label>
							</div>
							<div class="article__link">
								<input id="a6" type="radio" name="article" value="">
								<label for="a6">ВОВ</label>
							</div>

							<div class="article__link">
								<input id="a7" type="radio" name="article" value="">
								<label for="a7">Городской проспект</label>
							</div>

							<div class="article__link">
								<input id="a8" type="radio" name="article" value="">
								<label for="a8">Память</label>
							</div>

							<div class="article__link">
								<input id="a9" type="radio" name="article" value="">
								<label for="a9">Реальные истории</label>
							</div>

							<div class="article__link">
								<input id="a10" type="radio" name="article" value="">
								<label for="a10">Реальные истории</label>
							</div>

							<div class="article__link">
								<input id="a11" type="radio" name="article" value="">
								<label for="a11">О ком говорят</label>
							</div>

							<div class="article__link">
								<input id="a12" type="radio" name="article" value="">
								<label for="a12">Народная экономика: и жизнь, и кошелек</label>
							</div>

							<div class="article__link">
								<input id="a13" type="radio" name="article" value="">
								<label for="a13">Политика. Власть. Общество</label>
							</div>

							<div class="article__link">
								<input id="a14" type="radio" name="article" value="">
								<label for="a14">Православие</label>
							</div>
						</form>

					a(href="javascript:void(0);").btn.btn--video 
						.btn__txt Просмотреть архив с видео
						.btn__ic 
							+svg('polygon')
					.article__bloc
						.title-2 ММК
						.article__txt Председателем совета директоров ПАО "ММК" Виктором Рашниковым принято решение об оказании помощи учреждениям социальной сферы - школам, детским садам, интернатам.
					.news-detail.news-detail--article
						.news-detail__item
							img(src="./img/news-detail/img1.jpg" alt="")
							img(src="./img/news-detail/img1.jpg" alt="")
							img(src="./img/news-detail/img1.jpg" alt="")
					.content.content--article
						h2 Lorem ipsum dolor sit amet
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						
						.article__box
							.article__pic
								img(src="./img/news-detail/img1.jpg" alt="")
							.article__cover
								h2 Lorem ipsum dolor sit amet
								.article__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.
						.article__box.article__box--reverse
							.article__pic
								img(src="./img/news-detail/img1.jpg" alt="")
							.article__cover
								h2 Lorem ipsum dolor sit amet
								.article__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.
				.news-today.news-today--include
					.news-today__item
						.news-today__title.title-2 Сегодняшняя газета
						a(href="javascript:void(0);").btn Посмотреть электронное издание
			.wrapper__right.wrapper__right--special
				.news-today
					.news-today__item
						.news-today__title.title-2 Сегодняшняя газета
						a(href="javascript:void(0);").btn Посмотреть электронное издание
				.news-survey
					a(href="javascript:void(0);").news-survey__title.title-3 Что вы думаете <br> об обязательном тестировании на коронавирусную инфекцию?
					form.news-survey__form(method="get")
						label(for="qu1" class="news-survey__radio") 
							input(type="radio" id="qu1" name="rdbtn" checked)
							div.news-survey__text Нужно сделать всем, вдруг кто-то болеет без симптомов
						label(for="qu2" class="news-survey__radio") 
							input(type="radio" id="qu2" name="rdbtn")
							div.news-survey__text Нужно сделать всем, вдруг кто-то болеет без симптомов
						button(type="submit" class="btn") Голосовать
				.news-hidden
					a(href="javascript:void(0);").news-today__block.news-today__block--other
							img(src="./img/index/p36.jpg" alt="")
				.news-city
					a(href="javascript:void(0);").news-city__title.title-2 История города
						+svg("ar-title")
					.news-city__items
						a(href="javascript:void(0);").news-city__item
							.news-city__pic(style="background-image: url(./img/history/city/hc1.jpg);")
							.news-city__title.title-3 Газета в рабочей спецовке
						a(href="javascript:void(0);").news-city__item
							.news-city__pic(style="background-image: url(./img/index/p32.jpg);")
							.news-city__title.title-3 Больницы для солдат
						a(href="javascript:void(0);").news-city__item
							.news-city__pic(style="background-image: url(./img/index/p34.jpg);")
							.news-city__title.title-3 Маленькая женщина с большим сердцем
						a(href="javascript:void(0);").news-city__item
							.news-city__pic(style="background-image: url(./img/index/p33.jpg);")
							.news-city__title.title-3 Первые секретари
				include ../modules/news-banner
		include ../modules/news-temp
		
							

					

		
							


block script