extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';

block content
	.container
		.wrapper
			.wrapper__left
				.author
					.author__top
						.author__photo
							img(src="./img/index/p24.jpg" alt="")
						.author__cover
							.author__name.title-1 Фролов Олег Валерьевич
							.author__status Главный редактор
					.author__items
						.author__item
							.author__block
								.title-3 Образование:
								.author__info Средняя общеобразовательная школа № 14, г. Магнитогорск, 1995 год. Факультет русского языка и литературы, мировой художественной культуры Магнитогорского государственного университета, специальность – учитель русского языка, литературы и мировой художественной культуры, 2000 год. Школа "Internews" г. Москва, 2003 год, специализация «телевизионная журналистка». Российская академия народного хозяйства и государственной службы при Президенте Российской Федерации, государственное и муниципальное управление, 2014 г.								 
							.author__block
								.title-3 Курсы повышения квалификации:
								.author__info Школа телевизионного мастерства английской телекомпании «БИ-БИ-СИ» г. Екатеринбург, 2003 год. Российская ассоциация по связям с общественностью. Курс «Коммуникационные технологии в условиях новой информационной реальности», г. Москва, 2007 год.
						.author__item
							.author__block
								.title-3 Карьера:
								.author__info 1995 – 1999: редакция радиопрограммы «Магнитогорский радиоцентр», ведущий музыкальных программ. 1999 – 2001: ООО «Издательский центр» «Магнитогорские вести», редактор службы информации. 2001 – 2006: телекомпания «ТВ-ИН», корреспондент отдела новостей, редактор отдела новостей, и.о. начальника отдела новостей. С 2006 года – по настоящее время: АНО «Редакция газеты «Магнитогорский металл», главный редактор.
							.author__block
								.title-3 Особые заслуги:
								.author__info 2003 год – Почетная грамота ОАО «ММК» за образцовое выполнение трудовых обязанностей и продолжительную работу». 2004 год – благодарственное письмо директора телекомпании «ТВ-ИН» за добросовестное выполнение трудовых обязанностей в 2004 году. 2005 год – диплом лауреата Фестиваля «Грани» в номинации «Телевидение», «Лучшая информационная программа».
					.author__txt 
						p 2007 год – благодарность Губернатора Челябинской области за добросовестный труд в средствах массовой информации, высокий профессионализм.
						p 2007 год – диплом регионального уровня лауреата проекта «Профессиональная команда страны» за подписью Губернатора Челябинской области.
						p 2007 год – Почетная грамота ОАО «ММК» за образцовое выполнение трудовых обязанностей и продолжительную работу.2010 год – Член Общественной палаты г. Магнитогорска.
				.author-articles
					.title-2 Статьи редактора
					.author-articles__grid
						.author-articles__wrapper
							.author-articles__items
								.author-articles__item
									a(href="javascript:void(0);").author-articles__pic
										img(src="./img/index/p38.jpg" alt="")
									.author-articles__box
										.author-articles__top
											a(href="javascript:void(0);").author-articles__name О чем говорят
											.author-articles__date 15 августа 2018
										a(href="javascript:void(0);").author-articles__cover
											.author-articles__title.title-2 Туристов застали врасплох 
											.author-articles__txt На территории Армянского нагорья когда-то располагалось древнее царство.
										.author-articles__publish
											a(href="javascript:void(0);").author-articles__num 19 марта
											a(href="javascript:void(0);").author-articles__author Фантасмогорьев Андрей
								.author-articles__item
									a(href="javascript:void(0);").author-articles__pic
										img(src="./img/index/p38.jpg" alt="")
									.author-articles__box
										.author-articles__top
											a(href="javascript:void(0);").author-articles__name О чем говорят
											.author-articles__date 15 августа 2018
										a(href="javascript:void(0);").author-articles__cover
											.author-articles__title.title-2 Туристов застали врасплох 
											.author-articles__txt На территории Армянского нагорья когда-то располагалось древнее царство.
										.author-articles__publish
											a(href="javascript:void(0);").author-articles__num 19 марта
											a(href="javascript:void(0);").author-articles__author Фантасмогорьев Андрей
						.author-articles__wrapper
							.author-articles__items
								.author-articles__item
									a(href="javascript:void(0);").author-articles__pic
										img(src="./img/index/p38.jpg" alt="")
									.author-articles__box
										.author-articles__top
											a(href="javascript:void(0);").author-articles__name О чем говорят
											.author-articles__date 15 августа 2018
										a(href="javascript:void(0);").author-articles__cover
											.author-articles__title.title-2 Туристов застали врасплох 
											.author-articles__txt На территории Армянского нагорья когда-то располагалось древнее царство.
										.author-articles__publish
											a(href="javascript:void(0);").author-articles__num 19 марта
											a(href="javascript:void(0);").author-articles__author Фантасмогорьев Андрей
								.author-articles__item
									a(href="javascript:void(0);").author-articles__pic
										img(src="./img/index/p38.jpg" alt="")
									.author-articles__box
										.author-articles__top
											a(href="javascript:void(0);").author-articles__name О чем говорят
											.author-articles__date 15 августа 2018
										a(href="javascript:void(0);").author-articles__cover
											.author-articles__title.title-2 Туристов застали врасплох 
											.author-articles__txt На территории Армянского нагорья когда-то располагалось древнее царство.
										.author-articles__publish
											a(href="javascript:void(0);").author-articles__num 19 марта
											a(href="javascript:void(0);").author-articles__author Фантасмогорьев Андрей		
						.author-articles__wrapper
							.author-articles__items
								.author-articles__item
									a(href="javascript:void(0);").author-articles__pic
										img(src="./img/index/p38.jpg" alt="")
									.author-articles__box
										.author-articles__top
											a(href="javascript:void(0);").author-articles__name О чем говорят
											.author-articles__date 15 августа 2018
										a(href="javascript:void(0);").author-articles__cover
											.author-articles__title.title-2 Туристов застали врасплох 
											.author-articles__txt На территории Армянского нагорья когда-то располагалось древнее царство.
										.author-articles__publish
											a(href="javascript:void(0);").author-articles__num 19 марта
											a(href="javascript:void(0);").author-articles__author Фантасмогорьев Андрей
								.author-articles__item
									a(href="javascript:void(0);").author-articles__pic
										img(src="./img/index/p38.jpg" alt="")
									.author-articles__box
										.author-articles__top
											a(href="javascript:void(0);").author-articles__name О чем говорят
											.author-articles__date 15 августа 2018
										a(href="javascript:void(0);").author-articles__cover
											.author-articles__title.title-2 Туристов застали врасплох 
											.author-articles__txt На территории Армянского нагорья когда-то располагалось древнее царство.
										.author-articles__publish
											a(href="javascript:void(0);").author-articles__num 19 марта
											a(href="javascript:void(0);").author-articles__author Фантасмогорьев Андрей
						.author-articles__wrapper
							.author-articles__items
								.author-articles__item
									a(href="javascript:void(0);").author-articles__pic
										img(src="./img/index/p38.jpg" alt="")
									.author-articles__box
										.author-articles__top
											a(href="javascript:void(0);").author-articles__name О чем говорят
											.author-articles__date 15 августа 2018
										a(href="javascript:void(0);").author-articles__cover
											.author-articles__title.title-2 Туристов застали врасплох 
											.author-articles__txt На территории Армянского нагорья когда-то располагалось древнее царство.
										.author-articles__publish
											a(href="javascript:void(0);").author-articles__num 19 марта
											a(href="javascript:void(0);").author-articles__author Фантасмогорьев Андрей
								.author-articles__item
									a(href="javascript:void(0);").author-articles__pic
										img(src="./img/index/p38.jpg" alt="")
									.author-articles__box
										.author-articles__top
											a(href="javascript:void(0);").author-articles__name О чем говорят
											.author-articles__date 15 августа 2018
										a(href="javascript:void(0);").author-articles__cover
											.author-articles__title.title-2 Туристов застали врасплох 
											.author-articles__txt На территории Армянского нагорья когда-то располагалось древнее царство.
										.author-articles__publish
											a(href="javascript:void(0);").author-articles__num 19 марта
											a(href="javascript:void(0);").author-articles__author Фантасмогорьев Андрей
						.author-articles__wrapper
							.author-articles__items
								.author-articles__item
									a(href="javascript:void(0);").author-articles__pic
										img(src="./img/index/p38.jpg" alt="")
									.author-articles__box
										.author-articles__top
											a(href="javascript:void(0);").author-articles__name О чем говорят
											.author-articles__date 15 августа 2018
										a(href="javascript:void(0);").author-articles__cover
											.author-articles__title.title-2 Туристов застали врасплох 
											.author-articles__txt На территории Армянского нагорья когда-то располагалось древнее царство.
										.author-articles__publish
											a(href="javascript:void(0);").author-articles__num 19 марта
											a(href="javascript:void(0);").author-articles__author Фантасмогорьев Андрей
								.author-articles__item
									a(href="javascript:void(0);").author-articles__pic
										img(src="./img/index/p38.jpg" alt="")
									.author-articles__box
										.author-articles__top
											a(href="javascript:void(0);").author-articles__name О чем говорят
											.author-articles__date 15 августа 2018
										a(href="javascript:void(0);").author-articles__cover
											.author-articles__title.title-2 Туристов застали врасплох 
											.author-articles__txt На территории Армянского нагорья когда-то располагалось древнее царство.
										.author-articles__publish
											a(href="javascript:void(0);").author-articles__num 19 марта
											a(href="javascript:void(0);").author-articles__author Фантасмогорьев Андрей
						.author-articles__wrapper
							.author-articles__items
								.author-articles__item
									a(href="javascript:void(0);").author-articles__pic
										img(src="./img/index/p38.jpg" alt="")
									.author-articles__box
										.author-articles__top
											a(href="javascript:void(0);").author-articles__name О чем говорят
											.author-articles__date 15 августа 2018
										a(href="javascript:void(0);").author-articles__cover
											.author-articles__title.title-2 Туристов застали врасплох 
											.author-articles__txt На территории Армянского нагорья когда-то располагалось древнее царство.
										.author-articles__publish
											a(href="javascript:void(0);").author-articles__num 19 марта
											a(href="javascript:void(0);").author-articles__author Фантасмогорьев Андрей
								.author-articles__item
									a(href="javascript:void(0);").author-articles__pic
										img(src="./img/index/p38.jpg" alt="")
									.author-articles__box
										.author-articles__top
											a(href="javascript:void(0);").author-articles__name О чем говорят
											.author-articles__date 15 августа 2018
										a(href="javascript:void(0);").author-articles__cover
											.author-articles__title.title-2 Туристов застали врасплох 
											.author-articles__txt На территории Армянского нагорья когда-то располагалось древнее царство.
										.author-articles__publish
											a(href="javascript:void(0);").author-articles__num 19 марта
											a(href="javascript:void(0);").author-articles__author Фантасмогорьев Андрей
						.author-articles__wrapper
							.author-articles__items
								.author-articles__item
									a(href="javascript:void(0);").author-articles__pic
										img(src="./img/index/p38.jpg" alt="")
									.author-articles__box
										.author-articles__top
											a(href="javascript:void(0);").author-articles__name О чем говорят
											.author-articles__date 15 августа 2018
										a(href="javascript:void(0);").author-articles__cover
											.author-articles__title.title-2 Туристов застали врасплох 
											.author-articles__txt На территории Армянского нагорья когда-то располагалось древнее царство.
										.author-articles__publish
											a(href="javascript:void(0);").author-articles__num 19 марта
											a(href="javascript:void(0);").author-articles__author Фантасмогорьев Андрей
								.author-articles__item
									a(href="javascript:void(0);").author-articles__pic
										img(src="./img/index/p38.jpg" alt="")
									.author-articles__box
										.author-articles__top
											a(href="javascript:void(0);").author-articles__name О чем говорят
											.author-articles__date 15 августа 2018
										a(href="javascript:void(0);").author-articles__cover
											.author-articles__title.title-2 Туристов застали врасплох 
											.author-articles__txt На территории Армянского нагорья когда-то располагалось древнее царство.
										.author-articles__publish
											a(href="javascript:void(0);").author-articles__num 19 марта
											a(href="javascript:void(0);").author-articles__author Фантасмогорьев Андрей
						.author-articles__wrapper
							.author-articles__items
								.author-articles__item
									a(href="javascript:void(0);").author-articles__pic
										img(src="./img/index/p38.jpg" alt="")
									.author-articles__box
										.author-articles__top
											a(href="javascript:void(0);").author-articles__name О чем говорят
											.author-articles__date 15 августа 2018
										a(href="javascript:void(0);").author-articles__cover
											.author-articles__title.title-2 Туристов застали врасплох 
											.author-articles__txt На территории Армянского нагорья когда-то располагалось древнее царство.
										.author-articles__publish
											a(href="javascript:void(0);").author-articles__num 19 марта
											a(href="javascript:void(0);").author-articles__author Фантасмогорьев Андрей
								.author-articles__item
									a(href="javascript:void(0);").author-articles__pic
										img(src="./img/index/p38.jpg" alt="")
									.author-articles__box
										.author-articles__top
											a(href="javascript:void(0);").author-articles__name О чем говорят
											.author-articles__date 15 августа 2018
										a(href="javascript:void(0);").author-articles__cover
											.author-articles__title.title-2 Туристов застали врасплох 
											.author-articles__txt На территории Армянского нагорья когда-то располагалось древнее царство.
										.author-articles__publish
											a(href="javascript:void(0);").author-articles__num 19 марта
											a(href="javascript:void(0);").author-articles__author Фантасмогорьев Андрей
						.author-articles__wrapper.author-articles__wrapper--special
							.author-articles__items
								.author-articles__item
									a(href="javascript:void(0);").author-articles__pic
										img(src="./img/index/p38.jpg" alt="")
									.author-articles__box
										.author-articles__top
											a(href="javascript:void(0);").author-articles__name О чем говорят
											.author-articles__date 15 августа 2018
										a(href="javascript:void(0);").author-articles__cover
											.author-articles__title.title-2 Туристов застали врасплох 
											.author-articles__txt На территории Армянского нагорья когда-то располагалось древнее царство.
										.author-articles__publish
											a(href="javascript:void(0);").author-articles__num 19 марта
											a(href="javascript:void(0);").author-articles__author Фантасмогорьев Андрей
					.edition-rewards__pagination.edition-rewards__pagination--basic
						a(href="javascript:void(0);").edition-rewards__link.edition-rewards__link--prev
							img(src="./img/icon/ar_pag.png" alt="letter")
						a(href="javascript:void(0);").edition-rewards__link.edition-rewards__link--active 1
						a(href="javascript:void(0);").edition-rewards__link 2
						a(href="javascript:void(0);").edition-rewards__link 3
						a(href="javascript:void(0);").edition-rewards__link ...
						a(href="javascript:void(0);").edition-rewards__link 13
						a(href="javascript:void(0);").edition-rewards__link 14
						a(href="javascript:void(0);").edition-rewards__link 15
						a(href="javascript:void(0);").edition-rewards__link.edition-rewards__link--next
							img(src="./img/icon/ar_pag_next.png" alt="letter")
				.news-today.news-today--include
					.news-today__item
						.news-today__title.title-2 Сегодняшняя газета
						a(href="javascript:void(0);").btn Посмотреть электронное издание
				.news-temp
					img(src="./img/banner2.jpg" alt="")
			.wrapper__right.wrapper__right--special
				.news-survey
					a(href="javascript:void(0);").news-survey__title.title-3 Что вы думаете <br> об обязательном тестировании на коронавирусную инфекцию?
					form.news-survey__form(method="get")
						label(for="qu1" class="news-survey__radio") 
							input(type="radio" id="qu1" name="rdbtn")
							div.news-survey__text Нужно сделать всем, вдруг кто-то болеет без симптомов
						label(for="qu2" class="news-survey__radio") 
							input(type="radio" id="qu2" name="rdbtn")
							div.news-survey__text Нужно сделать всем, вдруг кто-то болеет без симптомов
						button(type="submit" class="btn") Голосовать
				.news-hidden
					a(href="javascript:void(0);").news-today__block.news-today__block--other
							img(src="./img/index/p36.jpg" alt="")
				.news-city
					a(href="javascript:void(0);").news-city__title.title-2 История города
						+svg("ar-title")
					.news-city__items
						a(href="javascript:void(0);").news-city__item
							.news-city__pic(style="background-image: url(./img/history/city/hc1.jpg);")
							.news-city__title.title-3 Газета в рабочей спецовке
						a(href="javascript:void(0);").news-city__item
							.news-city__pic(style="background-image: url(./img/index/p32.jpg);")
							.news-city__title.title-3 Больницы для солдат
						a(href="javascript:void(0);").news-city__item
							.news-city__pic(style="background-image: url(./img/index/p34.jpg);")
							.news-city__title.title-3 Маленькая женщина с большим сердцем
						a(href="javascript:void(0);").news-city__item
							.news-city__pic(style="background-image: url(./img/index/p33.jpg);")
							.news-city__title.title-3 Первые секретари
				.news-most__left.news-most__left--hidden
						a(href="javascript:void(0);").news-most__title.title-2 Самое читаемое
							+svg("ar-title")
						.news-most__items
							.news-most__item
								.news-most__lft
									.news-most__pic
										+svg('eye')
									.news-most__count 1211
								a(href="javascript:void(0);").news-most__rght
									.news-most__txt <span>На Южном Урале ФСБ</span> задержали автомобиль с восемью коробками одноразовых хирургических перчаток, которые относятся к временно запрещённым для вывоза из России.
							.news-most__item
								.news-most__lft
									.news-most__pic
										+svg('eye')
									.news-most__count 1211
								a(href="javascript:void(0);").news-most__rght
									.news-most__txt <span>Жители Челябинской области</span>, прибывшие домой из стран с неблагоприятной ситуацией по коронавирусной инфекции, должны самоизолироваться на две недели.
							.news-most__item
								.news-most__lft
									.news-most__pic
										+svg('eye')
									.news-most__count 1211
								a(href="javascript:void(0);").news-most__rght
									.news-most__txt <span>Специалисты из Уральского</span> федерального округа востребованы не только на родине, но и за рубежом.
							.news-most__item
								.news-most__lft
									.news-most__pic
										+svg('eye')
									.news-most__count 1211
								a(href="javascript:void(0);").news-most__rght
									.news-most__txt <span>В Краснодаре стартует</span> "финал восьми" Студенческой лиги ВТБ, в который вновь пробились "Стальные сердца".
							.news-most__item
								.news-most__lft
									.news-most__pic
										+svg('eye')
									.news-most__count 1211
								a(href="javascript:void(0);").news-most__rght
									.news-most__txt <span>Малкин забивает</span>, но "Питтсбург" проигрывает.
							.news-most__item
								.news-most__lft
									.news-most__pic
										+svg('eye')
									.news-most__count 1211
								a(href="javascript:void(0);").news-most__rght
									.news-most__txt <span>В Краснодаре стартует</span> "финал восьми" Студенческой лиги ВТБ, в который вновь пробились "Стальные сердца".	
				.news-today
					a(href="javascript:void(0);").news-today__block
						img(src="./img/index/p35.jpg" alt="")
					.news-today__item
						.news-today__title.title-2 Сегодняшняя газета
						a(href="javascript:void(0);").btn Посмотреть электронное издание
		
							

					

		
							


block script