extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';

block content
	.container
		.wrapper
			.wrapper__left
				.edition
					.edition__block
						.edition__info В мае 2020 года «ММ» отметил 85-летие. Немногие издания в стране – даже центральные – могут похвастать подобным долголетием. Как, впрочем, и тиражом – более 60 тысяч экземпляров. За минувшие десятилетия газета прошла большой и сложный путь. Она развивалась и менялась вместе со страной, сумела найти свой фирменный стиль и стала по-настоящему народным изданием, брендом.
					
					.edition__title.title-1.b-edition__margin(itemprop="name") Газета в рабочей спецовке
					.edition__block
						.edition__info Первый номер многотиражки «Магнитогорский Металл» вышел в свет 5 мая 1935 года – в День советской печати. Но её история началась за несколько лет до этого. В 1932 году Уральский обком партии принял решение об издании на строящемся у подножия Магнитной горы металлургическом гиганте многотиражной газеты, которой предстояло стать информационным рупором молодого предприятия. К этому времени уже действовал рудник, коксовые батареи, две доменные печи и несколько вспомогательных цехов. Из квалифицированного персонала – 156 инженеров и 116 техников, а для остальных, коих были тысячи, основным орудием труда по-прежнему оставалась лопата. Для дальнейшего развития комбината необходимо было масштабное техническое обучение молодых рабочих и переобучение старых мастеров, не желавших расставаться с дедовскими методами. В эту важную работу должна была включиться и заводская многотиражка.
						.edition__info Редакция газеты, получившая название «За металл», располагалась в нескольких комнатах двухэтажного деревянного барака позади гостиницы для приезжих специалистов. В штат входили пять человек, из имущества – пишущая машинка и лошадь с телегой. Редактором нового печатного органа назначен помощник начальника основного механического цеха Рафаил Шнейвайс. В 1931 году он участвовал в строительстве первой доменной печи, в это же время включился в рабкоровское движение и выпускал стенную газету «Даёшь чугун!».
						.edition__info Газета выходила четыре раза в неделю на двух полосах. Главными её авторами были рабкоры: машинист танк-паровоза А. Авдеенко, доменщик Г. Герасимов, молодые поэты М. Люгарин, Н. Смелянский, Б. Ручьёв, Л. Татьяничева. Участвовал в жизни многотиражки начальник строительства Яков Гугель. Помогали советом журналисты «Магнитогорского комсомольца» и «Магнитогорского рабочего».
						.edition__info В 1933 году из-за дефицита бумаги большинство многотиражек в стране, в том числе и «За металл», были закрыты. Возобновить выпуск общекомбинатской газеты удалось лишь в 1935 году. Встал вопрос: оставить прежнее название или придумать новое?
						.edition__info На заседании горкома партии после долгих обсуждений было решено назвать многотиражку «Магнитогорский металл».
						.edition__info Продукция ММК к этому времени считалась в стране своеобразным символом мощи, славы и геройства тысяч людей и название газеты отражало этот факт. Редакцию разместили в здании заводоуправления в комнате № 7, а ответственным редактором назначили заведующего отделом газеты «Магнитогорский рабочий» Якова Резника. Несмотря на смену «вывески» основной принцип заводской многотиражки остался прежним: главный сотрудник газеты – рабочий корреспондент.
						.edition__info Поначалу в газету, которую читатели для экономии времени стали именовать «ММ», приходило по три-пять заметок в день, постепенно число сообщений увеличилось до 300 в месяц. И почти все они находили место на страницах «Металла», остальные отправлялись в стенновки: в цехах комбината в этот период действовало около ста стенгазет, которые выходили через день.
						.edition__info Летом того же года редакция «Магнитогорского металла» организовала семинар рабкоров, который со временем перерос в школу рабкоров и редакторов. В программу подготовки входили азы журналистской деятельности. В газету мешками приносили письма с просьбой зачислить в «число рабкоров». С развитием стахановского движения в газете была создана рабочая редколлегия. Её костяк составили рабкоры-стахановцы – редакторы цеховых стенгазет: Грязнов, Шварцман, Оздоба, Зудов, Панченко. Армия рабкоров к этому времени насчитывала более шестисот человек.
						.edition__info В 1936 году на ММК проходили стахановские сутки и «Магнитогорский металл» организовал выездную редакцию во главе с рабкоровским активом. За 24 часа рабочие корреспонденты подготовили три листовки-молнии по тысяче экземпляров каждая. Прямо из типографии их оперативно развозили по цехам. Не успели отгреметь сутки, а «Металл» уже выдвинул призыв, принять участие в стахановской «пятидневке».
						.edition__info По просьбе редакторов сатирических выпусков стенгазет журналисты «Магнитогорского металла» обратились к редколлегии журнала «Крокодил» за советом, как сделать сатиру более действенной. Рекомендации прислал лично писатель Михаил Кольцов. В стенгазетах появились сатирические уголки «На вилы», где рабкоры крепко разили лодырей, бракоделов, пьяниц и рвачей. Не менее хлёстко выступал против этих явлений и сам «Магнитогорский металл», его критики боялись не только рабочие, но и руководители.
						.edition__info Газета участвовала в решении технических проблем, с которыми сталкивался строящийся комбинат, освещала переход специальных цехов на поточную систему, уплотнение рабочего дня.
						.edition__info За первый год своего существования «Магнитогорский металл» выпустил триста номеров. В конце тридцатых годов многотиражка вновь была закрыта. Возможно, причиной послужил арест редактора «Магнитогорского металла» Якова Резника. После значительного перерыва газету вновь начали издавать в 1939 году. Первый номер вышел 24 декабря – в день выборов в местные советы депутатов трудящихся.
						.edition__info И вновь основная нагрузка по подготовке газеты легла на плечи рабкоров – профессиональных журналистов в штате почти не было. Осложняло дело и отсутствие собственной полиграфической базы. Поначалу многотиражку печатали в типографии металлургического комбината, затем – в типографии «Магнитогорского рабочего». Выходила она ежедневно на четырёх полосах форматом 29 на 41 сантиметр.
						.edition__info С 1947 по 1949 год редакция «Магнитогорского металла» располагалась в трёх маленьких комнатах на нижнем этаже Дома культуры трудовых резервов, штат её состоял из пяти человек: возглавлял газету фронтовик Дмитрий Максимович Гнилорыбов, ответственным секретарём был Ефим Иванович Клемин. В штат входили также секретарь-машинистка, корреспондент и литработник Роза Александровна Рудных. Газета выходила тиражом до 10 тысяч экземпляров.
						.edition__info В 1947 году, в преддверии летнего спортивного сезона, по инициативе редакции «Магнитогорского металла» была организована легкоатлетическая эстафета, в которой приняли участие тысячи магнитогорцев. Перед зданием, где размещался «Металл», состоялся парад участников эстафеты. В 1949 году на заседании заводского партийного комитета эстафету официально включили в план физкультурной и спортивно-массовой работы, а на страницах «Металла» стал печататься подробный маршрут движения. К участию в весенней эстафете стали допускать только те команды, которые были заявлены физкультурными организациями цехов ММК. Победитель получал переходящий кубок от газеты «Магнитогорский металл», и грамоты завкома металлургов и заводского совета добровольного спортивного общества «Металлург».
						.edition__info В пятидесятых–шестидесятых годах «Металл» из номера в номер писал о становлении на ММК коллективов коммунистического труда. За этот период в газете сменилось четыре редактора: Владимир Щибря, Геннадий Рыбаков, Пётр Погудин и Владимир Шураев. В 1960-м году журналисты «Магнитогорского металла» выступили с предложением создать при газете литературную группу «Магнит». Вначале она выглядела как небольшой кружок творческой молодёжи, ситуация изменилась с приходом известных писателей и поэтов. Первым автором «выступившим» на страницах «Металла» стал активный рабкор, стоявший у истоков газеты, старейший поэт Магнитки Михаил Люгарин. В 1966 году литературное объединение «Магнит» возглавил член Союза писателей СССР Владилен Машковцев, а ряды объединения пополнили прокатчики Александр Тюнькин и Александр Павлов, мартеновец Александр Васильев, техник цемзавода Римма Дышаленкова, машинист обжимного цеха Василий Андросов, инженер Анатолий Занин, геолог известняково-доломитового карьера Кирилл Загороднюк. Лито, набравшее силу, подготовило и опубликовало в «ММ» десятки «Литературных страниц».
						.edition__info Со временем при редакции выросла целая плеяда поэтов и прозаиков. Известным писателем стал первый редактор «Магнитогорского металла» Яков Резник. Здесь же нашли поэтическое призвание Ирина Кияшко, Владимир Петренко, Юрий Костарев, широко известно имя российского поэта Александра Павлова.
						.edition__info Но газета не забывала и о своих основных обязанностях – пропаганде трудовых достижений ММК. В семидесятых годах «Металл» взял на вооружение почин сталевара Михаила Ильина: «Всю сталь по заказам». Вслед за ним эстафету Ильина подхватили и другие металлурги. «Магнитогорский металл» ежемесячно отводил полосу под анализ работы сталеварских бригад по заказам выступления рабочих, мастеров производства. После выхода постановления Совета Министров СССР «О реконструкции и дальнейшем развитии ММК и об улучшении культурно-бытовых условий его работников» газета ввела рубрику «Реконструкции – ударный фронт». Газету в этот период возглавляли Юрий Левицкий и Юрий Чередниченко. Постепенно штат «Магнитогорского металла» пополнился профессиональными журналистами. Но главным автором «Металла», по-прежнему, оставался рабочий корреспондент. Армия рабкоров «ММ» насчитывала около двухсот человек. Среди активистов того времени Герой Социалистического Труда доменщик Евгений Стоянкин, токарь ЦРМО № 2 Геннадий Кожевников, нормировщик ЖДТ Мария Олейник, начальник БОТиЗ ЦРМП № 2 Валерий Колотовкин, термист ЛПЦ № 8 Николай Терёхин, электромонтажник Асхат Зигангиров, воспитатель Валентина Скрипай, электромонтёр Гарри Володарчик, лифтёр ЖКО № 2 Пётр Спирин, начальник участка ЦЛА Анатолий Мягков, секретарь партийной организации ЛПЦ № 3Борис Булахов. Большую помощь оказывали редакции ветераны рабкоровского движения Юрий Дыкин, Михаил Веселов, Александр Бричко, Анатолий Вотинов, Иван Давыдов, Иван Мелешко, Иван Чецкой, Иван Кубасов, Мухамед Гаттаров. «Магнитогорский металл» размещал на своих страницах работы общественных фотокорреспондентов Анатолия Князева, Валерия Васильева, Татьяны Усик.
						.edition__info В канун полувекового юбилея газеты партийный, профсоюзный и комсомольский комитеты ММК совместно с дирекцией комбината учредили трудовое соревнование на призы «Магнитогорского металла», которое получило массовую поддержку среди рабочих. Коллективам пяти лучших агрегатов со всех переделов комбината по итогам годового соперничества присваивали звание «Имени 50-летия газеты «Магнитогорский металл» и устанавливали мемориальную доску.

					.edition__title.title-1.b-edition__margin(itemprop="name") Металл без окалины
					.edition__block
						.edition__info В конце 90 годов, лишившись финансирования, закрылось подавляющее большинство многотиражных газет. Выжили лишь те, кто сумел найти свою нишу на газетном рынке и выйти на новый качественный уровень. В числе «выживших» был и «Магнитогорский металл». По новой концепции, разработанной в 1992 году, газета, оставаясь корпоративным изданием, вышла за пределы комбината и стала первой по значимости в городе. Когда в 1996 году «в интересах экономии» руководство градообразующего предприятия рассматривало возможность сокращения трёхразовой периодичности выхода «ММ» и превращения его в еженедельник, именно подписчики помогли отстоять газету. В ходе подписной кампании более 18 тысяч семей проголосовали за «ММ».
						.edition__info Для многих поколений журналистов газета «Магнитогорский металл» стала трамплином в большую жизнь. Выходцы из «Металла» стали заметными фигурами в городской, областной прессе и на телевидении, возглавили редакционные коллективы в центральных средствах массовой информации, защитили научные диссертации, стали профессиональными писателями. Добрую память в истории газеты оставили Рафаил Шнейвайс, Яков Резник, Валентин Сержантов, Пётр Печенкин, Николай Горшенев, Нина Кондратковская, Лидия Разумова, Михаил Чурилин, Дмитрий Гнилорыбов, Алла Богацкая, Геннадий Рыбаков, Георгий Суворов, Константин Кияненко, Пётр Погудин, Владимир Шураев, Иван Надеин, Пётр Кучумов, Миндихан Котлухужин, Евгений Верников, Георгий Тихонов, Валерий Кучер, Юрий Балабанов, Раиф Шарафутдинов, Татьяна Крепкогорская, Владимир и Елена Карелины, Валентина Минуллина, Александр Павлов, Владимир Каганис, Юрий Скуридин, Николай Якшин, Жанна Илларионова, Тамара Дацко, Татьяна Трушникова, Cветлана Карягина, Геннадий Погорельцев, Юрий Попов.
						.edition__info Заслуга преобразования многотиражной газеты Магнитогорского металлургического комбината в современный печатный орган, определяющий лицо легендарной Магнитки принадлежит главному редактору Станиславу Рухмалёву: 2000-е годы «ММ» встречал в новом статусе. Задуманный как газета для металлургов, он перерос рамки корпоративных интересов и стал содержательным и умным собеседником, учителем, советчиком для каждого горожанина. С 2001 года бывшая многотиражка приобрела статус общегородского издания – редкий случай в истории отечественных СМИ. Преобразования стали возможны благодаря поддержке Магнитогорского металлургического комбината, который всегда отводил газете важную роль. В это время тираж «ММ» увеличился до 80 тысяч экземпляров, газету стали получать не только магнитогорцы, но и жители близлежащих районов. С 2005 года редакция обрела юридическую самостоятельность – стала автономной некоммерческой организацией. С этого же времени начал работу электронный «близнец» «ММ»: газету стали читать не только в России, но и в бывших советских республиках, в Европе, Азии, Южной Америке, в США и Канаде.
						.edition__info Вместе с тематикой публикаций значительно вырос и объём газеты: по вторникам и четвергам она выходила на восьми полосах форматом D2, а по субботам – 32-страничной «толстушкой» форматом A3. Значительную часть газетной площади занимали материалы внештатных авторов и читателей. Активно сотрудничали с «ММ» пенсионеры Нина Звездина, Георгий Якименко, Николай Коваленко, Константин Крыш, Евгений Стоянкин, Роза Инкина, Николай Яловой, Эрнст Ищенко, Владислав Воронков. Регулярно снабжали редакцию материалами «на злобу дня» Александр Шарапов, Александр Дурманенко, Вячеслав Гутников, Валерий Ефимов. Не забывали газету и ветераны-журналисты Владимир Каганис, Элла Гогелиани, Марина Кирсанова. «Металл» был открыт для всех читателей, ни одно письмо, ни один телефонный звонок в редакцию не оставались без внимания.
						.edition__info В начале 2015 года резко выросли цены на бумагу. Руководством газеты было принято непростое решение уменьшить формат издания. Благодаря поддержке Магнитогорского металлургического комбината – учредителя и социального партнёра – удалось сохранить и коллектив, и высокий тираж.
						.edition__info Проблемным было и сотрудничество с «Почтой России»: постоянно повышая тарифы на свои услуги, она вынуждала увеличивать стоимость подписки, от чего страдали в первую очередь читатели. Издатели прогнозировали резкое падение тиражей, кадровые сокращения в редакциях, закрытие сельских газет и деградацию читательской культуры как таковой. В результате и без того натянутые отношения газетчиков и почтовиков испортились окончательно, а руководители редакций стали искать альтернативные пути распространения своих изданий.
						.edition__info В 2018-2019 году с такой ситуацией столкнулся и «Магнитогорский металл». Для того чтобы сохранить тираж, полосность, периодичность, а главное – коллектив, главный редактор «ММ» Олег Фролов принял эпохальное решение и отказался от услуг «Почты России», доверив распространение «Металла» службе доставки газеты «Магнитогорский рабочий». На протяжении 85 лет эти издания связывают дружеские и партнёрские отношения.
						.edition__info Постоянные читатели «Магнитогорского металла» знают, что на сайте www.magmetall.ru новости о жизни города и комбината можно прочесть на восемь часов раньше, чем в печатной версии газеты. Кроме того, в электронном варианте содержится больше информации: полные версии журналистских материалов, фоторепортажи, и уникальный архив «ММ», начиная с 1935 года. Публикуя на своих страницах исторические материалы, «Магнитогорский металл» вызвал у горожан всплеск интереса к прошлому своей малой родины и в некотором смысле ввёл «моду» на краеведение. Такого количества краеведов, как в Магнитке, больше нет нигде.
						.edition__info Газета активно участвует в спортивной и культурной жизни города, ежегодно организуя массовую легкоатлетическую эстафету на приз «Магнитогорского металла». «ММ» выступал зачинщиком турнира по бильярду, соревнований экстремального вождения на льду, а шахматный кубок «ММ» разыгрывался с участием легенд мировых шахмат Бориса Спасского и Виктора Корчного. Газета выступила инициатором проведения Всероссийского литературного конкурса имени Константина Нефедьева и международного форума поэзии под эгидой ЮНЕСКО. С большим успехом прошла в Магнитогорске, а затем и в Госдуме РФ фотовыставка «Лица. Не глянец!», составленная из работ фотокоров «ММ». Более полусотни фотографий после выставки «осели» в кабинетах законотворцев.
						.edition__info За 85 лет изменился внешний вид газеты, сменилось не одно поколение журналистов, но неизменным остаётся одно – актуальность тем и материалов, уважение к читателю и неравнодушие ко всему, что происходит в городе и на градообразующем предприятии. У «ММ» давно появилось своё, узнаваемое «лицо», твёрдый и ясный почерк. «Газета с характером» – так охарактеризовал её председатель совета директоров Магнитогорского металлургического комбината Виктор Рашников.
						.edition__info На счету «Магнитогорского металла» многочисленные победы на конкурсах и фестивалях – от городских до всероссийских. Неоднократно «ММ» становился лучшим изданием металлургической отрасли России, удостаивался знака отличия «Золотой фонд прессы», получал национальную премию «Тираж – рекорд года». Дизайн «Металла» был признан лучшим среди газет Челябинской области, практически все журналисты «ММ» носят звания лауреатов городских, региональных и федеральных творческих конкурсов.
						.edition__info Традиции «Магнитогорского металла» продолжает команда профессионалов под руководством главного редактора Олега Фролова и ответственного секретаря Евгения Наумова. Владислав Рыбаченко, Рита Давлетшина, Алла Каньшина, Ирина Коротких, Елена Лещинская, Максим Юлин, Ольга Балабанова, Елена Брызгалина, Мария Митлина, – нынешний авторский состав «ММ», который обеспечивает читателя качественной публицистикой и аналитикой, информирует о новостях дня сегодняшнего.
						.edition__info За стиль и слог отвечает литературный редактор Александр Ерофеев. Корректорскую читку осуществляют Галина Морозова, Елена Щербакова, Надежда Дятлова и Маргарита Курбангалеева. Верстает газету группа технических редакторов – Евгений Рубанцев, Виктор Рамих, Алина Кондратьева, Ксения Сергеева и Марина Николаева. Фотографиями «Магнитогорский металл» обеспечивают Андрей Серебряков, Евгений и Дмитрий Рухмалёвы. Юридическим сопровождением газеты занимаются Александра Чернова и Наталья Коротких. На звонки и письма читателей отвечают Наталья Стёпина и Елизавета Епанешникова, а рекламным наполнением газеты занимаются Мария Дедевич, Светлана Чубрик, Наталья Бидлянова и Татьяна Зорина. Бухгалтерским учётом ведают Евгения Иванова и Наталья Андреева. IT-коммуникациями – Денис Филиппов, за работу электронной версии «Магнитогорского металла» отвечает Юлия Кудрявцева. Вся работа по оцифровке архива «ММ» – на Марине Малиновской, она же занимается технической обработкой текстов. В командировки и на удалённые объекты журналистов «ММ» доставляет водитель Дмитрий Томашевский.
						.edition__info Своё 85-летие «Магнитогорский металл» встретил на подъёме. Пережив непростые времена, газета продолжает выполнять свою главную функцию: сообщать читателям честно и объективно действительно о главном.

				.edition-network
					.edition-network__left
						.edition-network__txt
							.title-2 Следите за газетой и новостями в социальных сетях!
					.edition-network__right
						.edition-network__items
							a(href="javascript:void(0);").edition-network__item.edition-network__item--vk
								+svg('vk')
							a(href="javascript:void(0);").edition-network__item.edition-network__item--inst
								.mf-cover
									+svg('inst')
							a(href="javascript:void(0);").edition-network__item.edition-network__item--face
								+svg('face')
							a(href="javascript:void(0);").edition-network__item.edition-network__item--ok
								+svg('ok')
				.edition-contact
					.edition-contact__row
						.edition-contact__block
							.edition-contact__title.title-3 Адрес
							.edition-contact__text 455038, г. Магнитогорск Челябинской обл., пр. Ленина, д. 124, корп. 1.
						.edition-contact__block
							.edition-contact__title.title-3 Email
							a(href="mailto:inbox@magmetall.ru").edition-contact__text inbox@magmetall.ru
					.edition-contact__row
						.edition-contact__cover
							.edition-contact__title.title-3 Телефоны
							.edition-contact__items
								.edition-contact__item
									p (3519) 39-60-74 - приемная редакции
									p (3519) 39-60-76 - бухгалтерия
								.edition-contact__item
									p (3519) 39-60-79 - отдел рекламы
									p (3519) 39-60-78 - секретариат
								.edition-contact__item
									p (3519) 39-60-75 - отдел верстки
									p (3519) 39-60-87 - отдел подписки
				.edition-rewards
					.edition-rewards__title.title-2 Наши награды
					.edition-slider
						#lightgallery.edition-rewards__items.swiper-wrapper
							a(href="./img/doc.jpg").edition-rewards__item.swiper-slide
								img(src="./img/doc.jpg" alt="letter")
							a(href="./img/doc.jpg").edition-rewards__item.swiper-slide
								img(src="./img/doc.jpg" alt="letter")
							a(href="./img/doc.jpg").edition-rewards__item.swiper-slide
								img(src="./img/doc.jpg" alt="letter")
							a(href="./img/doc.jpg").edition-rewards__item.swiper-slide
								img(src="./img/doc.jpg" alt="letter")
							a(href="./img/doc.jpg").edition-rewards__item.swiper-slide
								img(src="./img/doc.jpg" alt="letter")
							a(href="./img/doc.jpg").edition-rewards__item.swiper-slide
								img(src="./img/doc.jpg" alt="letter")
							a(href="./img/doc.jpg").edition-rewards__item.swiper-slide
								img(src="./img/doc.jpg" alt="letter")
							a(href="./img/doc.jpg").edition-rewards__item.swiper-slide
								img(src="./img/doc.jpg" alt="letter")
							a(href="./img/doc.jpg").edition-rewards__item.swiper-slide
								img(src="./img/doc.jpg" alt="letter")
							a(href="./img/doc.jpg").edition-rewards__item.swiper-slide
								img(src="./img/doc.jpg" alt="letter")
							a(href="./img/doc.jpg").edition-rewards__item.swiper-slide
								img(src="./img/doc.jpg" alt="letter")
							a(href="./img/doc.jpg").edition-rewards__item.swiper-slide
								img(src="./img/doc.jpg" alt="letter")
							a(href="./img/doc.jpg").edition-rewards__item.swiper-slide
								img(src="./img/doc.jpg" alt="letter")
							a(href="./img/doc.jpg").edition-rewards__item.swiper-slide
								img(src="./img/doc.jpg" alt="letter")
							a(href="./img/doc.jpg").edition-rewards__item.swiper-slide
								img(src="./img/doc.jpg" alt="letter")
							a(href="./img/doc.jpg").edition-rewards__item.swiper-slide
								img(src="./img/doc.jpg" alt="letter")
							a(href="./img/doc.jpg").edition-rewards__item.swiper-slide
								img(src="./img/doc.jpg" alt="letter")
							a(href="./img/doc.jpg").edition-rewards__item.swiper-slide
								img(src="./img/doc.jpg" alt="letter")
						.edition-slider__pagination
							.edition-slider__arr.edition-slider__arr--prev
								<svg width="31" height="8" viewBox="0 0 31 8" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M0.646445 3.64645C0.451183 3.84171 0.451183 4.15829 0.646445 4.35355L3.82843 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.73079 7.34027 4.73079 7.02369 4.53553 6.82843L1.7071 4L4.53553 1.17157C4.73079 0.976311 4.73079 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82843 0.464466L0.646445 3.64645ZM31 3.5L0.999998 3.5V4.5L31 4.5V3.5Z" fill="black"/>
								</svg>
							.edition-slider__pag
							.edition-slider__arr.edition-slider__arr--next
								<svg width="32" height="8" viewBox="0 0 32 8" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M32.3536 4.35355C32.5488 4.15829 32.5488 3.84171 32.3536 3.64645L29.1716 0.464466C28.9763 0.269204 28.6597 0.269204 28.4645 0.464466C28.2692 0.659728 28.2692 0.976311 28.4645 1.17157L31.2929 4L28.4645 6.82843C28.2692 7.02369 28.2692 7.34027 28.4645 7.53553C28.6597 7.7308 28.9763 7.7308 29.1716 7.53553L32.3536 4.35355ZM0 4.5H32V3.5H0V4.5Z" fill="#27202C"/>
								</svg>
					//- .edition-rewards__pagination
					//- 	a(href="javascript:void(0);").edition-rewards__link.edition-rewards__link--prev
					//- 		<svg width="31" height="8" viewBox="0 0 31 8" fill="none" xmlns="http://www.w3.org/2000/svg">
					//- 			<path d="M0.646445 3.64645C0.451183 3.84171 0.451183 4.15829 0.646445 4.35355L3.82843 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.73079 7.34027 4.73079 7.02369 4.53553 6.82843L1.7071 4L4.53553 1.17157C4.73079 0.976311 4.73079 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82843 0.464466L0.646445 3.64645ZM31 3.5L0.999998 3.5V4.5L31 4.5V3.5Z" fill="black"/>
					//- 		</svg>
					//- 	a(href="javascript:void(0);").edition-rewards__link.edition-rewards__link--active 1
					//- 	a(href="javascript:void(0);").edition-rewards__link 2
					//- 	a(href="javascript:void(0);").edition-rewards__link 3
					//- 	a(href="javascript:void(0);").edition-rewards__link ...
					//- 	a(href="javascript:void(0);").edition-rewards__link 13
					//- 	a(href="javascript:void(0);").edition-rewards__link 14
					//- 	a(href="javascript:void(0);").edition-rewards__link 15
					//- 	a(href="javascript:void(0);").edition-rewards__link.edition-rewards__link--next
					//- 		<svg width="31" height="8" viewBox="0 0 31 8" fill="none" xmlns="http://www.w3.org/2000/svg">
					//- 			<path d="M0.646445 3.64645C0.451183 3.84171 0.451183 4.15829 0.646445 4.35355L3.82843 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.73079 7.34027 4.73079 7.02369 4.53553 6.82843L1.7071 4L4.53553 1.17157C4.73079 0.976311 4.73079 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82843 0.464466L0.646445 3.64645ZM31 3.5L0.999998 3.5V4.5L31 4.5V3.5Z" fill="black"/>
					//- 		</svg>


				.edition-team
					.edition-team__row
						.edition-team__col.edition-team__col--caption Администрация
						.edition-team__box
							.edition-team__col
								div Фролов Олег Валерьевич
								span Главный редактор
							.edition-team__col
							.edition-team__col
					.edition-team__row
						.edition-team__col.edition-team__col--caption Ведущие специалисты
						.edition-team__box
							.edition-team__col 
								div Рыбаченко Владислав
								span Ведущий специалист
							.edition-team__col 
								div Скуридин Михаил
								span Ведущий специалист
							.edition-team__col 
								div Каньшина Алла
								span Каньшина Алла
					.edition-team__row
						.edition-team__col.edition-team__col--caption Отдел городской жизни и социально-бытовой проблематики
						.edition-team__box
							.edition-team__col
								div Давлетшина Рита
								span Обозреватель
							.edition-team__col
								div Коротких Ирина
								span Обозреватель
							.edition-team__col
								div Юлин Максим
								span Корреспондент
					.edition-team__row
						.edition-team__col.edition-team__col--caption Фотокорреспонденты
						.edition-team__box
							.edition-team__col 
								div Рухмалев Евгений
								span Фотокорреспондент
							.edition-team__col 
							.edition-team__col 
					.edition-team__row
						.edition-team__col.edition-team__col--caption Отдел дизайна и верстки
						.edition-team__box
							.edition-team__col
								div Рубанцев Евгений
								span Художественный редактор
							.edition-team__col
								div Кондратьева Алина
								span Редактор технический
							.edition-team__col 
							.edition-team__col 
					.edition-team__row
						.edition-team__col.edition-team__col--caption Корректура
						.edition-team__box
							.edition-team__col
								div Щербакова Елена
								span Ведущий специалист
							.edition-team__col
								div Дятлова Надежда
								span Корректор
							.edition-team__col 
							.edition-team__col 
			.wrapper__right.wrapper__right--special
				.news-banner.js-banner-slider.news-banner--kiosk
					.news-banner__cover.news-banner__cover--kiosk
						.news-banner__block(href="https://kiosk.magmetall.ru" target="_blank")
							.ad-banner-image-desktop.bgi.banner(style="background-image: url('./img/kiosk/desktop.jpg')")
							.ad-banner-image-tablet.bgi.banner(style="background-image: url('./img/kiosk/mobile320.jpg');")
							.ad-banner-image-mobile-375.bgi.banner(style="background-image: url('./img/kiosk/mobile375.jpg');")
				.news-today
					.news-today__item
						.news-today__title.title-2 Сегодняшняя газета
						a(href="javascript:void(0);").btn Посмотреть электронное издание
				.news-survey
					a(href="javascript:void(0);").news-survey__title.title-3 Что вы думаете <br> об обязательном тестировании на коронавирусную инфекцию?
					form.news-survey__form(method="get")
						label(for="qu1" class="news-survey__radio") 
							input(type="radio" id="qu1" name="rdbtn" checked)
							div.news-survey__text Нужно сделать всем, вдруг кто-то болеет без симптомов
						label(for="qu2" class="news-survey__radio") 
							input(type="radio" id="qu2" name="rdbtn")
							div.news-survey__text Нужно сделать всем, вдруг кто-то болеет без симптомов
						button(type="submit" class="btn") Голосовать
				.news-city
					a(href="javascript:void(0);").news-city__title.title-2 История города
						+svg("ar-title")
					.news-city__items
						a(href="javascript:void(0);").news-city__item
							.news-city__pic(style="background-image: url(./img/history/city/hc1.jpg);")
							.news-city__title.title-3 Газета в рабочей спецовке
						a(href="javascript:void(0);").news-city__item
							.news-city__pic(style="background-image: url(./img/index/p32.jpg);")
							.news-city__title.title-3 Больницы для солдат
						a(href="javascript:void(0);").news-city__item
							.news-city__pic(style="background-image: url(./img/index/p34.jpg);")
							.news-city__title.title-3 Маленькая женщина с большим сердцем
						a(href="javascript:void(0);").news-city__item
							.news-city__pic(style="background-image: url(./img/index/p33.jpg);")
							.news-city__title.title-3 Первые секретари
		.news-today.news-today--include
					.news-today__item
						.news-today__title.title-2 Сегодняшняя газета
						a(href="javascript:void(0);").btn Посмотреть электронное издани
							

					

		
							


block script