extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';

block content
	.container
		.wrapper
			.wrapper__left
				.edition
					.edition__title.title-1 Редакция газеты
					.edition__block
						.edition__info Как было показано выше, литургическая драма возможна. Социальная психология искусства, по определению, монотонно дает художественный идеал. Художественное восприятие выстраивает комплекс агрессивности. Богатство мировой литературы от Платона до Ортеги-и-Гассета свидетельствует о том, что художественная ментальность вызывает драматизм. 
						.edition__info Синтаксис искусства готично начинает первоначальный канон биографии. Возрождение многопланово вызывает суггестивный миракль. Трагедия использует первоначальный сангвиник. Добавлю, что интенция многопланово имеет синхронический подход. Ролевое поведение готично трансформирует фактографический архетип. 
				.edition-network
					.edition-network__left
						.edition-network__txt
							.title-2 Следите за газетой и новостями в социальных сетях!
					.edition-network__right
						.edition-network__items
							a(href="javascript:void(0);").edition-network__item.edition-network__item--vk
								+svg('vk')
							a(href="javascript:void(0);").edition-network__item.edition-network__item--inst
								.mf-cover
									+svg('inst')
							a(href="javascript:void(0);").edition-network__item.edition-network__item--face
								+svg('face')
							a(href="javascript:void(0);").edition-network__item.edition-network__item--ok
								+svg('ok')
				.edition-contact
					.edition-contact__row
						.edition-contact__block
							.edition-contact__title.title-3 Адрес
							.edition-contact__text 455038, г. Магнитогорск Челябинской обл., пр. Ленина, д. 124, корп. 1.
						.edition-contact__block
							.edition-contact__title.title-3 Email
							a(href="mailto:inbox@magmetall.ru").edition-contact__text inbox@magmetall.ru
					.edition-contact__row
						.edition-contact__cover
							.edition-contact__title.title-3 Телефоны
							.edition-contact__items
								.edition-contact__item
									p (3519) 39-60-74 - приемная редакции
									p (3519) 39-60-76 - бухгалтерия
								.edition-contact__item
									p (3519) 39-60-79 - отдел рекламы
									p (3519) 39-60-78 - секретариат
								.edition-contact__item
									p (3519) 39-60-75 - отдел верстки
									p (3519) 39-60-87 - отдел подписки
				.edition-rewards
					.edition-rewards__title.title-2 Наши награды
					#lightgallery.edition-rewards__items
						a(href="./img/index/p13.jpg").edition-rewards__item
							img(src="./img/index/p13.jpg" alt="letter")
						a(href="./img/index/p13.jpg").edition-rewards__item
							img(src="./img/index/p13.jpg" alt="letter")
						a(href="./img/index/p13.jpg").edition-rewards__item
							img(src="./img/index/p13.jpg" alt="letter")
						a(href="./img/index/p13.jpg").edition-rewards__item
							img(src="./img/index/p13.jpg" alt="letter")
						a(href="./img/index/p13.jpg").edition-rewards__item
							img(src="./img/index/p13.jpg" alt="letter")
						a(href="./img/index/p13.jpg").edition-rewards__item
							img(src="./img/index/p13.jpg" alt="letter")
						a(href="./img/index/p13.jpg").edition-rewards__item
							img(src="./img/index/p13.jpg" alt="letter")
						a(href="./img/index/p13.jpg").edition-rewards__item
							img(src="./img/index/p13.jpg" alt="letter")
						a(href="./img/index/p13.jpg").edition-rewards__item
							img(src="./img/index/p13.jpg" alt="letter")
						a(href="./img/index/p13.jpg").edition-rewards__item
							img(src="./img/index/p13.jpg" alt="letter")
					.edition-rewards__pagination
						a(href="javascript:void(0);").edition-rewards__link.edition-rewards__link--prev
							img(src="./img/icon/ar_pag.png" alt="letter")
						a(href="javascript:void(0);").edition-rewards__link.edition-rewards__link--active 1
						a(href="javascript:void(0);").edition-rewards__link 2
						a(href="javascript:void(0);").edition-rewards__link 3
						a(href="javascript:void(0);").edition-rewards__link ...
						a(href="javascript:void(0);").edition-rewards__link 13
						a(href="javascript:void(0);").edition-rewards__link 14
						a(href="javascript:void(0);").edition-rewards__link 15
						a(href="javascript:void(0);").edition-rewards__link.edition-rewards__link--next
							img(src="./img/icon/ar_pag_next.png" alt="letter")


				.edition-team
					.edition-team__row
						.edition-team__col.edition-team__col--caption Администрация
						.edition-team__box
							.edition-team__col
								div Фролов Олег Валерьевич
								span Главный редактор
							.edition-team__col
							.edition-team__col
					.edition-team__row
						.edition-team__col.edition-team__col--caption Ведущие специалисты
						.edition-team__box
							.edition-team__col 
								div Рыбаченко Владислав
								span Ведущий специалист
							.edition-team__col 
								div Скуридин Михаил
								span Ведущий специалист
							.edition-team__col 
								div Каньшина Алла
								span Каньшина Алла
					.edition-team__row
						.edition-team__col.edition-team__col--caption Отдел городской жизни и социально-бытовой проблематики
						.edition-team__box
							.edition-team__col
								div Давлетшина Рита
								span Обозреватель
							.edition-team__col
								div Коротких Ирина
								span Обозреватель
							.edition-team__col
								div Юлин Максим
								span Корреспондент
					.edition-team__row
						.edition-team__col.edition-team__col--caption Фотокорреспонденты
						.edition-team__box
							.edition-team__col 
								div Рухмалев Евгений
								span Фотокорреспондент
							.edition-team__col 
							.edition-team__col 
					.edition-team__row
						.edition-team__col.edition-team__col--caption Отдел дизайна и верстки
						.edition-team__box
							.edition-team__col
								div Рубанцев Евгений
								span Художественный редактор
							.edition-team__col
								div Кондратьева Алина
								span Редактор технический
							.edition-team__col 
							.edition-team__col 
					.edition-team__row
						.edition-team__col.edition-team__col--caption Корректура
						.edition-team__box
							.edition-team__col
								div Щербакова Елена
								span Ведущий специалист
							.edition-team__col
								div Дятлова Надежда
								span Корректор
							.edition-team__col 
							.edition-team__col 
			.wrapper__right.wrapper__right--special
				.news-survey
					a(href="javascript:void(0);").news-survey__title.title-3 Что вы думаете <br> об обязательном тестировании на коронавирусную инфекцию?
					form.news-survey__form(method="get")
						label(for="qu1" class="news-survey__radio") 
							input(type="radio" id="qu1" name="rdbtn" checked)
							div.news-survey__text Нужно сделать всем, вдруг кто-то болеет без симптомов
						label(for="qu2" class="news-survey__radio") 
							input(type="radio" id="qu2" name="rdbtn")
							div.news-survey__text Нужно сделать всем, вдруг кто-то болеет без симптомов
						button(type="submit" class="btn") Голосовать
				.news-hidden
					a(href="javascript:void(0);").news-today__block.news-today__block--other
							img(src="./img/index/p36.jpg" alt="")
				.news-city
					a(href="javascript:void(0);").news-city__title.title-2 История города
						+svg("ar-title")
					.news-city__items
						a(href="javascript:void(0);").news-city__item
							.news-city__pic(style="background-image: url(./img/history/city/hc1.jpg);")
							.news-city__title.title-3 Газета в рабочей спецовке
						a(href="javascript:void(0);").news-city__item
							.news-city__pic(style="background-image: url(./img/index/p32.jpg);")
							.news-city__title.title-3 Больницы для солдат
						a(href="javascript:void(0);").news-city__item
							.news-city__pic(style="background-image: url(./img/index/p34.jpg);")
							.news-city__title.title-3 Маленькая женщина с большим сердцем
						a(href="javascript:void(0);").news-city__item
							.news-city__pic(style="background-image: url(./img/index/p33.jpg);")
							.news-city__title.title-3 Первые секретари
				.news-today
					a(href="javascript:void(0);").news-today__block
						img(src="./img/index/p35.jpg" alt="")
					.news-today__item
						.news-today__title.title-2 Сегодняшняя газета
						a(href="javascript:void(0);").btn Посмотреть электронное издание
		.news-today.news-today--include
					.news-today__item
						.news-today__title.title-2 Сегодняшняя газета
						a(href="javascript:void(0);").btn Посмотреть электронное издание
		.news-temp
			img(src="./img/banner2.jpg" alt="")
							

					

		
							


block script