extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';

block content
	.container
		.wrapper
			.wrapper__left
				.headings
					.headings__title.title-1 Рубрики
					.headings__items
						.headings__item
							a(href="javascript:void(0);").headings__link.headings__link--active Официально
							a(href="javascript:void(0);").headings__link События и комментарии
							a(href="javascript:void(0);").headings__link Политика. Власть. Общество
							a(href="javascript:void(0);").headings__link Городской проспект
							a(href="javascript:void(0);").headings__link Авто миг
							a(href="javascript:void(0);").headings__link О ком говорят
							a(href="javascript:void(0);").headings__link Официально
							a(href="javascript:void(0);").headings__link События и комментарии
							a(href="javascript:void(0);").headings__link Политика. Власть. Общество
							a(href="javascript:void(0);").headings__link Городской проспект
							a(href="javascript:void(0);").headings__link Авто миг
							a(href="javascript:void(0);").headings__link О ком говорят
							a(href="javascript:void(0);").headings__link Официально
							a(href="javascript:void(0);").headings__link События и комментарии
							a(href="javascript:void(0);").headings__link Политика. Власть. Общество
							a(href="javascript:void(0);").headings__link Городской проспект
							a(href="javascript:void(0);").headings__link Авто миг
						.headings__item
							a(href="javascript:void(0);").headings__link Официально
							a(href="javascript:void(0);").headings__link События и комментарии
							a(href="javascript:void(0);").headings__link Политика. Власть. Общество
							a(href="javascript:void(0);").headings__link Городской проспект
							a(href="javascript:void(0);").headings__link Авто миг
							a(href="javascript:void(0);").headings__link О ком говорят
							a(href="javascript:void(0);").headings__link Официально
							a(href="javascript:void(0);").headings__link События и комментарии
							a(href="javascript:void(0);").headings__link Политика. Власть. Общество
							a(href="javascript:void(0);").headings__link Городской проспект
							a(href="javascript:void(0);").headings__link Авто миг
							a(href="javascript:void(0);").headings__link О ком говорят
							a(href="javascript:void(0);").headings__link Официально
							a(href="javascript:void(0);").headings__link События и комментарии
							a(href="javascript:void(0);").headings__link Политика. Власть. Общество
							a(href="javascript:void(0);").headings__link Городской проспект
							a(href="javascript:void(0);").headings__link Авто миг
							a(href="javascript:void(0);").headings__link Авто миг
						.headings__item
							a(href="javascript:void(0);").headings__link Народная экономика: и жизнь,
							a(href="javascript:void(0);").headings__link События и комментарии
							a(href="javascript:void(0);").headings__link Политика. Власть. Общество
							a(href="javascript:void(0);").headings__link Городской проспект
							a(href="javascript:void(0);").headings__link Авто миг
							a(href="javascript:void(0);").headings__link О ком говорят
							a(href="javascript:void(0);").headings__link Официально
							a(href="javascript:void(0);").headings__link События и комментарии
							a(href="javascript:void(0);").headings__link Политика. Власть. Общество
							a(href="javascript:void(0);").headings__link Городской проспект
							a(href="javascript:void(0);").headings__link Авто миг
				.news-today.news-today--include
					.news-today__item
						.news-today__title.title-2 Сегодняшняя газета
						a(href="javascript:void(0);").btn Посмотреть электронное издание
			.wrapper__right.wrapper__right--special
				.news-today
					.news-today__item
						.news-today__title.title-2 Сегодняшняя газета
						a(href="javascript:void(0);").btn Посмотреть электронное издание
				.news-survey
					a(href="javascript:void(0);").news-survey__title.title-3 Что вы думаете <br> об обязательном тестировании на коронавирусную инфекцию?
					form.news-survey__form(method="get")
						label(for="qu1" class="news-survey__radio") 
							input(type="radio" id="qu1" name="rdbtn" checked)
							div.news-survey__text Нужно сделать всем, вдруг кто-то болеет без симптомов
						label(for="qu2" class="news-survey__radio") 
							input(type="radio" id="qu2" name="rdbtn")
							div.news-survey__text Нужно сделать всем, вдруг кто-то болеет без симптомов
						button(type="submit" class="btn") Голосовать
				.news-hidden
					a(href="javascript:void(0);").news-today__block.news-today__block--other
							img(src="./img/index/p36.jpg" alt="")
				.news-city.news-city--headings
					a(href="javascript:void(0);").news-city__title.title-2 История города
						+svg("ar-title")
					.news-city__items
						a(href="javascript:void(0);").news-city__item
							.news-city__pic(style="background-image: url(./img/history/city/hc1.jpg);")
							.news-city__title.title-3 Газета в рабочей спецовке
						a(href="javascript:void(0);").news-city__item
							.news-city__pic(style="background-image: url(./img/index/p32.jpg);")
							.news-city__title.title-3 Больницы для солдат
		.news-temp
					img(src="./img/banner2.jpg" alt="")
		
							

					

		
							


block script