extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';

block content
	.container
		.wrapper
			.wrapper__left
				.news-basic
					.news-basic__wrapper
						.news-basic__left
							a(href="./img/index/p1.jpg").news-basic__img.fancybox
								<img src="./img/index/p1.jpg" />
						.news-basic__right
							a(href="javascript:void(0);").news-basic__article Область
							a(href="javascript:void(0);").news-basic__cover
								.news-basic__title.title-1 Металл в "цифре"
								.news-basic__text На международной конференции RPA Connect 4.0, прошедшей на площадке ММК, были представлены лучшие идеи, тенденции и практики развития программной роботизации в промышленной сфере.
							.publish
								.publish__wrapper
									a(href="javascript:void(0);").publish__date 19 марта
									a(href="javascript:void(0);").publish__person Фантасмогорьев Фантасмогорь
				.news-set
					.news-set__wrapper.news-set__wrapper--set
						.news-set__items
							.news-set__item
								a(href="javascript:void(0);").news-set__pic
									img(src="./img/index/p2.jpg" alt="")
								.news-set__content
									a(href="javascript:void(0);").news-set__article Действующие лица
									a(href="javascript:void(0);").news-set__cover
										.news-set__title Конституционная неделя
										.news-set__text Депутат Государственной Думы Виталий Бахметьев в последние дни февраля встретился с жителями сельских поселений и трудовыми коллективами Магнитогорска.
									.publish
										.publish__wrapper
											a(href="javascript:void(0);").publish__date 19 марта
											a(href="javascript:void(0);").publish__person Фантасмогорьев Фантасмогорь
							.news-set__item
								a(href="javascript:void(0);").news-set__pic
									img(src="./img/index/p3.jpg" alt="")
								.news-set__content
									a(href="javascript:void(0);").news-set__article Действующие лица
									a(href="javascript:void(0);").news-set__cover
										.news-set__title Гармония тела
										.news-set__text Депутат Государственной Думы Виталий Бахметьев в последние дни февраля встретился с жителями сельских поселений и трудовыми коллективами Магнитогорска.
									.publish
										.publish__wrapper
											a(href="javascript:void(0);").publish__date 19 марта
											a(href="javascript:void(0);").publish__person Фантасмогорьев Фантасмогорь
					.news-set__wrapper.news-set__wrapper--basic
						.news-set__item
									a(href="javascript:void(0);").news-set__pic
										img(src="./img/index/p4.jpg" alt="")
									.news-set__content
										a(href="javascript:void(0);").news-set__article Действующие лица
										a(href="javascript:void(0);").news-set__cover 
											.news-set__title С чувством уважения к истории
											.news-set__text В детской библиотеке № 2 прошла тематическая встреча учащихся Магнитогорского государственного многопрофильного лицея при МГТУ имени Г. И. Носова с представителями военно-патриотического клуба "Гранит" и хуторского казачьего общества "Хутор Могутовский".
										.publish
											.publish__wrapper
												a(href="javascript:void(0);").publish__date 19 марта
												a(href="javascript:void(0);").publish__person Фантасмогорьев Андрей
				.news-hidden
					a(href="javascript:void(0);").news-today__block.news-today__block--other
							img(src="./img/index/p36.jpg" alt="")
					.news-survey
						.news-survey__bloc
							a(href="javascript:void(0);").news-survey__title.title-3 Что вы думаете об обязательном тестировании на коронавирусную инфекцию?
							form.news-survey__form(method="get")
								label(for="q1" class="news-survey__radio") 
									input(type="radio" id="q1" name="t" checked)
									div.news-survey__text Нужно сделать всем, вдруг кто-то болеет без симптомов
								label(for="q2" class="news-survey__radio") 
									input(type="radio" id="q2" name="t")
									div.news-survey__text Нужно сделать всем, вдруг кто-то болеет без симптомов
								button(type="submit" class="btn") Голосовать
						.news-survey__bloc
							a(href="javascript:void(0);").news-survey__title.title-3 Что вы думаете <br> об обязательном тестировании на коронавирусную инфекцию?
							form.news-survey__form(method="get")
								.news-survey__progress
									<label for="voice">Нужно сделать всем, вдруг кто-то болеет без симптомов 9 (10%)</label>
									<progress id="voice" max="100" value="10"> 10% </progress>
								.news-survey__progress
									<label for="voice">Нет необходимости, можно делать только контактным 16 (50%)</label>
									<progress id="voice" max="100" value="50"> 50% </progress>
								.news-survey__cover
									button(type="submit" class="btn") Голосовать
									.news-survey__qty
										.news-survey__txt Всего <br> голосов:
										.news-survey__count 31 
				.news-actual
					.news-actual__wrapper
						.news-actual__left
							a(href="javascript:void(0);").news-actual__title.title-2 Свежие новости
								+svg("ar-title")
							.news-actual__items
								a(href="javascript:void(0);").news-actual__item
									.news-actual__pic
										img(src="./img/index/p5.jpg" alt="")
									.news-actual__content
										.news-actual__date 17:41
										.news-actual__text Туристов застали врасплох. Коронавирус мутирует в экономическую инфекцию.
								a(href="javascript:void(0);").news-actual__item
									.news-actual__pic
										img(src="./img/index/p8.jpg" alt="")
									.news-actual__content
										.news-actual__date 17:41
										.news-actual__text Не доверяй и проверяй. У мошенников всё новые методы отъёма денег у населения.
								a(href="javascript:void(0);").news-actual__item
									.news-actual__pic
										img(src="./img/index/p9.jpg" alt="")
									.news-actual__content
										.news-actual__date 17:41
										.news-actual__text Никто не обещал, что будет легко. Сегодня Магнитка сыграет в столице Казахстана второй матч Кубка Гагарина.
								a(href="javascript:void(0);").news-actual__item
									.news-actual__pic
										img(src="./img/index/p10.jpg" alt="")
									.news-actual__content
										.news-actual__date 17:41
										.news-actual__text Генеральный директор ПАО "ММК": обедать нужно в столовых
								a(href="javascript:void(0);").news-actual__item
									.news-actual__pic
										img(src="./img/index/p11.jpg" alt="")
									.news-actual__content
										.news-actual__date 17:41
										.news-actual__text На имя председателя совета директоров ПАО "ММК" В. Ф. Рашникова поступила благодарность от ЦБ России.
								a(href="javascript:void(0);").news-actual__item
									.news-actual__pic
										img(src="./img/index/p12.jpg" alt="")
									.news-actual__content
										.news-actual__date 17:41
										.news-actual__text Помощь от города и комбината

						.news-actual__right
							a(href="javascript:void(0);").news-actual__title.title-2 Популярное
								+svg("ar-title")
							.news-actual__items
								.news-actual__item
									a(href="javascript:void(0);").news-actual__lft
										img(src="./img/index/p6.jpg" alt="")
									.news-actual__rgh
										a(href="javascript:void(0);").news-actual__category Область
										a(href="javascript:void(0);").news-actual__cover
											.news-actual__article Навстречу весне
											.news-actual__txt ДКМ имени Серго Орджоникидзе был наполнен цветами, улыбками и красивыми женщинами, коими всегда славилась Магнитка.
										.publish
											.publish__wrapper
												a(href="javascript:void(0);").publish__date 19 марта
												a(href="javascript:void(0);").publish__person Фантасмогорьев Андрей
								.news-actual__item
									a(href="javascript:void(0);").news-actual__lft
										img(src="./img/index/p13.jpg" alt="")
									.news-actual__rgh
										a(href="javascript:void(0);").news-actual__category Вокруг света
										a(href="javascript:void(0);").news-actual__cover
											.news-actual__article Загадочный Урарту
											.news-actual__txt На территории Армянского нагорья когда-то располагалось древнее царство.
										.publish
											.publish__wrapper
												a(href="javascript:void(0);").publish__date 19 марта
												a(href="javascript:void(0);").publish__person Фантасмогорьев Андрей
								.news-actual__item
									a(href="javascript:void(0);").news-actual__lft
										img(src="./img/index/p14.jpg" alt="")
									.news-actual__rgh
										a(href="javascript:void(0);").news-actual__category Спорт
										a(href="javascript:void(0);").news-actual__cover
											.news-actual__article Чуда не произошло
											.news-actual__txt "Металлург" завершил свой двенадцатый сезон в Континентальной хоккейной лиге.
										.publish
											.publish__wrapper
												a(href="javascript:void(0);").publish__date 19 марта
												a(href="javascript:void(0);").publish__person Фантасмогорьев Андрей
								a(href="javascript:void(0);").news-actual__item.news-actual__item--banner
									img(src="./img/index/p7.jpg" alt="")
								
				.news-most
					.news-most__wrapper
						.news-most__left
							a(href="javascript:void(0);").news-most__title.title-2 Самое читаемое
								+svg("ar-title")
							.news-most__items
								.news-most__item
									.news-most__lft
										.news-most__pic
											<svg width="22" height="11" viewBox="0 0 22 11" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M1.09009 6.09C6.56309 -0.957001 15.4361 -0.957001 20.9091 6.09" stroke="#0E4F95" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
												<path class="fill" d="M14.431 2.31802C16.1884 4.07538 16.1884 6.92462 14.431 8.68198C12.6736 10.4393 9.8244 10.4393 8.06704 8.68198C6.30968 6.92462 6.30968 4.07538 8.06704 2.31802C9.8244 0.56066 12.6736 0.56066 14.431 2.31802" stroke="#0E4F95" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
											</svg>
										.news-most__count 1211
									a(href="javascript:void(0);").news-most__rght
										.news-most__txt <span>На Южном Урале ФСБ</span> задержали автомобиль с восемью коробками одноразовых хирургических перчаток, которые относятся к временно запрещённым для вывоза из России.
								.news-most__item
									.news-most__lft
										.news-most__pic
											<svg width="22" height="11" viewBox="0 0 22 11" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M1.09009 6.09C6.56309 -0.957001 15.4361 -0.957001 20.9091 6.09" stroke="#0E4F95" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
												<path class="fill" d="M14.431 2.31802C16.1884 4.07538 16.1884 6.92462 14.431 8.68198C12.6736 10.4393 9.8244 10.4393 8.06704 8.68198C6.30968 6.92462 6.30968 4.07538 8.06704 2.31802C9.8244 0.56066 12.6736 0.56066 14.431 2.31802" stroke="#0E4F95" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
											</svg>
										.news-most__count 1211
									a(href="javascript:void(0);").news-most__rght
										.news-most__txt <span>Жители Челябинской области</span>, прибывшие домой из стран с неблагоприятной ситуацией по коронавирусной инфекции, должны самоизолироваться на две недели.
								.news-most__item
									.news-most__lft
										.news-most__pic
											<svg width="22" height="11" viewBox="0 0 22 11" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M1.09009 6.09C6.56309 -0.957001 15.4361 -0.957001 20.9091 6.09" stroke="#0E4F95" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
												<path class="fill" d="M14.431 2.31802C16.1884 4.07538 16.1884 6.92462 14.431 8.68198C12.6736 10.4393 9.8244 10.4393 8.06704 8.68198C6.30968 6.92462 6.30968 4.07538 8.06704 2.31802C9.8244 0.56066 12.6736 0.56066 14.431 2.31802" stroke="#0E4F95" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
											</svg>
										.news-most__count 1211
									a(href="javascript:void(0);").news-most__rght
										.news-most__txt <span>Специалисты из Уральского</span> федерального округа востребованы не только на родине, но и за рубежом.
								.news-most__item
									.news-most__lft
										.news-most__pic
											<svg width="22" height="11" viewBox="0 0 22 11" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M1.09009 6.09C6.56309 -0.957001 15.4361 -0.957001 20.9091 6.09" stroke="#0E4F95" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
												<path class="fill" d="M14.431 2.31802C16.1884 4.07538 16.1884 6.92462 14.431 8.68198C12.6736 10.4393 9.8244 10.4393 8.06704 8.68198C6.30968 6.92462 6.30968 4.07538 8.06704 2.31802C9.8244 0.56066 12.6736 0.56066 14.431 2.31802" stroke="#0E4F95" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
											</svg>
										.news-most__count 1211
									a(href="javascript:void(0);").news-most__rght
										.news-most__txt <span>В Краснодаре стартует</span> "финал восьми" Студенческой лиги ВТБ, в который вновь пробились "Стальные сердца".
								.news-most__item
									.news-most__lft
										.news-most__pic
											<svg width="22" height="11" viewBox="0 0 22 11" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M1.09009 6.09C6.56309 -0.957001 15.4361 -0.957001 20.9091 6.09" stroke="#0E4F95" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
												<path class="fill" d="M14.431 2.31802C16.1884 4.07538 16.1884 6.92462 14.431 8.68198C12.6736 10.4393 9.8244 10.4393 8.06704 8.68198C6.30968 6.92462 6.30968 4.07538 8.06704 2.31802C9.8244 0.56066 12.6736 0.56066 14.431 2.31802" stroke="#0E4F95" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
											</svg>
										.news-most__count 1211
									a(href="javascript:void(0);").news-most__rght
										.news-most__txt <span>Малкин забивает</span>, но "Питтсбург" проигрывает.
								.news-most__item
									.news-most__lft
										.news-most__pic
											<svg width="22" height="11" viewBox="0 0 22 11" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M1.09009 6.09C6.56309 -0.957001 15.4361 -0.957001 20.9091 6.09" stroke="#0E4F95" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
												<path class="fill" d="M14.431 2.31802C16.1884 4.07538 16.1884 6.92462 14.431 8.68198C12.6736 10.4393 9.8244 10.4393 8.06704 8.68198C6.30968 6.92462 6.30968 4.07538 8.06704 2.31802C9.8244 0.56066 12.6736 0.56066 14.431 2.31802" stroke="#0E4F95" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
											</svg>
										.news-most__count 1211
									a(href="javascript:void(0);").news-most__rght
										.news-most__txt <span>В Краснодаре стартует</span> "финал восьми" Студенческой лиги ВТБ, в который вновь пробились "Стальные сердца".
						.news-most__right
							a(href="javascript:void(0);").news-most__title.title-2 Экспертиза
								+svg("ar-title")
							.news-most__items
								a(href="javascript:void(0);").news-most__item
									.news-most__pic
										img(src="./img/index/p15.jpg" alt="")
									.news-most__content
										.news-most__article.title-3 На пенсию? Ещё потрудимся
										.news-most__text Юные инспекторы движения, текст в две строчки.
								a(href="javascript:void(0);").news-most__item
									.news-most__pic
										img(src="./img/index/p16.jpg" alt="")
									.news-most__content
										.news-most__article.title-3 Чужие долги никому не нужны
										.news-most__text Юные инспекторы движения, текст в две строчки.
								a(href="javascript:void(0);").news-most__item
									.news-most__pic
										img(src="./img/index/p17.jpg" alt="")
									.news-most__content
										.news-most__article.title-3 Мастер-класс для активистов
										.news-most__text Юные инспекторы движения, текст в две строчки.
								a(href="javascript:void(0);").news-most__item
									.news-most__pic
										img(src="./img/index/p18.jpg" alt="")
									.news-most__content
										.news-most__article.title-3 Вода не бесплатная
										.news-most__text Юные инспекторы движения, текст в две строчки.
								a(href="javascript:void(0);").news-most__item
									.news-most__pic
										img(src="./img/index/p19.jpg" alt="")
									.news-most__content
										.news-most__article.title-3 Эффективные тенденции
										.news-most__text Юные инспекторы движения, текст в две строчки.
								
			.wrapper__right
				include ../modules/aside
				//- .news-media
				//- 	img(src="./img/index/p37.jpg" alt="")
				//- .news-survey
				//- 	.news-survey__bloc
				//- 		a(href="javascript:void(0);").news-survey__title.title-3 Что вы думаете <br> об обязательном тестировании на коронавирусную инфекцию?
				//- 		form.news-survey__form(method="get")
				//- 			label(for="qu1" class="news-survey__radio") 
				//- 				input(type="radio" id="qu1" name="rdbtn")
				//- 				div.news-survey__text Нужно сделать всем, вдруг кто-то болеет без симптомов
				//- 			label(for="qu2" class="news-survey__radio") 
				//- 				input(type="radio" id="qu2" name="rdbtn")
				//- 				div.news-survey__text Нужно сделать всем, вдруг кто-то болеет без симптомов
				//- 			button(type="submit" class="btn") Голосовать
				//- 	.news-survey__bloc
				//- 		a(href="javascript:void(0);").news-survey__title.title-3 Что вы думаете <br> об обязательном тестировании на коронавирусную инфекцию?
				//- 		form.news-survey__form(method="get")
				//- 			.news-survey__progress
				//- 				<label for="voice">Нужно сделать всем, вдруг кто-то болеет без симптомов 9 (10%)</label>
				//- 				<progress id="voice" max="100" value="10"> 10% </progress>
				//- 			.news-survey__progress
				//- 				<label for="voice">Нет необходимости, можно делать только контактным 16 (50%)</label>
				//- 				<progress id="voice" max="100" value="50"> 50% </progress>
				//- 			.news-survey__cover
				//- 				button(type="submit" class="btn") Голосовать
				//- 				.news-survey__qty
				//- 					.news-survey__txt Всего <br> голосов:
				//- 					.news-survey__count 31 
				//- .news-hidden
				//- 	a(href="javascript:void(0);").news-today__block.news-today__block--other
				//- 			img(src="./img/index/p36.jpg" alt="")
				//- .news-city
				//- 	a(href="javascript:void(0);").news-city__title.title-2 История города
				//- 		+svg("ar-title")
				//- 	.news-city__items
				//- 		a(href="javascript:void(0);").news-city__item
				//- 			.news-city__pic(style="background-image: url(./img/history/city/hc1.jpg);")
				//- 			.news-city__title.title-3 Газета в рабочей спецовке
				//- 		a(href="javascript:void(0);").news-city__item
				//- 			.news-city__pic(style="background-image: url(./img/index/p32.jpg);")
				//- 			.news-city__title.title-3 Больницы для солдат
				//- 		a(href="javascript:void(0);").news-city__item
				//- 			.news-city__pic(style="background-image: url(./img/index/p34.jpg);")
				//- 			.news-city__title.title-3 Маленькая женщина с большим сердцем
				//- 		a(href="javascript:void(0);").news-city__item
				//- 			.news-city__pic(style="background-image: url(./img/index/p33.jpg);")
				//- 			.news-city__title.title-3 Первые секретари
				//- .news-most__left.news-most__left--hidden
				//- 		a(href="javascript:void(0);").news-most__title.title-2 Самое читаемое
				//- 			+svg("ar-title")
				//- 		.news-most__items
				//- 			.news-most__item
				//- 				.news-most__lft
				//- 					.news-most__pic
				//- 						<svg width="22" height="11" viewBox="0 0 22 11" fill="none" xmlns="http://www.w3.org/2000/svg">
				//- 							<path d="M1.09009 6.09C6.56309 -0.957001 15.4361 -0.957001 20.9091 6.09" stroke="#0E4F95" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
				//- 							<path class="fill" d="M14.431 2.31802C16.1884 4.07538 16.1884 6.92462 14.431 8.68198C12.6736 10.4393 9.8244 10.4393 8.06704 8.68198C6.30968 6.92462 6.30968 4.07538 8.06704 2.31802C9.8244 0.56066 12.6736 0.56066 14.431 2.31802" stroke="#0E4F95" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
				//- 						</svg>
				//- 					.news-most__count 1211
				//- 				a(href="javascript:void(0);").news-most__rght
				//- 					.news-most__txt <span>На Южном Урале ФСБ</span> задержали автомобиль с восемью коробками одноразовых хирургических перчаток, которые относятся к временно запрещённым для вывоза из России.
				//- 			.news-most__item
				//- 				.news-most__lft
				//- 					.news-most__pic
				//- 						<svg width="22" height="11" viewBox="0 0 22 11" fill="none" xmlns="http://www.w3.org/2000/svg">
				//- 							<path d="M1.09009 6.09C6.56309 -0.957001 15.4361 -0.957001 20.9091 6.09" stroke="#0E4F95" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
				//- 							<path class="fill" d="M14.431 2.31802C16.1884 4.07538 16.1884 6.92462 14.431 8.68198C12.6736 10.4393 9.8244 10.4393 8.06704 8.68198C6.30968 6.92462 6.30968 4.07538 8.06704 2.31802C9.8244 0.56066 12.6736 0.56066 14.431 2.31802" stroke="#0E4F95" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
				//- 						</svg>
				//- 					.news-most__count 1211
				//- 				a(href="javascript:void(0);").news-most__rght
				//- 					.news-most__txt <span>Жители Челябинской области</span>, прибывшие домой из стран с неблагоприятной ситуацией по коронавирусной инфекции, должны самоизолироваться на две недели.
				//- 			.news-most__item
				//- 				.news-most__lft
				//- 					.news-most__pic
				//- 						<svg width="22" height="11" viewBox="0 0 22 11" fill="none" xmlns="http://www.w3.org/2000/svg">
				//- 							<path d="M1.09009 6.09C6.56309 -0.957001 15.4361 -0.957001 20.9091 6.09" stroke="#0E4F95" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
				//- 							<path class="fill" d="M14.431 2.31802C16.1884 4.07538 16.1884 6.92462 14.431 8.68198C12.6736 10.4393 9.8244 10.4393 8.06704 8.68198C6.30968 6.92462 6.30968 4.07538 8.06704 2.31802C9.8244 0.56066 12.6736 0.56066 14.431 2.31802" stroke="#0E4F95" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
				//- 						</svg>
				//- 					.news-most__count 1211
				//- 				a(href="javascript:void(0);").news-most__rght
				//- 					.news-most__txt <span>Специалисты из Уральского</span> федерального округа востребованы не только на родине, но и за рубежом.
				//- 			.news-most__item
				//- 				.news-most__lft
				//- 					.news-most__pic
				//- 						<svg width="22" height="11" viewBox="0 0 22 11" fill="none" xmlns="http://www.w3.org/2000/svg">
				//- 							<path d="M1.09009 6.09C6.56309 -0.957001 15.4361 -0.957001 20.9091 6.09" stroke="#0E4F95" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
				//- 							<path class="fill" d="M14.431 2.31802C16.1884 4.07538 16.1884 6.92462 14.431 8.68198C12.6736 10.4393 9.8244 10.4393 8.06704 8.68198C6.30968 6.92462 6.30968 4.07538 8.06704 2.31802C9.8244 0.56066 12.6736 0.56066 14.431 2.31802" stroke="#0E4F95" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
				//- 						</svg>
				//- 					.news-most__count 1211
				//- 				a(href="javascript:void(0);").news-most__rght
				//- 					.news-most__txt <span>В Краснодаре стартует</span> "финал восьми" Студенческой лиги ВТБ, в который вновь пробились "Стальные сердца".
				//- 			.news-most__item
				//- 				.news-most__lft
				//- 					.news-most__pic
				//- 						<svg width="22" height="11" viewBox="0 0 22 11" fill="none" xmlns="http://www.w3.org/2000/svg">
				//- 							<path d="M1.09009 6.09C6.56309 -0.957001 15.4361 -0.957001 20.9091 6.09" stroke="#0E4F95" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
				//- 							<path class="fill" d="M14.431 2.31802C16.1884 4.07538 16.1884 6.92462 14.431 8.68198C12.6736 10.4393 9.8244 10.4393 8.06704 8.68198C6.30968 6.92462 6.30968 4.07538 8.06704 2.31802C9.8244 0.56066 12.6736 0.56066 14.431 2.31802" stroke="#0E4F95" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
				//- 						</svg>
				//- 					.news-most__count 1211
				//- 				a(href="javascript:void(0);").news-most__rght
				//- 					.news-most__txt <span>Малкин забивает</span>, но "Питтсбург" проигрывает.
				//- 			.news-most__item
				//- 				.news-most__lft
				//- 					.news-most__pic
				//- 						<svg width="22" height="11" viewBox="0 0 22 11" fill="none" xmlns="http://www.w3.org/2000/svg">
				//- 							<path d="M1.09009 6.09C6.56309 -0.957001 15.4361 -0.957001 20.9091 6.09" stroke="#0E4F95" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
				//- 							<path class="fill" d="M14.431 2.31802C16.1884 4.07538 16.1884 6.92462 14.431 8.68198C12.6736 10.4393 9.8244 10.4393 8.06704 8.68198C6.30968 6.92462 6.30968 4.07538 8.06704 2.31802C9.8244 0.56066 12.6736 0.56066 14.431 2.31802" stroke="#0E4F95" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
				//- 						</svg>
				//- 					.news-most__count 1211
				//- 				a(href="javascript:void(0);").news-most__rght
				//- 					.news-most__txt <span>В Краснодаре стартует</span> "финал восьми" Студенческой лиги ВТБ, в который вновь пробились "Стальные сердца".	
				//- .news-today
				//- 	a(href="javascript:void(0);").news-today__block
				//- 		img(src="./img/index/p35.jpg" alt="")
				//- 	.news-today__item
				//- 		.news-today__title.title-2 Сегодняшняя газета
				//- 		a(href="javascript:void(0);").btn Посмотреть электронное издание
						
				//- 	a(href="javascript:void(0);").news-today__block.news-today__block--other
				//- 		img(src="./img/index/p36.jpg" alt="")
		.news-photo
			a(href="javascript:void(0);").news-photo__title.title-2 Фоторепортажи
				+svg("ar-title")
			.news-photo__wrapper
					.news-photo__item.news-photo__item--block
						a(href="javascript:void(0);").news-photo__pic
							img(src="./img/index/p20.jpg" alt="")
						.news-photo__content
							a(href="javascript:void(0);").news-photo__article События
							a(href="javascript:void(0);").news-photo__cover
									.news-photo__title.title-2 Навстречу весне
									.news-photo__info ДКМ имени Серго Орджоникидзе был наполнен цветами, улыбками и красивыми женщинами, коими всегда славилась Магнитка.		
					.news-photo__item
						a(href="javascript:void(0);").news-photo__pic
							img(src="./img/index/p21.jpg" alt="")
						.news-photo__content
							a(href="javascript:void(0);").news-photo__article Вокруг света
							a(href="javascript:void(0);").news-photo__cover
								.news-photo__title.title-2 Страна открытого неба
								.news-photo__info Индия считается одним из самых бюджетных направлений для тех, кто любит море и солнце.
					.news-photo__item
						a(href="javascript:void(0);").news-photo__pic
							img(src="./img/index/p22.jpg" alt="")
						.news-photo__content
							a(href="javascript:void(0);").news-photo__article Вокруг света
							a(href="javascript:void(0);").news-photo__cover
								.news-photo__title.title-2 Загадочный Урарту
								.news-photo__info На территории Армянского нагорья когда-то располагалось древнее царство.
					.news-photo__item
						a(href="javascript:void(0);").news-photo__pic
							img(src="./img/index/p23.jpg" alt="")
						.news-photo__content
							a(href="javascript:void(0);").news-photo__article Спорт
							a(href="javascript:void(0);").news-photo__cover
								.news-photo__title.title-2 Чуда не произошло
								.news-photo__info "Металлург" завершил свой двенадцатый сезон в Континентальной хоккейной лиге.
		.news-slider
			.news-slider__grid
				.news-slider__gallery
					.swiper-wrapper
						a(href="javascript:void(0);").swiper-slide
							img(src="./img/index/p31.jpg" alt="")
						a(href="javascript:void(0);").swiper-slide
							img(src="./img/index/p30.jpg" alt="")
				.news-slider__box
					.news-slider__thumbs
						.swiper-wrapper
								.swiper-slide 
									a(href="javascript:void(0);").news-slider__article Социум
									a(href="javascript:void(0);").news-slider__cover
										.news-slider__title.title-3 Память Магнитки
										.news-slider__txt В городе появилась новая общественная организация. Геннадий Васильев более тридцати лет жизни посвятил историческим исследованиям. Недавно закончил двенадцатый том "Книги памяти" со списками репрессированных и рассказом о времени, в котором они жили.
								.swiper-slide 
									a(href="javascript:void(0);").news-slider__article Социум
									a(href="javascript:void(0);").news-slider__cover
										.news-slider__title.title-3 Память Магнитки 2
										.news-slider__txt В городе появилась новая общественная организация. 
					.news-slider__func
						.news-slider__pagination
							.news-slider__arrow.news-slider__arrow--prev
								+svg("ar-title")
							.news-slider__arrow.news-slider__arrow--next
								+svg("ar-title")
						.publish
							.publish__wrapper
								.publish__date 19 марта
								a(href="javascript:void(0);").publish__person Фантасмогорьев Фантасмогорь
		.news-archive
			.news-archive__wrapper
				.news-archive__left
					a(href="javascript:void(0);").news-archive__title.title-2 Редакция
						+svg("ar-title")
					.news-archive__items
						a(href="javascript:void(0);").news-archive__item
							.news-archive__photo
								img(src="./img/index/p24.jpg" alt="1")
							.news-archive__content 
								.news-archive__name.title-3 Фролов Олег Валерьевич
								.news-archive__job Корреспондент
						a(href="javascript:void(0);").news-archive__item
							.news-archive__photo
								img(src="./img/index/p25.jpg" alt="1")
							.news-archive__content 
								.news-archive__name.title-3 Юлин Максим
								.news-archive__job Главный редактор
						a(href="javascript:void(0);").news-archive__item
							.news-archive__photo
								img(src="./img/index/p26.jpg" alt="1")
							.news-archive__content 
								.news-archive__name.title-3 Кондратьева Алина
								.news-archive__job Редактор технический
						a(href="javascript:void(0);").news-archive__item
							.news-archive__photo
								img(src="./img/index/p27.jpg" alt="1")
							.news-archive__content 
								.news-archive__name.title-3 Фролов Олег Валерьевич
								.news-archive__job Главный редактор
							.news-archive__right
				.news-archive__right
					a(href="javascript:void(0);").news-archive__title.title-2 Видеоархив
						+svg("ar-title")
					.news-archive__blocks
						a(href="javascript:void(0);").news-archive__block
							.news-archive__lft(style="background-image: url(./img/index/p28.jpg);")
								.news-archive__cover
									.news-archive__btn
									.news-archive__time 22:00
							.news-archive__rght
								.news-archive__text Строительство первой палатки в Магнитогорске
						a(href="javascript:void(0);").news-archive__block
							.news-archive__lft(style="background-image: url(./img/index/p29.jpg);")
								.news-archive__cover
									.news-archive__btn
									.news-archive__time 22:00
							.news-archive__rght
								.news-archive__text Строительство первой палатки в Магнитогорске
						a(href="javascript:void(0);").news-archive__block
							.news-archive__lft(style="background-image: url(./img/index/p30.jpg);")
								.news-archive__cover
									.news-archive__btn
									.news-archive__time 22:00
							.news-archive__rght
								.news-archive__text Строительство первой палатки в Магнитогорске
		a(href="javascript:void(0);").news-temp
			img(src="./img/banner2.jpg" alt="")
							
							
							

					

		
							


block script