extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';

block content
	.container
		.wrapper
			.wrapper__left
				.journal
					.journal__title.title-1 «Бригада»
					.journal__info Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					<form class="archive-filter__items" action="" method="get" data-filter='{"min":"2000","year":"YEAR","currentYear":"2013"}'>
						.archive-filter__item.archive-filter__item--year.archive-filter__item--journal
							.archive-filter__bloc
								.archive-filter__txt 1935
								.archive-filter__ic
									<svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M1 5L5.24264 9.24264L9.48528 5" stroke="#27202C" stroke-width="2"/>
									</svg>
							.archive-filter__box
								.archive-filter__list
					</form>
					.journal__wrapper
						.journal__bloc
							.journal__age 2012
							.journal__cover
								.journal__inner
									.s1.journal__items(data-id="s1")
										.swiper-wrapper
											a(href="./document/2012_01.pdf").swiper-slide.journal__item
												.journal__pic 
													img(src="./img/journal/img1.jpg" alt="1")
												.journal__txt Выпуск 1. PDF
											a(href="./document/2012_01.pdf").swiper-slide.journal__item
												.journal__pic 
													img(src="./img/journal/img1.jpg" alt="1")
												.journal__txt Выпуск 1. PDF
											a(href="./document/2012_01.pdf").swiper-slide.journal__item
												.journal__pic 
													img(src="./img/journal/img1.jpg" alt="1")
												.journal__txt Выпуск 1. PDF
											a(href="./document/2012_01.pdf").swiper-slide.journal__item
												.journal__pic 
													img(src="./img/journal/img1.jpg" alt="1")
												.journal__txt Выпуск 1. PDF
											a(href="./document/2012_01.pdf").swiper-slide.journal__item
												.journal__pic 
													img(src="./img/journal/img1.jpg" alt="1")
												.journal__txt Выпуск 1. PDF
										.journal__box
											.journal__arrow.journal__arrow--next
												<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M10.002 21L19.9014 11.1005L10.002 1.20101" stroke="#27202C" stroke-width="2"/>
												</svg>
											.journal__arrow.journal__arrow--prev
												<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M10.002 21L19.9014 11.1005L10.002 1.20101" stroke="#27202C" stroke-width="2"/>
												</svg>

						.journal__bloc
							.journal__age 2011
							.journal__cover
								.journal__inner
									.s2.journal__items(data-id="s2")
										.swiper-wrapper
											a(href="./document/2012_01.pdf").swiper-slide.journal__item
												.journal__pic 
													img(src="./img/journal/img1.jpg" alt="1")
												.journal__txt Выпуск 1. PDF
										.journal__box
											.journal__arrow.journal__arrow--next
												<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M10.002 21L19.9014 11.1005L10.002 1.20101" stroke="#27202C" stroke-width="2"/>
												</svg>
											.journal__arrow.journal__arrow--prev
												<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M10.002 21L19.9014 11.1005L10.002 1.20101" stroke="#27202C" stroke-width="2"/>
												</svg>
						.journal__bloc
							.journal__age 2010
							.journal__cover
								.journal__inner
									.s3.journal__items(data-id="s3")
										.swiper-wrapper
											a(href="./document/2012_01.pdf").swiper-slide.journal__item
												.journal__pic 
													img(src="./img/journal/img1.jpg" alt="1")
												.journal__txt Выпуск 1. PDF
											a(href="./document/2012_01.pdf").swiper-slide.journal__item
												.journal__pic 
													img(src="./img/journal/img1.jpg" alt="1")
												.journal__txt Выпуск 1. PDF
										.journal__box
											.journal__arrow.journal__arrow--next
												<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M10.002 21L19.9014 11.1005L10.002 1.20101" stroke="#27202C" stroke-width="2"/>
												</svg>
											.journal__arrow.journal__arrow--prev
												<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M10.002 21L19.9014 11.1005L10.002 1.20101" stroke="#27202C" stroke-width="2"/>
												</svg>

						.journal__bloc
							.journal__age 2009
							.journal__cover
								.journal__inner
									.s1.journal__items(data-id="s4")
										.swiper-wrapper
											a(href="./document/2012_01.pdf").swiper-slide.journal__item
												.journal__pic 
													img(src="./img/journal/img1.jpg" alt="1")
												.journal__txt Выпуск 1. PDF
											a(href="./document/2012_01.pdf").swiper-slide.journal__item
												.journal__pic 
													img(src="./img/journal/img1.jpg" alt="1")
												.journal__txt Выпуск 1. PDF
											a(href="./document/2012_01.pdf").swiper-slide.journal__item
												.journal__pic 
													img(src="./img/journal/img1.jpg" alt="1")
												.journal__txt Выпуск 1. PDF
											a(href="./document/2012_01.pdf").swiper-slide.journal__item
												.journal__pic 
													img(src="./img/journal/img1.jpg" alt="1")
												.journal__txt Выпуск 1. PDF
											a(href="./document/2012_01.pdf").swiper-slide.journal__item
												.journal__pic 
													img(src="./img/journal/img1.jpg" alt="1")
												.journal__txt Выпуск 1. PDF
										.journal__box
											.journal__arrow.journal__arrow--next
												+svg('ar-title')
											.journal__arrow.journal__arrow--prev
												+svg('ar-title')
				.news-today.news-today--include
					.news-today__item
						.news-today__title.title-2 Сегодняшняя газета
						a(href="javascript:void(0);").btn Посмотреть электронное издание
			.wrapper__right.wrapper__right--special
				.news-survey
					a(href="javascript:void(0);").news-survey__title.title-3 Что вы думаете <br> об обязательном тестировании на коронавирусную инфекцию?
					form.news-survey__form(method="get")
						label(for="qu1" class="news-survey__radio") 
							input(type="radio" id="qu1" name="rdbtn" checked)
							div.news-survey__text Нужно сделать всем, вдруг кто-то болеет без симптомов
						label(for="qu2" class="news-survey__radio") 
							input(type="radio" id="qu2" name="rdbtn")
							div.news-survey__text Нужно сделать всем, вдруг кто-то болеет без симптомов
						button(type="submit" class="btn") Голосовать
				.news-hidden
					a(href="javascript:void(0);").news-today__block.news-today__block--other
							img(src="./img/index/p36.jpg" alt="")
				.news-city
					a(href="javascript:void(0);").news-city__title.title-2 История города
						+svg("ar-title")
					.news-city__items
						a(href="javascript:void(0);").news-city__item
							.news-city__pic(style="background-image: url(./img/history/city/hc1.jpg);")
							.news-city__title.title-3 Газета в рабочей спецовке
						a(href="javascript:void(0);").news-city__item
							.news-city__pic(style="background-image: url(./img/index/p32.jpg);")
							.news-city__title.title-3 Больницы для солдат
						a(href="javascript:void(0);").news-city__item
							.news-city__pic(style="background-image: url(./img/index/p34.jpg);")
							.news-city__title.title-3 Маленькая женщина с большим сердцем
						a(href="javascript:void(0);").news-city__item
							.news-city__pic(style="background-image: url(./img/index/p33.jpg);")
							.news-city__title.title-3 Первые секретари
				.news-today
					a(href="javascript:void(0);").news-today__block
						img(src="./img/index/p35.jpg" alt="")
					.news-today__item
						.news-today__title.title-2 Сегодняшняя газета
						a(href="javascript:void(0);").btn Посмотреть электронное издание
		.news-temp
					img(src="./img/banner2.jpg" alt="")
		
							

					

		
							


block script