extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';

block content
	.container
		.wrapper
			.wrapper__left
				.news-popular.news-popular--popular
					.news-popular__title.title-1 Популярные
					.news-popular__wrapper
						.news-popular__bloc
							.news-popular__items
								.news-popular__item
									.news-popular__box
										.news-popular__top
											a(href="javascript:void(0);").news-popular__name Действующие лица
											.news-popular__status
												.news-popular__ic
													+svg('eye-2')
												.news-popular__num 1211
										a(href="javascript:void(0);").news-popular__cover
											.news-popular__header.title-2 Конституционный день
											.news-popular__text Депутат Государственной Думы Виталий БаДепутат Государственной Думы Виталий БаДепутат Государственной Думы Виталий Бахметьев в последние дни февраля встретился с жителями сельских поселений и трудовыми коллективами Магнитогорска.
										.publish
											.publish__wrapper
												.publish__date 19 марта
												a(href="javascript:void(0);").publish__person Фантасмогорьев Фантасмогорь
								.news-popular__item
									.news-popular__box
										.news-popular__top
											a(href="javascript:void(0);").news-popular__name Действующие лица
											.news-popular__status
												.news-popular__ic
													+svg('eye-2')
												.news-popular__num 1211
										a(href="javascript:void(0);").news-popular__cover
											.news-popular__header.title-2 Конституционный день
											.news-popular__text Депутат Государственной Думы Виталий Бахметьев в последние дни февраля встретился с жителями сельских поселений и трудовыми коллективами Магнитогорска.
										.publish
											.publish__wrapper
												.publish__date 19 марта
												a(href="javascript:void(0);").publish__person Фантасмогорьев Фантасмогорь
						.news-popular__bloc.news-popular__bloc--special
							.news-popular__items
								.news-popular__item
									a(href="javascript:void(0);").news-popular__pic
										img(src="./img/index/p2.jpg" alt="")
									.news-popular__box
										.news-popular__top
											a(href="javascript:void(0);").news-popular__name Действующие лица
											.news-popular__status
												.news-popular__ic
													+svg('eye-2')
												.news-popular__num 1211
										a(href="javascript:void(0);").news-popular__cover
											.news-popular__header.title-2 Конституционный день
											.news-popular__text Депутат Государственной Думы Виталий Бахметьев в последние дни февраля встретился с жителями сельских поселений и трудовыми коллективами Магнитогорска.
										.publish
											.publish__wrapper
												.publish__date 19 марта
												a(href="javascript:void(0);").publish__person Фантасмогорьев Фантасмогорь
						.news-popular__bloc
							.news-popular__items
								.news-popular__item
									.news-popular__box
										.news-popular__top
											a(href="javascript:void(0);").news-popular__name Действующие лица
											.news-popular__status
												.news-popular__ic
													+svg('eye-2')
												.news-popular__num 1211
										a(href="javascript:void(0);").news-popular__cover
											.news-popular__header.title-2 С чувством 
											.news-popular__text Депутат Государственной Думы Виталий Бахметьев в последние дни февраля встретился с жителями сельских поселений и трудовыми коллективами Магнитогорска.
										.publish
											.publish__wrapper
												.publish__date 19 марта
												a(href="javascript:void(0);").publish__person Фантасмогорьев Фантасмогорь
								.news-popular__item
									a(href="javascript:void(0);").news-popular__pic
											img(src="./img/index/p2.jpg" alt="")
									.news-popular__box
										.news-popular__top
											a(href="javascript:void(0);").news-popular__name Действующие лица
											.news-popular__status
												.news-popular__ic
													+svg('eye-2')
												.news-popular__num 1211
										a(href="javascript:void(0);").news-popular__cover
											.news-popular__header.title-2 Туристов застали врасплох аж на две строчки
											.news-popular__text Депутат Государственной Думы Виталий Бахметьев в последние дни февраля встретился с жителями сельских поселений и трудовыми коллективами Магнитогорска.
										.publish
											.publish__wrapper
												.publish__date 19 марта
												a(href="javascript:void(0);").publish__person Фантасмогорьев Фантасмогорь
						.news-hidden
							a(href="javascript:void(0);").news-today__block.news-today__block--other
									img(src="./img/index/p36.jpg" alt="")
						.news-popular__bloc
							.news-popular__items
								.news-popular__item
									.news-popular__box
										.news-popular__top
											a(href="javascript:void(0);").news-popular__name Действующие лица
											.news-popular__status
												.news-popular__ic
													+svg('eye-2')
												.news-popular__num 1211
										a(href="javascript:void(0);").news-popular__cover
											.news-popular__header.title-2 Конституционный день
											.news-popular__text Депутат Государственной Думы Виталий Бахметьев в последние дни февраля встретился с жителями сельских поселений и трудовыми коллективами Магнитогорска.
										.publish
											.publish__wrapper
												.publish__date 19 марта
												a(href="javascript:void(0);").publish__person Фантасмогорьев Фантасмогорь
								.news-popular__item
									.news-popular__box
										.news-popular__top
											a(href="javascript:void(0);").news-popular__name Действующие лица
											.news-popular__status
												.news-popular__ic
													+svg('eye-2')
												.news-popular__num 1211
										a(href="javascript:void(0);").news-popular__cover
											.news-popular__header.title-2 Конституционный день
											.news-popular__text Депутат Государственной Думы Виталий Бахметьев в последние дни февраля встретился с жителями сельских поселений и трудовыми коллективами Магнитогорска.
										.publish
											.publish__wrapper
												.publish__date 19 марта
												a(href="javascript:void(0);").publish__person Фантасмогорьев Фантасмогорь
						//- .news-popular__bloc--other
						.news-popular__bloc
							.news-popular__items
								.news-popular__item
									a(href="javascript:void(0);").news-popular__pic
										img(src="./img/index/p2.jpg" alt="")
									.news-popular__box
										.news-popular__top
											a(href="javascript:void(0);").news-popular__name Действующие лица
											.news-popular__status
												.news-popular__ic
													+svg('eye-2')
												.news-popular__num 1211
										a(href="javascript:void(0);").news-popular__cover
											.news-popular__header.title-2 С чувством уважения к истории
											.news-popular__text Депутат Государственной Думы Виталий Бахметьев в последние дни февраля встретился с жителями сельских поселений и трудовыми коллективами Магнитогорска.
										.publish
											.publish__wrapper
												.publish__date 19 марта
												a(href="javascript:void(0);").publish__person Фантасмогорьев Фантасмогорь
								.news-popular__item
									.news-popular__box
										.news-popular__top
											a(href="javascript:void(0);").news-popular__name Действующие лица
											.news-popular__status
												.news-popular__ic
													+svg('eye-2')
												.news-popular__num 1211
										a(href="javascript:void(0);").news-popular__cover
											.news-popular__header.title-2 Туристов застали врасплох аж на две строчки
											.news-popular__text Депутат Государственной Думы Виталий Бахметьев в последние дни февраля встретился с жителями сельских поселений и трудовыми коллективами Магнитогорска.
										.publish
											.publish__wrapper
												.publish__date 19 марта
												a(href="javascript:void(0);").publish__person Фантасмогорьев Фантасмогорь
						.news-popular__bloc
							.news-popular__items
								.news-popular__item
									a(href="javascript:void(0);").news-popular__pic
										img(src="./img/index/p2.jpg" alt="")
									.news-popular__box
										.news-popular__top
											a(href="javascript:void(0);").news-popular__name Действующие лица
											.news-popular__status
												.news-popular__ic
													+svg('eye-2')
												.news-popular__num 1211
										a(href="javascript:void(0);").news-popular__cover
											.news-popular__header.title-2 Конституционный день
											.news-popular__text Депутат Государственной Думы Виталий Бахметьев в последние дни февраля встретился с жителями сельских поселений и трудовыми коллективами Магнитогорска.
										.publish
											.publish__wrapper
												.publish__date 19 марта
												a(href="javascript:void(0);").publish__person Фантасмогорьев Фантасмогорь
								.news-popular__item
									a(href="javascript:void(0);").news-popular__pic
										img(src="./img/index/p2.jpg" alt="")
									.news-popular__box
										.news-popular__top
											a(href="javascript:void(0);").news-popular__name Действующие лица
											.news-popular__status
												.news-popular__ic
													+svg('eye-2')
												.news-popular__num 1211
										a(href="javascript:void(0);").news-popular__cover
											.news-popular__header.title-2 Конституционный день
											.news-popular__text Депутат Государственной Думы Виталий Бахметьев в последние дни февраля встретился с жителями сельских поселений и трудовыми коллективами Магнитогорска.
										.publish
											.publish__wrapper
												.publish__date 19 марта
												a(href="javascript:void(0);").publish__person Фантасмогорьев Фантасмогорь
						.news-popular__bloc
							//- .news-popular__items--reverse
							.news-popular__items 
								.news-popular__item
									.news-popular__box
										.news-popular__top
											a(href="javascript:void(0);").news-popular__name Действующие лица
											.news-popular__status
												.news-popular__ic
													+svg('eye-2')
												.news-popular__num 1211
										a(href="javascript:void(0);").news-popular__cover
											.news-popular__header.title-2 С чувством уважения к истории
											.news-popular__text Депутат Государственной Думы Виталий Бахметьев в последние дни февраля встретился с жителями сельских поселений и трудовыми коллективами Магнитогорска.
										.publish
											.publish__wrapper
												.publish__date 19 марта
												a(href="javascript:void(0);").publish__person Фантасмогорьев Фантасмогорь
								.news-popular__item
									a(href="javascript:void(0);").news-popular__pic
										img(src="./img/index/p2.jpg" alt="")
									.news-popular__box
										.news-popular__top
											a(href="javascript:void(0);").news-popular__name Действующие лица
											.news-popular__status
												.news-popular__ic
													+svg('eye-2')
												.news-popular__num 1211
										a(href="javascript:void(0);").news-popular__cover
											.news-popular__header.title-2 Туристов застали врасплох аж на две строчки
											.news-popular__text Депутат Государственной Думы Виталий Бахметьев в последние дни февраля встретился с жителями сельских поселений и трудовыми коллективами Магнитогорска.
										.publish
											.publish__wrapper
												.publish__date 19 марта
												a(href="javascript:void(0);").publish__person Фантасмогорьев Фантасмогорь
						.news-popular__bloc
							.news-popular__items
								.news-popular__item
									a(href="javascript:void(0);").news-popular__pic
										img(src="./img/index/p2.jpg" alt="")
									.news-popular__box
										.news-popular__top
											a(href="javascript:void(0);").news-popular__name Действующие лица
											.news-popular__status
												.news-popular__ic
													+svg('eye-2')
												.news-popular__num 1211
										a(href="javascript:void(0);").news-popular__cover
											.news-popular__header.title-2 Конституционный день
											.news-popular__text Депутат Государственной Думы Виталий Бахметьев в последние дни февраля встретился с жителями сельских поселений и трудовыми коллективами Магнитогорска.
										.publish
											.publish__wrapper
												.publish__date 19 марта
												a(href="javascript:void(0);").publish__person Фантасмогорьев Фантасмогорь
								.news-popular__item
									a(href="javascript:void(0);").news-popular__pic
										img(src="./img/index/p2.jpg" alt="")
									.news-popular__box
										.news-popular__top
											a(href="javascript:void(0);").news-popular__name Действующие лица
											.news-popular__status
												.news-popular__ic
													+svg('eye-2')
												.news-popular__num 1211
										a(href="javascript:void(0);").news-popular__cover
											.news-popular__header.title-2 Конституционный день
											.news-popular__text Депутат Государственной Думы Виталий Бахметьев в последние дни февраля встретился с жителями сельских поселений и трудовыми коллективами Магнитогорска.
										.publish
											.publish__wrapper
												.publish__date 19 марта
												a(href="javascript:void(0);").publish__person Фантасмогорьев Фантасмогорь
						.news-popular__bloc.news-popular__bloc--special
							.news-popular__items
								.news-popular__item
									a(href="javascript:void(0);").news-popular__pic
										img(src="./img/index/p2.jpg" alt="")
									.news-popular__box
										.news-popular__top
											a(href="javascript:void(0);").news-popular__name Действующие лица
											.news-popular__status
												.news-popular__ic
													+svg('eye-2')
												.news-popular__num 1211
										a(href="javascript:void(0);").news-popular__cover
											.news-popular__header.title-2 Конституционный день
											.news-popular__text Депутат Государственной Думы Виталий Бахметьев в последние дни февраля встретился с жителями сельских поселений и трудовыми коллективами Магнитогорска.
										.publish
											.publish__wrapper
												.publish__date 19 марта
												a(href="javascript:void(0);").publish__person Фантасмогорьев Фантасмогорь
					.news-hidden
						a(href="javascript:void(0);").news-today__block.news-today__block--other
								img(src="./img/index/p36.jpg" alt="")
					.edition-rewards__pagination
							a(href="javascript:void(0);").edition-rewards__link.edition-rewards__link--prev
								img(src="./img/icon/ar_pag.png" alt="letter")
							a(href="javascript:void(0);").edition-rewards__link.edition-rewards__link--active 1
							a(href="javascript:void(0);").edition-rewards__link 2
							a(href="javascript:void(0);").edition-rewards__link 3
							a(href="javascript:void(0);").edition-rewards__link ...
							a(href="javascript:void(0);").edition-rewards__link 13
							a(href="javascript:void(0);").edition-rewards__link 14
							a(href="javascript:void(0);").edition-rewards__link 15
							a(href="javascript:void(0);").edition-rewards__link.edition-rewards__link--next
								img(src="./img/icon/ar_pag_next.png" alt="letter")
					.news-today.news-today--include
						.news-today__item
							.news-today__title.title-2 Сегодняшняя газета
							a(href="javascript:void(0);").btn Посмотреть электронное издание
					.news-temp
						img(src="./img/banner2.jpg" alt="")
			.wrapper__right.wrapper__right--special
				.news-survey
					a(href="javascript:void(0);").news-survey__title.title-3 Что вы думаете <br> об обязательном тестировании на коронавирусную инфекцию?
					form.news-survey__form(method="get")
						label(for="qu1" class="news-survey__radio") 
							input(type="radio" id="qu1" name="rdbtn")
							div.news-survey__text Нужно сделать всем, вдруг кто-то болеет без симптомов
						label(for="qu2" class="news-survey__radio") 
							input(type="radio" id="qu2" name="rdbtn")
							div.news-survey__text Нужно сделать всем, вдруг кто-то болеет без симптомов
						button(type="submit" class="btn") Голосовать
				.news-hidden
					a(href="javascript:void(0);").news-today__block.news-today__block--other
							img(src="./img/index/p36.jpg" alt="")
				.news-city
					a(href="javascript:void(0);").news-city__title.title-2 История города
						+svg("ar-title")
					.news-city__items
						a(href="javascript:void(0);").news-city__item
							.news-city__pic(style="background-image: url(./img/history/city/hc1.jpg);")
							.news-city__title.title-3 Газета в рабочей спецовке
						a(href="javascript:void(0);").news-city__item
							.news-city__pic(style="background-image: url(./img/index/p32.jpg);")
							.news-city__title.title-3 Больницы для солдат
						a(href="javascript:void(0);").news-city__item
							.news-city__pic(style="background-image: url(./img/index/p34.jpg);")
							.news-city__title.title-3 Маленькая женщина с большим сердцем
						a(href="javascript:void(0);").news-city__item
							.news-city__pic(style="background-image: url(./img/index/p33.jpg);")
							.news-city__title.title-3 Первые секретари
				.news-today
					a(href="javascript:void(0);").news-today__block
						img(src="./img/index/p35.jpg" alt="")
					.news-today__item
						.news-today__title.title-2 Сегодняшняя газета
						a(href="javascript:void(0);").btn Посмотреть электронное издание
		
							

					

		
							


block script