extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';

block content
	.container
		.wrapper
			.wrapper__left
				.report
					.report__title.title-1 Фоторепортажи
					.archive-filter.archive-filter--report
						<form class="archive-filter__items" action="" method="get" data-filter='{"min":"1995","year":"YEAR","day":"DAY","currentYear":"2020", "currentDay":"2"}'>
							.archive-filter__group
								.archive-filter__item.archive-filter__item--rubric
									.archive-filter__bloc
										.archive-filter__txt Все рубрики
										.archive-filter__ic
											+svg('ar-f')
									.archive-filter__box
										.archive-filter__list
											<div class="archive-filter__block">
												<input id="r1" type="radio" name="rubric" value="1">
												<label for="r1" title="Политика. Власть. Общество">Политика. Власть. Общество</label>
											</div>
											<div class="archive-filter__block">
												<input id="r2" type="radio" name="rubric" value="2">
												<label for="r2" title="События и комментарии">События и комментарии</label>
											</div>
											<div class="archive-filter__block">
												<input id="r3" type="radio" name="rubric" value="3">
												<label for="r3" title="Официально">Официально</label>
											</div>
											<div class="archive-filter__block">
												<input id="r4" type="radio" name="rubric" value="4">
												<label for="r4" title="Экономика и финансы">Экономика и финансы</label>
											</div>
											<div class="archive-filter__block">
												<input id="r5" type="radio" name="rubric" value="5">
												<label for="r5" title="Авто миг">Народная экономика: и жизнь,</label>
											</div>
								.archive-filter__item.archive-filter__item--year
									.archive-filter__bloc
										.archive-filter__txt 1935
										.archive-filter__ic
											+svg('ar-f')
									.archive-filter__box
										.archive-filter__list
								.archive-filter__item.archive-filter__item--month
									.archive-filter__bloc
										.archive-filter__txt Декабрь
										.archive-filter__ic
											+svg('ar-f')
									.archive-filter__box
										.archive-filter__list
											<div class="archive-filter__block">
												<input id="m1" type="radio" name="month" value="12">
												<label for="m1">Декабрь</label>
											</div>
											<div class="archive-filter__block">
												<input id="m2" type="radio" name="month" value="01">
												<label for="m2">Январь</label>
											</div>
											<div class="archive-filter__block">
												<input id="m3" type="radio" name="month" value="02" checked="checked">
												<label for="m3">Февраль</label>
											</div>
								.archive-filter__item.archive-filter__item--day
									.archive-filter__bloc
										.archive-filter__txt 31
										.archive-filter__ic
											+svg('ar-f')
									.archive-filter__box
										.archive-filter__list
							button(type="submit").archive-filter__item.archive-filter__item--btn Найти
						</form>
					.report__wrapper
						.news-basic
							.news-basic__wrapper
								.news-basic__left
									a(href="javascript:void(0);").news-basic__img(style="background-image: url(./img/index/p1.jpg);")
								.news-basic__right
									a(href="javascript:void(0);").news-basic__article Область
									a(href="javascript:void(0);").news-basic__cover
										.news-basic__title.title-2 Металл в "цифре"
										.news-basic__text На международной конференции RPA Connect 4.0, прошедшей на площадке ММК, были представлены лучшие идеи, тенденции и практики развития программной роботизации в промышленной сфере.
									.publish
										.publish__wrapper
											a(href="javascript:void(0);").publish__date 19 марта
											a(href="javascript:void(0);").publish__person Фантасмогорьев Фантасмогорь
						.report__box
							.report__bloc
								.news-set__wrapper.news-set__wrapper--basic
									.news-set__item
												a(href="javascript:void(0);").news-set__pic
													img(src="./img/index/p4.jpg" alt="")
												.news-set__content
													a(href="javascript:void(0);").news-set__article Действующие лица
													a(href="javascript:void(0);").news-set__cover 
														.news-set__title С чувством уважения к истории
														.news-set__text В детской библиотеке № 2 прошла тематическая встреча учащихся Магнитогорского государственного многопрофильного лицея при МГТУ имени Г. И. Носова с представителями военно-патриотического клуба "Гранит" и хуторского казачьего общества "Хутор Могутовский".
													.publish
														.publish__wrapper
															a(href="javascript:void(0);").publish__date 19 марта
															a(href="javascript:void(0);").publish__person Фантасмогорьев Андрей
							.report__bloc
								.news-set__wrapper.news-set__wrapper--basic
									.news-set__item
												a(href="javascript:void(0);").news-set__pic
													img(src="./img/index/p4.jpg" alt="")
												.news-set__content
													a(href="javascript:void(0);").news-set__article Действующие лица
													a(href="javascript:void(0);").news-set__cover 
														.news-set__title С чувством уважения к истории
														.news-set__text В детской библиотеке № 2 прошла тематическая встреча учащихся Магнитогорского государственного многопрофильного лицея при МГТУ имени Г. И. Носова с представителями военно-патриотического клуба "Гранит" и хуторского казачьего общества "Хутор Могутовский".
													.publish
														.publish__wrapper
															a(href="javascript:void(0);").publish__date 19 марта
															a(href="javascript:void(0);").publish__person Фантасмогорьев Андрей
							.report__bloc
								.news-set__wrapper.news-set__wrapper--basic
									.news-set__item
												a(href="javascript:void(0);").news-set__pic
													img(src="./img/index/p4.jpg" alt="")
												.news-set__content
													a(href="javascript:void(0);").news-set__article Действующие лица
													a(href="javascript:void(0);").news-set__cover 
														.news-set__title С чувством уважения к истории
														.news-set__text В детской библиотеке № 2 прошла тематическая встреча учащихся Магнитогорского государственного многопрофильного лицея при МГТУ имени Г. И. Носова с представителями военно-патриотического клуба "Гранит" и хуторского казачьего общества "Хутор Могутовский".
													.publish
														.publish__wrapper
															a(href="javascript:void(0);").publish__date 19 марта
															a(href="javascript:void(0);").publish__person Фантасмогорьев Андрей
							.report__bloc
								.news-set__wrapper.news-set__wrapper--basic
									.news-set__item
												a(href="javascript:void(0);").news-set__pic
													img(src="./img/index/p4.jpg" alt="")
												.news-set__content
													a(href="javascript:void(0);").news-set__article Действующие лица
													a(href="javascript:void(0);").news-set__cover 
														.news-set__title С чувством уважения к истории
														.news-set__text В детской библиотеке № 2 прошла тематическая встреча учащихся Магнитогорского государственного многопрофильного лицея при МГТУ имени Г. И. Носова с представителями военно-патриотического клуба "Гранит" и хуторского казачьего общества "Хутор Могутовский".
													.publish
														.publish__wrapper
															a(href="javascript:void(0);").publish__date 19 марта
															a(href="javascript:void(0);").publish__person Фантасмогорьев Андрей
							.report__bloc
								.news-set__wrapper.news-set__wrapper--basic
									.news-set__item
												a(href="javascript:void(0);").news-set__pic
													img(src="./img/index/p4.jpg" alt="")
												.news-set__content
													a(href="javascript:void(0);").news-set__article Действующие лица
													a(href="javascript:void(0);").news-set__cover 
														.news-set__title С чувством уважения к истории
														.news-set__text В детской библиотеке № 2 прошла тематическая встреча учащихся Магнитогорского государственного многопрофильного лицея при МГТУ имени Г. И. Носова с представителями военно-патриотического клуба "Гранит" и хуторского казачьего общества "Хутор Могутовский".
													.publish
														.publish__wrapper
															a(href="javascript:void(0);").publish__date 19 марта
															a(href="javascript:void(0);").publish__person Фантасмогорьев Андрей
							.report__bloc
								.news-set__wrapper.news-set__wrapper--basic
									.news-set__item
												a(href="javascript:void(0);").news-set__pic
													img(src="./img/index/p4.jpg" alt="")
												.news-set__content
													a(href="javascript:void(0);").news-set__article Действующие лица
													a(href="javascript:void(0);").news-set__cover 
														.news-set__title С чувством уважения к истории
														.news-set__text В детской библиотеке № 2 прошла тематическая встреча учащихся Магнитогорского государственного многопрофильного лицея при МГТУ имени Г. И. Носова с представителями военно-патриотического клуба "Гранит" и хуторского казачьего общества "Хутор Могутовский".
													.publish
														.publish__wrapper
															a(href="javascript:void(0);").publish__date 19 марта
															a(href="javascript:void(0);").publish__person Фантасмогорьев Андрей
							.report__bloc
								.news-set__wrapper.news-set__wrapper--basic
									.news-set__item
												a(href="javascript:void(0);").news-set__pic
													img(src="./img/index/p4.jpg" alt="")
												.news-set__content
													a(href="javascript:void(0);").news-set__article Действующие лица
													a(href="javascript:void(0);").news-set__cover 
														.news-set__title С чувством уважения к истории
														.news-set__text В детской библиотеке № 2 прошла тематическая встреча учащихся Магнитогорского государственного многопрофильного лицея при МГТУ имени Г. И. Носова с представителями военно-патриотического клуба "Гранит" и хуторского казачьего общества "Хутор Могутовский".
													.publish
														.publish__wrapper
															a(href="javascript:void(0);").publish__date 19 марта
															a(href="javascript:void(0);").publish__person Фантасмогорьев Андрей
					.edition-rewards__pagination
						a(href="javascript:void(0);").edition-rewards__link.edition-rewards__link--prev
							+svg('back')
						a(href="javascript:void(0);").edition-rewards__link.edition-rewards__link--active 1
						a(href="javascript:void(0);").edition-rewards__link 2
						a(href="javascript:void(0);").edition-rewards__link 3
						a(href="javascript:void(0);").edition-rewards__link ...
						a(href="javascript:void(0);").edition-rewards__link 13
						a(href="javascript:void(0);").edition-rewards__link 14
						a(href="javascript:void(0);").edition-rewards__link 15
						a(href="javascript:void(0);").edition-rewards__link.edition-rewards__link--next
							+svg('back')
				.news-today.news-today--include
					.news-today__item
						.news-today__title.title-2 Сегодняшняя газета
						a(href="javascript:void(0);").btn Посмотреть электронное издание
			.wrapper__right.wrapper__right--special
				.news-survey
					a(href="javascript:void(0);").news-survey__title.title-3 Что вы думаете <br> об обязательном тестировании на коронавирусную инфекцию?
					form.news-survey__form(method="get")
						label(for="qu1" class="news-survey__radio") 
							input(type="radio" id="qu1" name="rdbtn" checked)
							div.news-survey__text Нужно сделать всем, вдруг кто-то болеет без симптомов
						label(for="qu2" class="news-survey__radio") 
							input(type="radio" id="qu2" name="rdbtn")
							div.news-survey__text Нужно сделать всем, вдруг кто-то болеет без симптомов
						button(type="submit" class="btn") Голосовать
				.news-hidden
					a(href="javascript:void(0);").news-today__block.news-today__block--other
							img(src="./img/index/p36.jpg" alt="")
				.news-city
					a(href="javascript:void(0);").news-city__title.title-2 История города
						+svg("ar-title")
					.news-city__items
						a(href="javascript:void(0);").news-city__item
							.news-city__pic(style="background-image: url(./img/history/city/hc1.jpg);")
							.news-city__title.title-3 Газета в рабочей спецовке
						a(href="javascript:void(0);").news-city__item
							.news-city__pic(style="background-image: url(./img/index/p32.jpg);")
							.news-city__title.title-3 Больницы для солдат
						a(href="javascript:void(0);").news-city__item
							.news-city__pic(style="background-image: url(./img/index/p34.jpg);")
							.news-city__title.title-3 Маленькая женщина с большим сердцем
						a(href="javascript:void(0);").news-city__item
							.news-city__pic(style="background-image: url(./img/index/p33.jpg);")
							.news-city__title.title-3 Первые секретари
				.news-today
					a(href="javascript:void(0);").news-today__block
						img(src="./img/index/p35.jpg" alt="")
					.news-today__item
						.news-today__title.title-2 Сегодняшняя газета
						a(href="javascript:void(0);").btn Посмотреть электронное издание
		.news-temp
					img(src="./img/banner2.jpg" alt="")
		
							

					

		
							


block script