extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';

block content
	.container
		.wrapper
			.wrapper__left
				.search 
					.search__title.title-1 Поиск по сайту
					.search__wrapper
						.search__bloc
							.search__items
								.search__item
									.search__box
										a(href="javascript:void(0);").search__cover
											.search__header.title-4 Сергей Бердников отдал свой голос на губернаторских выборах
											.search__text Сергей Бердников продемонстрировал, насколько голосовать быстро и просто. Сергей Бердников продемонстрировал, насколько голосовать быстро и просто.
										.publish
											.publish__wrapper
												.publish__date 19 марта 2019
												a(href="javascript:void(0);").publish__person Фантасмогорьев Фантасмогорь
								.search__item
									.search__box
										a(href="javascript:void(0);").search__cover
											.search__header.title-4 Сергей Бердников отдал свой голос на губернаторских выборах
											.search__text Сергей Бердников продемонстрировал, насколько голосовать быстро и просто. Сергей Бердников продемонстрировал, насколько голосовать быстро и просто.
										.publish
											.publish__wrapper
												.publish__date 19 марта 2019
												a(href="javascript:void(0);").publish__person Фантасмогорьев Фантасмогорь
						.search__bloc
							.search__items
								.search__item
									.search__box
										a(href="javascript:void(0);").search__cover
											.search__header.title-4 Сергей Бердников отдал свой голос на губернаторских выборах
											.search__text Сергей Бердников продемонстрировал, насколько голосовать быстро и просто.
										.publish
											.publish__wrapper
												.publish__date 19 марта 2019
												a(href="javascript:void(0);").publish__person Фантасмогорьев Фантасмогорь
								.search__item
									.search__box
										a(href="javascript:void(0);").search__cover
											.search__header.title-4 Сергей Бердников отдал свой голос на губернаторских выборах
											.search__text Сергей Бердников продемонстрировал, насколько голосовать быстро и просто.
										.publish
											.publish__wrapper
												.publish__date 19 марта 2019
												a(href="javascript:void(0);").publish__person Фантасмогорьев Фантасмогорь
						.search__bloc
							.search__items
								.search__item
									.search__box
										a(href="javascript:void(0);").search__cover
											.search__header.title-4 Сергей Бердников отдал свой голос на губернаторских выборах
											.search__text Сергей Бердников продемонстрировал, насколько голосовать быстро и просто.
										.publish
											.publish__wrapper
												.publish__date 19 марта 2019
												a(href="javascript:void(0);").publish__person Фантасмогорьев Фантасмогорь
								.search__item
									.search__box
										a(href="javascript:void(0);").search__cover
											.search__header.title-4 Сергей Бердников отдал свой голос на губернаторских выборах
											.search__text Сергей Бердников продемонстрировал, насколько голосовать быстро и просто.
										.publish
											.publish__wrapper
												.publish__date 19 марта 2019
												a(href="javascript:void(0);").publish__person Фантасмогорьев Фантасмогорь
						.search__bloc
							.search__items
								.search__item
									.search__box
										a(href="javascript:void(0);").search__cover
											.search__header.title-4 Сергей Бердников отдал свой голос на губернаторских выборах
											.search__text Сергей Бердников продемонстрировал, насколько голосовать быстро и просто.
										.publish
											.publish__wrapper
												.publish__date 19 марта 2019
												a(href="javascript:void(0);").publish__person Фантасмогорьев Фантасмогорь
								.search__item
									.search__box
										a(href="javascript:void(0);").search__cover
											.search__header.title-4 Сергей Бердников отдал свой голос на губернаторских выборах
											.search__text Сергей Бердников продемонстрировал, насколько голосовать быстро и просто.
										.publish
											.publish__wrapper
												.publish__date 19 марта 2019
												a(href="javascript:void(0);").publish__person Фантасмогорьев Фантасмогорь
						.search__bloc
							.search__items
								.search__item
									.search__box
										a(href="javascript:void(0);").search__cover
											.search__header.title-4 Сергей Бердников отдал свой голос на губернаторских выборах
											.search__text Сергей Бердников продемонстрировал, насколько голосовать быстро и просто.
										.publish
											.publish__wrapper
												.publish__date 19 марта 2019
												a(href="javascript:void(0);").publish__person Фантасмогорьев Фантасмогорь
								.search__item
									.search__box
										a(href="javascript:void(0);").search__cover
											.search__header.title-4 Сергей Бердников отдал свой голос на губернаторских выборах
											.search__text Сергей Бердников продемонстрировал, насколько голосовать быстро и просто.
										.publish
											.publish__wrapper
												.publish__date 19 марта 2019
												a(href="javascript:void(0);").publish__person Фантасмогорьев Фантасмогорь
						.search__bloc
							.search__items
								.search__item
									.search__box
										a(href="javascript:void(0);").search__cover
											.search__header.title-4 Сергей Бердников отдал свой голос на губернаторских выборах
											.search__text Сергей Бердников продемонстрировал, насколько голосовать быстро и просто.
										.publish
											.publish__wrapper
												.publish__date 19 марта 2019
												a(href="javascript:void(0);").publish__person Фантасмогорьев Фантасмогорь
								.search__item
									.search__box
										a(href="javascript:void(0);").search__cover
											.search__header.title-4 Сергей Бердников отдал свой голос на губернаторских выборах
											.search__text Сергей Бердников продемонстрировал, насколько голосовать быстро и просто.
										.publish
											.publish__wrapper
												.publish__date 19 марта 2019
												a(href="javascript:void(0);").publish__person Фантасмогорьев Фантасмогорь
						.search__bloc.search__bloc--full
							.search__items
								.search__item
									.search__box
										a(href="javascript:void(0);").search__cover
											.search__header.title-4 Сергей Бердников отдал свой голос на губернаторских выборах
											.search__text Сергей Бердников продемонстрировал, насколько голосовать быстро и просто.
										.publish
											.publish__wrapper
												.publish__date 19 марта 2019
												a(href="javascript:void(0);").publish__person Фантасмогорьев Фантасмогорь
					.edition-rewards__pagination
						a(href="javascript:void(0);").edition-rewards__link.edition-rewards__link--prev
							+svg('back')
						a(href="javascript:void(0);").edition-rewards__link.edition-rewards__link--active 1
						a(href="javascript:void(0);").edition-rewards__link 2
						a(href="javascript:void(0);").edition-rewards__link 3
						a(href="javascript:void(0);").edition-rewards__link ...
						a(href="javascript:void(0);").edition-rewards__link 13
						a(href="javascript:void(0);").edition-rewards__link 14
						a(href="javascript:void(0);").edition-rewards__link 15
						a(href="javascript:void(0);").edition-rewards__link.edition-rewards__link--next
							+svg('back')
				.news-today.news-today--include
					.news-today__item
						.news-today__title.title-2 Сегодняшняя газета
						a(href="javascript:void(0);").btn Посмотреть электронное издание						
			.wrapper__right.wrapper__right--special
				.news-survey
					a(href="javascript:void(0);").news-survey__title.title-3 Что вы думаете <br> об обязательном тестировании на коронавирусную инфекцию?
					form.news-survey__form(method="get")
						label(for="qu1" class="news-survey__radio") 
							input(type="radio" id="qu1" name="rdbtn" checked)
							div.news-survey__text Нужно сделать всем, вдруг кто-то болеет без симптомов
						label(for="qu2" class="news-survey__radio") 
							input(type="radio" id="qu2" name="rdbtn")
							div.news-survey__text Нужно сделать всем, вдруг кто-то болеет без симптомов
						button(type="submit" class="btn") Голосовать
				.news-hidden
					a(href="javascript:void(0);").news-today__block.news-today__block--other
							img(src="./img/index/p36.jpg" alt="")
				.news-city
					a(href="javascript:void(0);").news-city__title.title-2 История города
						+svg("ar-title")
					.news-city__items
						a(href="javascript:void(0);").news-city__item
							.news-city__pic(style="background-image: url(./img/history/city/hc1.jpg);")
							.news-city__title.title-3 Газета в рабочей спецовке
						a(href="javascript:void(0);").news-city__item
							.news-city__pic(style="background-image: url(./img/index/p32.jpg);")
							.news-city__title.title-3 Больницы для солдат
						a(href="javascript:void(0);").news-city__item
							.news-city__pic(style="background-image: url(./img/index/p34.jpg);")
							.news-city__title.title-3 Маленькая женщина с большим сердцем
						a(href="javascript:void(0);").news-city__item
							.news-city__pic(style="background-image: url(./img/index/p33.jpg);")
							.news-city__title.title-3 Первые секретари
				.news-today
					a(href="javascript:void(0);").news-today__block
						img(src="./img/index/p35.jpg" alt="")
		.news-temp
			img(src="./img/banner2.jpg" alt="")
					

		
							


block script