.author-articles {
    margin-top: 32px;

    @media(max-width: 1024px) {
        margin-top: 24px;
    }

    &__author {
        @media(max-width: 1024px) {
            font-size: 14px;
            line-height: 22px;
        }

        @media(max-width: 600px) {
            font-size: 12px;
            line-height: 20px;
        }
    }

    &__num,
    &__author {
        display: block;
    }

    &__publish {
        display: none;

        @media(max-width: 1235px) {
            display: flex;
            margin-top: 12PX;
            flex-direction: column;
        }

        @media(max-width: 1024px) {
            flex-direction: row;
        }
    }

    &__num {
        margin-right: 22px;

        @media(max-width: 1024px) {
            font-size: 14px;
            line-height: 22px;
        }

        @media(max-width: 600px) {
            font-size: 12px;
            line-height: 20px;
        }
    }

    &__box {
        @media(max-width: 768px) {
            margin-top: 24px;
        }
    }

    &__date {
        font-size: 14px;
        line-height: 22px;

        @media(max-width: 1235px) {
            display: none;
        }
    }


    &__wrapper {
        &:not(:last-child) {
            padding-bottom: 24px;
            border-bottom: 1px solid $gray-3;

            @media(max-width: 600px) {
                border: none;
                padding-bottom: 0;
            }
        }

        &--special {
            .author-articles__item {
                width: 100%;
                margin-left: 0;
                padding-left: 0;
                border-left: none !important;
            }

            .author-articles__items {
                margin-left: 0;
            }

            .author-articles__pic {
                @media(max-width: 768px) {
                    // display: none;
                }
            }

            .author-articles__box {
                @media(max-width: 768px) {
                    //margin-top: 0;
                }
            }
        }
    }

    &__items {
        display: flex;
        margin-top: 28px;
        margin-left: -80px;

        @media(max-width: 1300px) {
            margin-left: -60px;
        }

        @media(max-width: 1235px) {
            margin-left: -40px;
        }

        @media(max-width: 600px) {
            flex-wrap: wrap;
            margin-left: 0;
        }
    }

    &__item {
        display: flex;
        width: calc(50% - 40px);
        margin-left: 40px;
        padding-left: 40px;

        @media(max-width: 1300px) {
            width: calc(50% - 30px);
            margin-left: 30px;
            padding-left: 30px;
        }

        @media(max-width: 1235px) {
            width: calc(50% - 20px);
            margin-left: 20px;
            padding-left: 20px;
        }

        @media(max-width: 768px) {
            flex-direction: column;
        }

        @media(max-width: 600px) {
            width: 100%;
            margin-left: 0;
            padding-left: 0;
            padding-bottom: 16px;
            border-bottom: 1px solid $gray-3;
        }

        &:not(:first-child) {
            @media(max-width: 600px) {
                margin-top: 32px;
            }
        }


        &:last-child {
            border-left: 1px solid $gray-3;

            @media(max-width: 600px) {
                border-left: none;
            }
        }

        &:hover .author-articles__pic {
            &:after {
                opacity: 1;
            }
        }

        &:hover {
            .author-articles__title {
                color: $purple-3;
            }
        }
    }

    &__pic {
        position: relative;
        max-width: 120px;
        min-width: 120px;
        height: 120px;
        width: 100%;
        margin-right: 18px;

        @media(max-width: 1235px) {
            max-width: 92px;
            min-width: 92px;
            margin-right: 15px;
        }

        @media(max-width: 768px) {
            max-width: 100%;
            min-width: initial;
            height: 192px;
        }

        &:after {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            background-image: url(../img/icon/hover-block2.svg);
            background-position: center;
            background-repeat: no-repeat;
            transition: .2s ease-out;
            opacity: 0;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__top {
        display: flex;
    }

    &__name {
        margin-right: 16px;
        color: $purple-3;
        font-size: 14px;
        line-height: 22px;
    }

    &__cover {
        display: block;
        margin-top: 24px;

        @media(max-width: 1300px) {
            margin-top: 10px;
        }

        &:hover {
            .author-articles__title {
                color: $purple-3;
            }
        }
    }

    &__txt {
        margin-top: 8px;

        @media(max-width: 1024px) {
            font-size: 14px;
            line-height: 22px;
        }
    }

    &__title {
        padding-right: 0;
        transition: .2s ease-out;
    }

    .edition-rewards__pagination--basic {
        @media(max-width: 1024px) {
            margin-top: 24px;
        }
    }

    a {
        font-weight: normal !important;
    }


    &--news {
        padding-bottom: 0 !important;
        border-bottom: none !important;

        @media(max-width: 1024px) {
            border-top: 1px solid #27202c;
            padding-top: 16px;
        }

        padding-bottom: 20px;
        border-bottom: 1px solid #27202c;

        &__wrapper {
            padding-bottom: 0px;
        }

        &__items {
            @media(max-width: 600px) {
                flex-wrap: nowrap;
            }
        }

        &__txt,
        &__top,
        &__publish {
            @media(max-width: 600px) {
                display: none;
            }
        }

        &__title {
            @media(max-width: 600px) {
                font-size: 16px;
                line-height: 130%;
            }
        }

        &__cover {
            @media(max-width: 600px) {
                margin-top: 0;
            }
        }

        &__box {
            @media(max-width: 600px) {
                margin-top: 18px;
            }
        }

        &__pic {
            @media(max-width: 600px) {
                height: 134px;
            }


            img {
                height: 100%;
                width: 100%;
                margin-top: 0;
            }
        }

        &__item {

            @media(max-width: 600px) {
                border-bottom: none;
                padding-bottom: 0;
            }

            &:not(:first-child) {
                @media(max-width: 600px) {
                    margin-top: 0;
                }
            }

            &:not(:last-child) {
                @media(max-width: 600px) {
                    margin-right: 16px;
                }
            }
        }

        .swiper-slide {
            &:not(:last-child) {
                .author-articles__wrapper {
                    padding-bottom: 24px;
                    border-bottom: 1px solid $gray-3;

                    @media(max-width: 600px) {
                        border-bottom: none;
                    }
                }
            }
        }

        .swiper-wrapper {
            display: block;

            @media(max-width: 600px) {
                display: flex;
            }
        }
    }
}