.article {
    max-width: 926px;
    width: 100%;


    @media(max-width: 1024px) {
        max-width: 100%;
    }

    &__bloc {
        margin-top: 40px;
    }

    &__box {
        z-index: 2;


    }

    &__txt {
        max-width: 776px;
        margin-top: 8px;
        line-height: 24px;

        @media(max-width: 1024px) {
            font-size: 14px;
            line-height: 21px;
        }
    }

    &__info {
        margin-top: 10px;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: -.2px;
        line-height: 26px;
        max-width: 812px;

        @media(max-width: 1024px) {
            font-size: 14px;
            line-height: 24px;
        }
    }

    &__wrapper {
        margin-top: 35px;
        max-width: 870px;

        @media(max-width: 600px) {
            display: none;
        }
    }

    &__inner {
        margin-left: -61px;
        display: flex;
        flex-wrap: wrap;
        margin-top: -24px;

        @media(max-width: 1235px) {
            margin-top: -20px;
            margin-left: -35px;
        }

        @media(max-width: 1024px) {
            margin-top: -15px;
            margin-left: -20px;
        }
    }

    &__link {
        display: block;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: black;
        margin-left: 61px;
        letter-spacing: 0.6px;
        margin-top: 24px;
        transition: .3s;
        margin-top: 20px;
        cursor: pointer;


        margin-top: 23px;

        @media(max-width: 1024px) {
            margin-top: 20px;
        }


        input {
            display: none;

        }

        input[type=radio]:checked+label {
            color: $purple-3;
        }

        label:hover {
            color: $black;
        }

        label {
            display: block;
            width: 100%;
            cursor: pointer;
            // white-space: nowrap;
            // overflow: hidden;
            // text-overflow: ellipsis;
            transition: .3s;

            &:hover {
                color: $purple-3;
            }
        }

        @media(max-width: 1235px) {
            margin-top: 20px;
            margin-left: 35px;
        }

        @media(max-width: 1024px) {
            // margin-top: 15px;
            font-size: 14px;
            line-height: 20px;
            margin-left: 20px;
        }



        &--active {
            color: $purple-3;
            font-weight: bold;
        }
    }

    .btn {
        max-width: 314px;

        @media(max-width:600px) {
            max-width: 100%;
        }
    }
}