.archive-filter {
    margin-top: 31px;

    @media(max-width: 640px) {
        margin-top: 24px;
    }

    &__items {
        display: flex;
        align-items: center;

        @media(max-width: 640px) {
            margin-left: -8px;
            flex-wrap: wrap;
        }

        @media(max-width: 500px) {
            //  margin-top: -8px;
        }
    }

    &__item {
        cursor: pointer;
        position: relative;
        background-color: $gray-1;
        outline: 1px solid $gray-2 !important;
        height: 53px;
        white-space: nowrap;

        &--year {
            min-width: 108px;
            max-width: 115px;
            width: 100%;
        }

        &--month {
            max-width: 175px;
            width: 100%;
        }

        &--day {
            max-width: 93px;
            width: 100%;
        }



        &--btn {
            max-width: 141px;
            width: 100%;
            background-color: $purple-3;
            color: white;
            transition: .2s ease-out;

            &:hover {
                background-color: $gray-1;
                border: 1px solid $black;
                color: $black;
            }

            @media(max-width:640px) {
                margin-top: 10px;
            }
        }

        // &:nth-child(1) {
        //     max-width: 100px;
        //     width: 100%;
        // }

        // &:nth-child(2) {
        //     max-width: 175px;
        //     width: 100%;
        // }

        // &:nth-child(3) {
        //     max-width: 93px;
        //     width: 100%;
        // }

        &:not(:last-child) {
            margin-right: 16px;
        }

        @media(max-width: 640px) {
            width: calc(25% - 8px) !important;
            max-width: initial !important;
            margin-left: 8px;
            margin-right: 0 !important;
        }

        @media(max-width: 500px) {
            width: calc(50% - 8px) !important;
            max-width: initial !important;
            margin-left: 8px;
            margin-right: 0 !important;
            margin-top: 8px;
        }

        &--active {
            .archive-filter__ic {
                transform: scale(1, -1);
                transform-origin: center;
            }

            .archive-filter__box {
                opacity: 1;
                visibility: visible;
            }
        }

        &--journal {
            display: none;
            margin-top: 24px;
            max-width: 100%;
            z-index: 2;

            @media(max-width: 500px) {
                display: block;
                width: 100% !important;
            }
        }
    }

    &__txt {
        font-size: 14px;
        line-height: 22px;
        margin-right: 22px;


        @media(max-width: 640px) {
            margin-right: 16px;
        }
    }

    &__bloc {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 18px 14px 16px;

        &--active {
            .archive-filter__ic {
                transform: scale(1, -1);
                transform-origin: center;
            }
        }
    }

    &__box {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        width: 100%;
        background-color: $gray-1;
        left: 0px;
        outline: 1px solid $gray-2 !important;
        box-sizing: content-box;
        right: 0;
        margin: auto;
        border-top: none;
        box-sizing: border-box;
        padding: 16px 0 14px 16px;
        min-height: auto;
        overflow: hidden;
        transition: .2s ease-out;
        z-index: 1;
        top: auto;
        bottom: auto;
        max-height: 175px;

        &--active {
            opacity: 1;
            visibility: visible;
        }

        .mCSB_inside>.mCSB_container {
            margin-right: 15px;
        }
    }

    &__ic {
        flex-shrink: 0;
        height: 12px;
        width: 12px;
        transform: translateY(-1px);
        transition: .2s ease-out;

        svg {
            display: block;
            fill: none;
            stroke: $black;
            width: 100%;
            height: 100%;
            stroke-width: 2px;
        }
    }

    &__block {
        cursor: pointer;

        &:not(:first-child) {
            margin-top: 12px;
        }

        input {
            display: none;

        }


        input[type=radio]:checked+label {
            color: $purple-3;
        }

        label:hover {
            color: $purple-3;
        }

        label {
            display: block;
            width: 100%;
            cursor: pointer;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            @media(max-width: 1024px) {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }

    &__wrp {
        margin-top: 32px;

        @media(max-width: 500px) {
            margin-top: 17px;
        }
    }

    &__panel {
        display: inline-flex;
        align-items: center;

        @media(max-width: 640px) {
            flex-direction: column;
            align-items: flex-start;
        }

        &--active {
            .archive-filter__ic {
                transform: scale(1, -1);
                transform-origin: center;
            }
        }
    }

    &__pic {
        height: 12px;
        width: 12px;
        transform: translateY(-1px);
        transition: .2s ease-out;

        .b-svg {
            display: block;
            fill: none;
            stroke: #27202c;
            width: 100%;
            height: 100%;
            stroke-width: 2px;
        }
    }

    &__text {
        font-size: 14px;
        line-height: 22px;
        cursor: pointer;

        a {
            color: $purple-3;
            transition: .2s ease-out;

            &:hover {
                color: $black;
            }
        }
    }

    &__cover {
        display: flex;
        align-items: center;

        span {
            cursor: pointer;
            margin-right: 8px;

            @media(max-width: 1024px) {
                font-size: 14px;
                line-height: 22px;
            }

            @media(max-width: 640px) {
                margin-right: 13px;
            }
        }

        a {
            color: $purple-3;
            transition: .2s ease-out;
            margin-right: 5px;

            @media(max-width: 1024px) {
                font-size: 14px;
                line-height: 22px;
            }

            &:hover {
                color: $black;
            }
        }
    }

    &__select {
        font-size: 14px;
        line-height: 22px;
        padding: 0px;
        max-height: 0;
        overflow: hidden;
        transition: max-height .4s ease-in-out;
        background-color: #fff;
    }

    &__content {
        padding-top: 9px;
    }

    &__unit {
        a {
            color: $purple-3;
            transition: .2s ease-out;

            &:hover {
                color: $black;
            }
        }
    }



    &--report {

        @media(max-width: 640px) {
            margin-top: 9px;
        }

        .archive-filter__item:not(:last-child) {
            @media(max-width: 1235px) {
                margin-right: 9px;
            }

            @media(max-width: 1024px) {
                margin-right: 10px;
            }
        }

        .archive-filter__item--btn {

            @media(max-width: 1024px) {
                font-size: 14px;
                line-height: 20px;
            }

            @media(max-width: 640px) {
                margin-top: 10px;
            }

            @media(max-width: 620px) {
                margin-top: 8px;
                width: 100% !important;
            }
        }

        .archive-filter__item--rubric {
            min-width: 160px;
            max-width: 160px;
            width: 100%;

            @media(max-width: 620px) {
                min-width: initial;
            }

            .archive-filter__txt {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .archive-filter__item--day {
            min-width: 85px;

            @media(max-width: 640px) {
                max-width: 85px !important;
                width: 100% !important;
            }
        }

        .archive-filter__item--year {
            @media(max-width: 640px) {
                max-width: 115px !important;
                width: 100% !important;
            }
        }

        .archive-filter__item--month {
            min-width: 124px;

            @media(max-width: 640px) {
                max-width: 125px !important;
                width: 100% !important;
            }
        }
    }

    &__group {
        display: flex;
        margin-right: 16px;

        @media(max-width: 1235px) {
            margin-right: 9px;
        }

        @media(max-width: 1024px) {
            margin-right: 10px;
            max-width: 550px;
        }

        @media(max-width: 640px) {
            max-width: 100%;
            margin-right: 0;
            justify-content: normal;
            width: 100%;
        }

        @media(max-width: 620px) {
            flex-wrap: wrap;
        }

        .archive-filter__item {
            @media(max-width: 620px) {
                width: calc(50% - 8px) !important;
                max-width: 100% !important;
                margin-top: 8px;
            }
        }
    }

    &--search-pdf {
        display: flex;
        padding-left: 1px;
        padding-right: 1px;
        justify-content: start;
        gap: 40px;
        //margin-left: -40px;
        margin-top: 64px;
        @media(max-width: 640px) {
            gap: 17px;
            //margin-left: -17px;
            margin-top: 59px;
            justify-content: space-between;
        }
    }

    &__search-year {

        min-width: auto;
        max-width: none;
        width: 175px !important;
        @media(max-width: 640px) {
            width: 100% !important;
            margin-left: 0 !important;
            margin-top: 0 !important;
        }
    }

    &__item-label {

        font-family: Open Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: left;

        position: absolute;
        bottom: 100%;
        margin-bottom: 15px;
        @media(max-width: 640px) {
            margin-bottom: 13px;
        }
    }

}

.archive-filter__item.archive-filter__item--year.archive-filter__search-year {
}