.advertising {

    &__li {
        @media(max-width: 1024px) {
            font-size: 14px;
            line-height: 24px;
        }
    }

    &__group {
        @media(max-width: 1235px) {
            display: flex;
        }

        @media(max-width: 500px) {
            flex-direction: column;
        }

        .advertising__column {
            &:not(:last-child) {
                margin-right: 30px;
            }

            &:not(:first-child) {
                @media(max-width: 500px) {
                    margin-top: 25px;
                }
            }
        }
    }

    &__list {
        margin-top: 24px;

        @media(max-width: 768px) {
            margin-top: 0;
        }
    }

    &__word {
        margin-top: 10px;

        @media(max-width: 1024px) {
            font-size: 14px;
            line-height: 24px;
        }
    }

    &__note {
        margin-top: 16px;
        font-style: italic;

        @media(max-width: 1024px) {
            font-size: 14px;
            line-height: 24px;
        }

        @media(max-width: 600px) {
            margin-top: 0;
        }
    }

    &__wrapper {
        display: flex;

        @media(max-width: 1235px) {
            flex-direction: column;
        }

        .advertising__slab {

            &:not(:first-child) {
                @media(max-width: 1235px) {
                    margin-top: 30px;
                }

                @media(max-width: 768px) {
                    margin-top: 25px;
                }
            }


            &:nth-child(1) {
                max-width: 280px;
                margin-right: 64px;

                @media(max-width: 1300px) {
                    margin-right: 40px;
                }

                @media(max-width: 1235px) {
                    max-width: 100%;
                    margin-right: 0;
                }
            }

            &:nth-child(2) {
                max-width: 278px;
                margin-right: 64px;

                @media(max-width: 1235px) {
                    max-width: 100%;
                    margin-right: 0;
                }
            }

            &:nth-child(3) {
                max-width: 336px;

                @media(max-width: 1235px) {
                    max-width: 100%;
                }

                .advertising__clause {
                    max-width: 285px;

                    @media(max-width: 1235px) {
                        max-width: 100%;
                    }
                }
            }

            .advertising__clause {
                font-size: 14px;
                line-height: 22px;
                font-family: 'OpenSans', sans-serif;
            }

            .advertising__header {
                margin-bottom: 10px;
            }
        }
    }

    &__par {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;

        @media(max-width: 1024px) {
            font-size: 14px;
            line-height: 24px;
        }

        &:not(:first-child) {
            margin-top: 25px;
        }
    }

    &__clause {
        font-size: 16px;
        line-height: 26px;

        @media(max-width: 1024px) {
            font-size: 14px;
            line-height: 24px;
        }
    }

    &__right {
        max-width: 387px;
        width: 100%;

        @media(max-width: 768px) {
            max-width: 100%;
            margin-top: 25px;
        }

        // .advertising__par {
        //     &:not(:first-child) {
        //         margin-top: 25px;
        //     }
        // }
    }

    &__left {
        max-width: 442px;
        width: 100%;
        margin-right: 72px;

        @media(max-width: 1235px) {
            margin-right: 45px;
        }

        @media(max-width: 768px) {
            max-width: 100%;
            margin-right: 0px;
        }
    }

    &__grid {
        display: flex;
        justify-content: space-between;
        max-width: 746px;
        width: 100%;

        @media(max-width: 600px) {
            flex-direction: column;
        }

        .adversting__unity {
            &:first-child {
                max-width: 290px;
                width: 100%;
                margin-right: 30px;

                @media(max-width: 768px) {
                    max-width: 280px;
                }

                @media(max-width: 600px) {
                    max-width: 100%;
                }
            }

            &:last-child {
                max-width: 404px;
                width: 100%;

                @media(max-width: 600px) {
                    max-width: 100%;
                    margin-top: 25px;
                }
            }

            .advertising__header {
                margin-bottom: 8px;
                max-width: 200px;
            }

            .advertising__clause {
                font-family: 'OpenSans', sans-serif;
                font-size: 16px;
                line-height: 24px;

                @media(max-width: 1024px) {
                    font-size: 14px;
                    line-height: 22px;
                }
            }


        }
    }

    &__wrp {
        display: flex;
        margin-top: 12px;

        @media(max-width: 768px) {
            flex-direction: column;
        }

        .adversting__unity {
            &:first-child {
                max-width: 336px;
                width: 100%;
                margin-right: 30px;

                @media(max-width: 768px) {
                    max-width: 280px;
                }

                @media(max-width: 600px) {
                    max-width: 100%;
                }
            }

            &:last-child {
                max-width: 404px;
                width: 100%;

                @media(max-width: 600px) {
                    max-width: 100%;
                    margin-top: 25px;
                }
            }

            .advertising__header {
                margin-bottom: 8px;
            }

            .advertising__clause {
                font-family: 'OpenSans', sans-serif;
                font-size: 16px;
                line-height: 24px;

                @media(max-width: 1024px) {
                    font-size: 14px;
                    line-height: 22px;
                }
            }
        }
    }

    &__box {
        margin-top: 30px;
        padding-bottom: 27px;
        border-bottom: 1px solid $gray-3;

        @media(max-width: 768px) {
            margin-top: 25px;
        }

        @media(max-width: 600px) {
            padding-bottom: 20px;
        }

        &+.advertising__box {
            .advertising__left {
                max-width: 500px;
            }
        }


        &--discount {
            .adversting__unity {
                &:not(:last-child) {
                    margin-right: 38px;

                    @media(max-width: 768px) {
                        margin-right: 20px;
                    }
                }

                &:first-child {
                    max-width: 360px;
                }
            }

            .advertising__wrp {
                flex-direction: row;
                justify-content: space-between;
                max-width: 920px;

                @media(max-width: 600px) {
                    flex-direction: column;
                }
            }

            .advertising__note {
                @media(max-width: 600px) {
                    margin-top: 0px;
                }
            }
        }

        &--ad {

            .adversting__unity {
                &:first-child {
                    max-width: 484px;
                }
            }

            .advertising__module {
                &:not(:first-child) {
                    margin-top: 27px;

                    @media(max-width: 600px) {
                        margin-top: 22px;
                    }
                }
            }

            .advertising__note {
                margin-top: 25px;

                @media(max-width: 1024px) {
                    margin-top: 16px;
                }

                @media(max-width: 600px) {
                    display: none;
                }
            }

            .advertising__wrp {
                flex-direction: row;

                @media(max-width: 640px) {
                    flex-direction: column;
                }
            }
        }

        &--article {
            padding-bottom: 0;
            border-bottom: none;

            .advertising__note {
                margin-top: 25px;

                @media(max-width: 1024px) {
                    margin-top: 16px;
                }

                @media(max-width: 600px) {
                    margin-top: 0;
                }
            }

            .advertising__wrp {
                justify-content: space-between;
                max-width: 917px;

                .adversting__unity {
                    &:last-child {

                        .advertising__clause {
                            margin-top: 37px;
                        }

                        @media(max-width: 768px) {
                            margin-top: 25px;
                        }
                    }
                }
            }
        }
    }



    &__bloc {
        max-width: 878px;
        width: 100%;
        margin-top: 16px;

        @media(max-width: 640px) {
            margin-top: 7px;
        }
    }

    &__info {

        @media(max-width: 1024px) {
            font-size: 14px;
            line-height: 22px;
        }

        &:not(:first-child) {
            margin-top: 24px;

            @media(max-width: 640px) {
                margin-top: 21px;
            }
        }
    }

    &__text {
        @media(max-width: 1024px) {
            font-size: 14px;
            line-height: 22px;
        }
    }

    &__block {
        margin-top: 30px;

        @media(max-width: 768px) {
            margin-top: 25px;
        }

        .advertising__text {
            margin-top: 15px;
        }
    }

    &__unit {
        margin-top: 37px;
        padding-bottom: 24px;
        border-bottom: 1px solid $gray-3;

        @media(max-width: 1300px) {
            margin-top: 30px;
        }

        @media(max-width: 768px) {
            margin-top: 25px;
        }

        &:nth-child(2) {
            margin-top: 30px;

            .advertising__header {
                max-width: 160px;
            }

            .advertising__item {
                &:nth-child(1) {
                    max-width: 265px;
                    margin-right: 10px;
                }

                &:nth-child(2) {
                    max-width: 245px;
                }
            }
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;
        max-width: 870px;
        width: 100%;

        @media(max-width: 768px) {
            flex-direction: column;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;

        &:not(:first-child) {
            @media(max-width: 768px) {
                margin-top: 25px;
            }
        }

        &:not(:last-child) {
            margin-right: 30px;

            @media(max-width: 1024px) {
                margin-right: 25px;
            }

            @media(max-width: 768px) {
                margin-right: 0;
            }
        }

        &:nth-child(1) {
            max-width: 288px;
            width: 100%;
            margin-right: 54px;

            @media(max-width: 768px) {
                max-width: 100%;
            }
        }

        &:nth-child(2) {
            max-width: 315px;
            width: 100%;

            @media(max-width: 768px) {
                max-width: 100%;
            }
        }

        &:nth-child(3) {
            max-width: 184px;
            width: 100%;

            @media(max-width: 768px) {
                max-width: 100%;
            }
        }

        .advertising__header {
            min-height: 52px;

            @media(max-width: 768px) {
                min-height: initial;
            }
        }
    }

    &__txt {
        margin-top: 11px;
        font-size: 16px;
        line-height: 26px;

        @media(max-width: 1024px) {
            font-size: 14px;
            line-height: 24px;
        }

        @media(max-width: 768px) {
            margin-top: 8px;
            max-width: 600px;
        }


    }

    &__cover {
        &:last-child {
            border-bottom: 1px solid $black;
        }
    }
}